@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header2024.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  color-scheme: light only;
}

body {
  font-family: "Open Sans", sans-serif;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;

  /* load images */
  content: url(../../../images/amusementpark/nightshow/2024_banner01.jpg)
    url(../../../images/amusementpark/nightshow/2024_banner02.jpg)
    url(../../../images/amusementpark/nightshow/2024_gallery_bg.jpg)
    url(../../../images/amusementpark/nightshow/20204_wish_bg.jpg)
    url(../../../images/amusementpark/nightshow/announcement_bg.png)
    url(../../../images/amusementpark/nightshow/2024_footer_bg.jpg);
}

.skip-link {
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 12;
}

.skip-link:focus {
  top: 0;
  border: 2px solid #000;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

label {
  display: none;
}

.red {
  color: red;
}

.upper-round {
  position: relative;
}

.upper-round:after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: orange;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.orange {
  color: orange;
}

.chevron-left-img,
.chevron-right-img {
  display: block;
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

/* ------------------- banner  -------------------*/
.banner {
  position: relative;
}

.banner-list {
  display: flex;
}

.banner-img {
  display: block;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.banner-title {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 1);
  line-height: 1.45;
  font-size: 42px;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
  letter-spacing: -2px;
}

.banner-stop-btn {
  display: none;
  z-index: 10;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.banner-sotp-btn-img {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-play-btn {
  display: none;
  z-index: 10;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 10px;
}

.banner-play-btn-img {
  display: block;
  width: 100%;
  height: 100%;
}

.banner-stop-btn.active,
.banner-play-btn.active {
  display: block;
}

.banner-index-controls {
  display: flex;
  align-items: center;
  position: absolute;
  width: fit-content !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px !important;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  z-index: 10;
}

.banner-indexes {
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border: 6px solid #fff;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.banner-controls-btn-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
  z-index: 10;
}

.banner-controls-btn-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
  opacity: 0.5;
  z-index: 10;
}

.banner-controls-btn-left:hover,
.banner-controls-btn-right:hover {
  opacity: 1;
  cursor: pointer;
}

.banner-controls-btn-left:focus-visible,
.banner-controls-btn-right:focus-visible {
  border: 5px solid #fff;
  opacity: 1;
}

.aos-custom {
  opacity: 0;
}
/* ------------------- gallery  -------------------*/

.gallery {
  position: relative;
  padding: 140px 0;
  overflow: hidden;
}

.gallery-swiper-container {
  width: 1500px;
}

.gallery-img {
  width: 100%;
  border-radius: 10px;
}

.gallery-controls {
  max-width: 1400px;
  width: 100%;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 10;
}

.gallery-controls-btn-left {
  position: absolute;
  left: -25px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.gallery-controls-btn-right {
  position: absolute;
  right: -25px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* ------------------- festival-gallery  -------------------*/
.festival-gallery {
  position: relative;
  padding: 250px 0;
}

.festival-gallery .inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.festival-gallery-title {
  max-width: 1200px;
  font-size: 42px;
  letter-spacing: -2px;
  line-height: 1.318;
  margin-bottom: 50px;
  color: #000;
}

.fireworks-img-list {
  display: flex;
}

.fireworks-img-li {
  flex-basis: calc(100% / 4);
  filter: grayscale(1);
  transition: 0.3 ease;
}

.fireworks-img-li:hover {
  filter: grayscale(0);
  box-sizing: border-box;
}

.fireworks-img {
  display: block;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.festival-name {
  margin-top: 22px;
  font-size: 20px;
  letter-spacing: -1px;
}

.festival-date {
  margin-top: 10px;
  font-size: 15px;
  color: #969696;
  letter-spacing: -1px;
}

.festival-visitor {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: -1px;
  color: #3c3c3c;
}

.festival-highlight {
  font-weight: bold;
  color: #000;
}

.festival-swiper-container {
  border-radius: 12px;
  overflow: hidden;
  width: 687.5px;
}

.festival-gallery .swiper-wrapper {
  align-items: center;
}

.festival-img {
  display: block;
  width: 100%;
  height: 100%;
}

.festival-swiper-container {
  position: relative;
}

.festival-gallery-controls {
  max-width: 1400px;
  width: 100%;
  position: absolute;
  left: 50%;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 10;
}

.festival-gallery-controls-btn-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
}

.festival-gallery-controls-btn-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* ------------------- event  -------------------*/

.event {
  position: relative;
}

.up-deco-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  display: none;
}

.down-deco-img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  display: none;
}

.event-img {
  display: block;
  width: 100%;
  height: 100%;
}

.event-title {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 250px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.3;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  letter-spacing: -1px;
}

/* ------------------- wish  -------------------*/
.wish {
  position: relative;
}

.wish-bg-img {
  display: block;
  width: 100%;
}

.wish-container {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wish-title {
  font-size: 42px;
  color: #fff;
  text-align: left;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  letter-spacing: -2px;
}

.wish-form {
  width: 50%;
}

.wish-input {
  display: block;
  width: 100%;
  height: 70px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0 50px;
  box-sizing: border-box;
  font-size: 20px;
  color: #747474;
}

.wish-input.file-input {
  padding: 18px 50px;
}

.wish-input:not(:last-child) {
  margin-bottom: 15px;
}

.wish-btn {
  display: block;
  width: fit-content;
  padding: 0 25px;
  background-color: #a600a0;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 25px;
  border: none;
  margin: 15px auto 0 0;
  cursor: pointer;
}

.wish-desc {
  margin-top: 45px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.5px;
}

/* ------------------- announcement  -------------------*/
.announcement {
  position: relative;
  padding: 200px 0;
  z-index: 2;
}

.announcement-title {
  font-size: 42px;
  color: #000;
  margin-bottom: 50px;
  font-weight: 400;
  letter-spacing: -2px;
}

.announcement-desc {
  font-size: 24px;
  color: #606060;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -1.5px;
  word-spacing: 1px;
}

.announcement-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #606060;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  vertical-align: baseline;
  margin-right: 5px;
}

.announcement-welcome {
  margin-top: 130px;
  text-align: right;
  margin-bottom: 20px;
}

.announcement-welcome-img {
  width: 31.6%;
}

/* ------------------- footer  -------------------*/
.footer {
}

/* ------------------- up-link  -------------------*/
.up-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
}

.up-link.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
}

.up-link:focus-visible {
  border: 3px solid #fff;
}

.up-link-img {
  width: 100%;
  height: 100%;
}

/* ------------------- responsive max-width-1200px  -------------------*/
@media screen and (max-width: 1200px) {
  .gallery {
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
  }

  .gallery-swiper-container {
    max-width: 1200px;
    width: 1200px;
  }

  .festival-gallery {
    box-sizing: border-box;
  }

  .announcement {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 25px;
    left: 10%;
  }

  .banner-controls-btn-left {
    width: 50px;
    height: 50px;
  }

  .banner-controls-btn-right {
    width: 50px;
    height: 50px;
  }

  .gallery {
    padding: 110px 60px;
  }

  .gallery-swiper-container {
    width: 768px;
  }

  .gallery-controls-btn-left {
    width: 40px;
    height: 40px;
  }

  .gallery-controls-btn-right {
    width: 40px;
    height: 40px;
  }

  .chevron-left-img,
  .chevron-right-img {
    width: 60%;
    height: 60%;
  }

  .festival-gallery {
    padding: 100px 0;
  }

  .inner {
    box-sizing: border-box;
    padding: 0 30px;
  }

  .festival-gallery-title {
    font-size: 25px;
    box-sizing: border-box;

    letter-spacing: -1px;
  }

  .fireworks-img-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fireworks-img-li {
    flex-basis: calc((100% - 30px) / 2);
  }

  .fireworks-img-li:nth-child(-n + 2) {
    margin-bottom: 30px;
  }

  .festival-name {
    margin-top: 15px;
  }

  .festival-date {
    margin-top: 7.5px;
  }

  .festival-visitor {
    margin-top: 15px;
  }

  .event-title {
    font-size: 25px;
    left: 30px;
    bottom: 150px;
  }

  .wish-title {
    font-size: 25px;
  }

  .wish-bg-img {
    height: 480px;
    object-fit: cover;
  }

  .wish-container {
    box-sizing: border-box;
    padding: 0 30px;
  }

  .wish-title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .wish-input {
    width: 100%;
    height: 50px;
    padding: 15px 30px;
    font-size: 17px;
    margin-bottom: 15px;
  }

  .wish-input.file-input {
    font-size: 14px;
    padding: 0;
    padding: 10px 30px;
  }

  .wish-btn {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .wish-desc {
    font-size: 14px;
    margin-top: 40px;
  }

  .announcement {
    padding: 100px 30px;
  }

  .announcement-title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .announcement-desc {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .announcement-number {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin: 0 auto;
  }

  .announcement-welcome {
    margin-top: 60px;
  }

  .announcement-welcome-img {
    width: 250px;
  }
}

@media screen and (max-width: 550px) {
  .banner {
    height: 300px;
  }
  .banner .swiper {
    height: 100%;
  }
  .banner-img {
    display: block;
    height: 100%;
    object-fit: cover;
  }

  .banner-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }

  .banner-controls-btn-left {
    display: none;
  }
  .banner-controls-btn-right {
    display: none;
  }

  .banner-index-controls {
    padding: 10px;
  }

  .banner-stop-btn {
    width: 15px;
    height: 15px;
  }
  .banner-play-btn {
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }

  .festival-gallery {
    padding: 50px 0;
  }

  .inner {
    padding: 0 20px;
  }

  .festival-gallery-title {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
  }

  .fireworks-img-li {
    flex-basis: calc((100% - 20px) / 2);
  }

  .festival-name {
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: -0.5px;
  }

  .festival-date {
    font-size: 12px;
    letter-spacing: -0.5px;
    margin-top: 6px;
  }

  .festival-visitor {
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: -0.5px;
  }

  .event-title {
    font-size: 20px;
    left: 20px;
    bottom: 50px;
    letter-spacing: -0.5px;
  }

  .event .swiper {
    height: 300px;
  }

  .event-img {
    object-fit: cover;
  }

  .wish-container {
    padding: 50px 20px;
  }

  .wish-bg-img {
    height: 460px;
  }

  .wish-title {
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
  }

  .wish-form {
    width: initial;
  }

  .wish-input {
    width: 100%;
    font-size: 14px;
    padding: 5px 20px;
  }

  .wish-input.file-input {
    font-size: 14px;
  }

  .wish-btn {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }

  .wish-desc {
    margin-top: 20px;
  }

  .announcement {
    padding: 50px 20px;
  }
  .announcement-title {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .announcement-desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 14px;
    letter-spacing: -0.5px;
  }
  .announcement-number {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 13px;
    margin-right: 5px;
  }

  .announcement-text {
    flex-grow: 1;
    line-height: 1.618;
  }

  .announcement-welcome-img {
    width: 150px;
  }
}
