@charset "UTF-8";
/* 페이지 공통 레이아웃 */
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
@import url(./module.css);
/* 자주사용되는 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.header__li:nth-child(2) > .header__link {
  color: #e60000; /* nav 의 나이트쇼 글자 빨갛게 변경 */
}

a.hidingThreshold + * {
  position: relative;
  transition: 1s ease-in-out;
  top: 100px;
  opacity: 0;
}

/*=================================================================================*/
.main__banner {
  background-image: url(../../../images/amusementpark/nightshow/fireworks.jpg);
}
.main__inner {
  max-width: 1200px;
  width: 100%;
  margin: 100px auto 0 auto;
}
.main__inner:last-child {
  margin-bottom: 100px;
}
@media screen and (max-width: 1281px) {
  .main__inner {
    margin-top: 80px;
  }
  .main__inner:last-child {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .main__inner {
    margin-top: 50px;
  }
  .main__inner:last-child {
    margin-bottom: 50px;
  }
}
.main__desc {
  width: 30%;
  margin: 0 auto 30px auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .main__desc {
    width: 60%;
  }
}
.main__slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .main__slider {
    width: 900px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1000px) {
  .main__slider {
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .main__slider {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .main__slider {
    width: 200px;
  }
}
.main__slider-inner {
  width: 1600px;
  height: 300px;
  white-space: nowrap;
}
.main__slider-ly {
  position: relative;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}
.main__slide {
  width: 298px;
  height: 300px;
  margin: 0 1px;
}
.main__event {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  border-radius: 10px;
  background-image: url(../../../images/amusementpark/nightshow/letter_back.PNG);
}
.main__event:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #321d36 100%);
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .main__event {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .main__event {
    padding: 50px 0;
  }
}
.main__event-form {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .main__event-form {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .main__event-form {
    width: 85%;
  }
}
.main__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.main__radio {
  display: block;
  width: 100%;
  margin: 5px 0;
  text-align: center;
}
.main__label {
  display: inline-block;
}
.main__title {
  display: inline-block;
}
.main__textarea {
  width: 100%;
  margin-bottom: 10px;
}
.main__button {
  margin: 0 auto;
  display: block;
}
.main__button {
  margin: 50px auto 0 auto;
}
.main__reward-label {
  display: block;
  text-align: center;
}
.main__reward-li {
  width: 30%;
  display: inline-block;
  margin-right: 5px;
}
@media screen and (max-width: 1281px) {
  .main__reward-li {
    box-sizing: border-box;
    margin: 0 5px;
  }
}
@media screen and (max-width: 600px) {
  .main__reward-li {
    width: 40%;
  }
}
.main__reward-img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}
@media screen and (max-width: 600px) {
  .main__reward-img {
    height: 160px;
  }
}
.main__benefit-ul-ly {
  width: 100%;
  white-space: nowrap;
}
@media screen and (max-width: 1281px) {
  .main__benefit-ul-ly {
    white-space: initial;
    text-align: center;
  }
}
.main__benefit-li-ly {
  position: relative;
  display: inline-block;
  height: 298px;
  width: 298px;
}
@media screen and (max-width: 1281px) {
  .main__benefit-li-ly {
    margin: 5px;
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .main__benefit-li-ly {
    display: block;
    margin: 0 auto 10px auto;
    height: 190px;
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .main__benefit-li-ly:last-child {
    margin: 0 auto;
  }
}
.main__benefit-li {
  background-color: white;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__benefit-li:nth-child(1) {
  background-color: #3870e0;
  background-image: url(../../../images/amusementpark/nightshow/nightshow_fireworks.PNG);
}
.main__benefit-li:nth-child(2) {
  background-color: #b30fff;
}
.main__benefit-li:nth-child(3) {
  background-color: #3870e0;
  background-image: url(../../../images/amusementpark/nightshow/nightsky.PNG);
}
.main__benefit-li:nth-child(4) {
  background-color: #3870e0;
}
.main__benefit-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main__benefit-p-ly {
  width: 90%;
  text-align: center;
  margin: 20px auto;
  line-height: 20px;
}
.main__benefit-p {
  background-color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 1281px) {
  .main__benefit-p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .main__benefit-p {
    font-size: 1.1rem;
    word-break: keep-all;
  }
}
.main__benefit-btn {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=nightshow.css.map */