@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav > .wrapper li:nth-child(2) a {
  color: red; /* nav 의 나이트쇼 글자 빨갛게 변경 */
}

a.hiding + * {
  position: relative;
  transition: 1s ease-in-out;
  top: 100px;
  opacity: 0;
}

main {
  /* -------------------------------------------- main ------------------------------------------- */
}
main .banner {
  /*----------------------- main .banner ------------------------ */
  width: 100%;
  height: 500px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .banner {
    height: 400px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .banner {
    height: 300px;
  }
}
main .banner .main_img {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
main .info {
  /*----------------------- main .info ------------------------ */
  max-width: 1200px;
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .info {
    transition: 0.3s ease-in-out;
    padding: 100px 0;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .info {
    padding: 50px 0;
    overflow: hidden;
  }
}
main .info .sub-desc {
  width: 30%;
  margin: 0 auto;
  font-size: 1.6em;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #666;
  padding: 8px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .info .sub-desc {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .info .sub-desc {
    width: 60%;
    font-size: 1.2rem;
  }
}
main .info .desc {
  width: 30%;
  margin: 0 auto 30px auto;
  font-size: 2rem;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  color: #333;
  padding: 8px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .info .desc {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .info .desc {
    width: 60%;
    font-size: 1.5rem;
  }
}
main .info .contents {
  width: 100%;
  height: initial;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .info .contents {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .info .contents {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
}
main .info .contents .slider-wrapper {
  position: relative;
  left: 0;
  top: 0;
  width: 1600px;
  overflow: hidden;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .info .contents .slider-wrapper {
    left: 0;
    transition: 0.3s ease;
    overflow: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .info .contents .slider-wrapper {
    left: 0;
  }
}
main .info .contents .slider-wrapper .slider {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}
main .info .contents .slider-wrapper .slider .slide {
  float: left;
  width: 298px;
  height: 300px;
  background-color: black;
  white-space: nowrap;
  margin: 0 1px;
  transition: 0.5s ease;
  box-sizing: border-box;
  cursor: pointer;
}
main .info .contents .slider-wrapper .slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
main .info .contents .slider-wrapper .slider:after {
  content: "";
  clear: both;
  display: block;
}
main .info .contents .overlay {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 99;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
main .info .contents .overlay.visible {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
main .info .contents .overlay img {
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: aliceblue;
  -o-object-fit: cover;
     object-fit: cover;
}
main .letter-wrapper {
  background-color: #e5e5e7;
  position: relative;
  background-image: url(../../../images/amusementpark/nightshow/letter_back.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .letter-wrapper:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  z-index: 0;
}
main .letter-wrapper .letter {
  /*----------------------- main .letter ------------------------ */
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
main .letter-wrapper .letter:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #321d36 100%);
  z-index: 0;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter {
    padding: 50px 0;
  }
}
main .letter-wrapper .letter .desc {
  width: 30%;
  margin: 0 auto 30px auto;
  font-size: 2rem;
  font-weight: bold;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: #333;
  padding: 8px;
  text-align: center;
  position: relative;
  top: -30px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .letter-wrapper .letter .desc {
    font-size: 1.7rem;
    margin: 0 auto 10px auto;
    white-space: nowrap;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .desc {
    width: 60%;
    font-size: 1.5rem;
    margin: 0 auto 10px auto;
  }
}
main .letter-wrapper .letter .form-wrapper {
  padding: 50px 0;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .letter-wrapper .letter .form-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper {
    min-width: initial;
    width: 85%;
    padding: 0;
  }
}
main .letter-wrapper .letter .form-wrapper form label {
  display: inline-block;
  background-color: #1c3055;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1.7rem;
  box-shadow: 1px 1px 10px rgb(77, 77, 77);
  font-weight: bold;
  margin: 30px 0 10px 0;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .letter-wrapper .letter .form-wrapper form label {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form label {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: normal;
  }
}
main .letter-wrapper .letter .form-wrapper form input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.7rem;
  margin: 8px 0;
  border: none;
  box-shadow: 1px 1px 10px rgb(166, 166, 166);
}
main .letter-wrapper .letter .form-wrapper form input[type=radio] {
  width: 100%;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  margin: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .letter-wrapper .letter .form-wrapper form input {
    padding: 15px;
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form input {
    padding: 10px;
    font-size: 1.5rem;
  }
}
main .letter-wrapper .letter .form-wrapper form textarea {
  resize: none;
  width: 100%;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 10px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form textarea {
    font-size: 1.5rem;
  }
}
main .letter-wrapper .letter .form-wrapper form .customer-item li {
  width: 30%;
  height: 220px;
  margin: 10px;
  display: inline-block;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .letter-wrapper .letter .form-wrapper form .customer-item li {
    box-sizing: border-box;
    margin: 0 5px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form .customer-item li {
    width: 40%;
    height: 150px;
  }
}
main .letter-wrapper .letter .form-wrapper form .customer-item li img {
  width: 100%;
  height: 90%;
  border-radius: 15px;
  border: 3px solid white;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form .customer-item li img {
    height: 70%;
  }
}
main .letter-wrapper .letter .form-wrapper form button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  font-size: 1.7rem;
  border-radius: 15px;
  border: transparent;
  background-color: #e1e1e1;
  margin-top: 50px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .letter-wrapper .letter .form-wrapper form button {
    padding: 5px 20px;
    font-size: 1.4rem;
  }
}
main .benefits {
  /*----------------------- main .benefits ------------------------ */
  position: relative;
  padding: 100px 0;
}
main .benefits .sub-desc {
  width: 30%;
  margin: 0 auto;
  font-size: 1.6em;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #666;
  padding: 8px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .sub-desc {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .sub-desc {
    width: 60%;
    font-size: 1.2rem;
  }
}
main .benefits .desc {
  width: 30%;
  margin: 0 auto 30px auto;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: #333;
  padding: 8px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .desc {
    width: 30%;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .desc {
    width: 60%;
    font-size: 1.5rem;
  }
}
main .benefits .listwrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  white-space: nowrap;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .listwrapper {
    white-space: initial;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .listwrapper {
    white-space: initial;
  }
}
main .benefits .listwrapper ul {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
main .benefits .listwrapper .benefit {
  display: inline-block;
  height: 300px;
  width: 298px;
  background-color: white;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .listwrapper .benefit {
    margin: 5px;
    width: 40%;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .listwrapper .benefit {
    margin: 3px 1px;
    height: 190px;
    width: 80%;
  }
}
main .benefits .listwrapper .benefit > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .benefits .listwrapper .benefit p {
  width: 90%;
  font-size: 1.4rem;
  margin: 20px auto;
  font-weight: bold;
  color: white;
  line-height: 20px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .listwrapper .benefit p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .listwrapper .benefit p {
    font-size: 1.1rem;
    word-break: keep-all;
  }
}
main .benefits .listwrapper .benefit li:nth-child(2n) {
  position: relative;
  top: 20px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .listwrapper .benefit li:nth-child(2n) {
    top: 0;
    margin: 10px;
  }
}
main .benefits .listwrapper .benefit button {
  width: 50%;
  margin: 0 auto;
  padding: 7px 0;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main .benefits .listwrapper .benefit button {
    width: 40%;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main .benefits .listwrapper .benefit button {
    width: 30%;
    font-size: 1.1rem;
  }
}
main .benefits .listwrapper .benefit:hover button {
  cursor: pointer;
}
main .benefits .listwrapper .benefit:nth-child(1) {
  background-color: #287fc9;
  background-image: url(../../../images/amusementpark/nightshow/nightshow_fireworks.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .benefits .listwrapper .benefit:nth-child(2) {
  background-color: orange;
}
main .benefits .listwrapper .benefit:nth-child(3) {
  background-color: #287fc9;
  background-image: url(../../../images/amusementpark/nightshow/nightsky.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .benefits .listwrapper .benefit:nth-child(4) {
  background-color: #287fc9;
}/*# sourceMappingURL=nightshow.css.map */