@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  & > .wrapper {
    li {
      &:nth-child(2) a {
        color: #e60000; /* nav 의 나이트쇼 글자 빨갛게 변경 */
      }
    }
  }
}

a.hiding {
  & + * {
    position: relative;
    transition: 1s ease-in-out;
    top: 100px;
    opacity: 0;
  }
}

@mixin content-resoure-path($resource) {
  background-image: url(../../../images/amusementpark/nightshow/#{$resource});
}

main {
  /* -------------------------------------------- main ------------------------------------------- */
  .banner {
    /*----------------------- main .banner ------------------------ */
    width: 100%;
    height: 500px;

    @media screen and (max-width: 1281px) {
      & {
        height: 400px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        height: 300px;
      }
    }

    .main_img {
      width: 100%;
      margin: 0 auto;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: 90%;

      @media screen and (max-width: 600px) {
        & {
          background-size: cover;
        }
      }
    }
  }

  .info {
    /*----------------------- main .info ------------------------ */
    max-width: 1200px;
    width: 100%;
    padding: 100px 0;
    margin: 0 auto;
    @media screen and (max-width: 1281px) {
      & {
        transition: 0.3s ease-in-out;
        padding: 100px 0;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        padding: 50px 0;
        overflow: hidden;
      }
    }

    .sub-desc {
      width: 30%;
      margin: 0 auto;
      font-size: 1.6em;
      border-top: 1px solid #ccc;
      font-weight: bold;
      color: #666;
      padding: 8px;
      text-align: center;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 1.4rem;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 60%;
          font-size: 1.2rem;
        }
      }
    }

    .desc {
      width: 30%;
      margin: 0 auto 30px auto;
      font-size: 2rem;
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      color: #333;
      padding: 8px;
      text-align: center;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 1.7rem;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 60%;
          font-size: 1.5rem;
        }
      }
    }

    .contents {
      width: 100%;
      height: initial;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 1281px) {
        & {
          width: 900px;
          overflow: hidden;
          margin: 0 auto;
        }
      }

      @media screen and (max-width: 1279px) {
        & {
          width: 600px;
          overflow: hidden;
          margin: 0 auto;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 300px;
          overflow: hidden;
          margin: 0 auto;
        }
      }

      & .slider-wrapper {
        position: relative;
        left: 0;
        top: 0;
        width: 1600px;
        overflow: hidden;

        @media screen and (max-width: 1281px) {
          & {
            left: 0;
            transition: 0.3s ease;
            overflow: hidden;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            left: 0;
          }
        }

        .slider {
          width: 100%;
          height: 100%;
          position: relative;
          left: 0;
          white-space: nowrap;
          overflow: hidden;

          .slide {
            float: left;
            width: 298px;
            height: 300px;
            background-color: black;
            white-space: nowrap;
            margin: 0 1px;
            transition: 0.5s ease;
            //border: 3px solid purple;
            box-sizing: border-box;
            cursor: pointer;
            border: none;

            &:focus-visible {
              border: 5px solid white;
              box-sizing: border-box;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center center;
            }
          }
          &:after {
            content: "";
            clear: both;
            display: block;
          }
        }
      }

      & .slider-controller {
        position: absolute;
        bottom: 10px;
        right: 10px;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;

        & button {
          background-color: transparent;
          border: none;
          padding: 0;
          cursor: pointer;

          & img {
            width: 15px;
            height: 15px;
            display: block;
            background-color: transparent;
          }
        }
      }

      & .overlay {
        position: fixed;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 99;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        opacity: 0;

        &.visible {
          opacity: 1;
          pointer-events: all;
          overflow: hidden;
        }

        & .guide {
          position: absolute;
          color: white;
          left: 50%;
          bottom: 15%;
          padding: 5px 10px;
          transform: translateX(-50%);
          font-size: 1.4rem;
          cursor: pointer;

          @media screen and (max-width: 1281px) {
            & {
              width: 80%;
              text-align: center;
              line-height: 1.618;
            }
          }
        }

        img {
          position: absolute;
          width: 40%;
          height: 50%;
          border-radius: 15px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          overflow: hidden;
          background-color: aliceblue;
          object-fit: cover;

          @media screen and (max-width: 1281px) {
            & {
              width: 80%;
              height: 50%;
            }
          }

          @media screen and (max-width: 600px) {
            & {
              width: 80%;
              height: 50%;
            }
          }
        }
      }
    }
  }

  .letter-wrapper {
    position: relative;

    // &:before {
    //   position: absolute;
    //   content: "";
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 70%;
    //   background: linear-gradient(to bottom, transparent 0%, black 100%);
    //   z-index: 0;
    // }

    .letter {
      /*----------------------- main .letter ------------------------ */
      position: relative;
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 0;
      @include content-resoure-path("letter_back.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      border-radius: 10px;

      &:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent 0%, #321d36 100%);
        z-index: 0;
      }

      @media screen and (max-width: 1200px) {
        & {
          border-radius: 0;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          padding: 50px 0;
        }
      }

      .desc {
        width: 30%;
        margin: 0 auto 30px auto;
        font-size: 2rem;
        font-weight: bold;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: #333;
        padding: 8px;
        text-align: center;
        position: relative;
        top: -30px;

        @media screen and (max-width: 1281px) {
          & {
            font-size: 1.7rem;
            margin: 0 auto 10px auto;
            white-space: nowrap;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            width: 60%;
            font-size: 1.5rem;
            margin: 0 auto 10px auto;
          }
        }
      }

      .form-wrapper {
        width: 60%;
        margin: 0 auto;
        position: relative;

        @media screen and (max-width: 1281px) {
          & {
            width: 80%;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            min-width: initial;
            width: 85%;
            padding: 0;
          }
        }

        form {
          & > div {
            margin-bottom: 10px;
          }

          label,
          h4 {
            display: inline-block;
            background-color: #1c3055;
            color: white;
            padding: 10px 15px;
            font-size: 1.6rem;
            box-shadow: 1px 1px 10px rgb(77, 77, 77);
            font-weight: bold;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            &.for-radio {
              display: none;
            }

            @media screen and (max-width: 1281px) {
              & {
                font-size: 1.5rem;
              }
            }

            @media screen and (max-width: 600px) {
              & {
                font-size: 1.3rem;
                padding: 10px;
                font-weight: normal;
              }
            }
          }
          input {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
            font-size: 1.7rem;
            border: none;
            box-shadow: 1px 1px 10px rgb(166, 166, 166);

            &[type="radio"] {
              width: 100%;
              box-shadow: none;
              box-sizing: border-box;
              display: block;
              padding: 0;
              margin: 5px 0;
            }

            @media screen and (max-width: 1281px) {
              & {
                padding: 15px;
                font-size: 1.7rem;
              }
            }

            @media screen and (max-width: 600px) {
              & {
                padding: 10px;
                font-size: 1.5rem;
              }
            }
          }
          textarea {
            resize: none;
            width: 100%;
            font-size: 1.8rem;
            box-sizing: border-box;
            padding: 10px;

            @media screen and (max-width: 600px) {
              & {
                font-size: 1.5rem;
              }
            }
          }

          .customer-item {
            li {
              width: 30%;
              height: 220px;
              display: inline-block;
              margin-right: 5px;

              @media screen and (max-width: 1281px) {
                & {
                  box-sizing: border-box;
                  margin: 0 5px;
                }
              }

              @media screen and (max-width: 600px) {
                & {
                  width: 40%;
                  height: 150px;
                }
              }

              img {
                width: 100%;
                height: 90%;
                border-radius: 5px;
                border: 1px solid white;
                display: block;
                object-fit: cover;

                @media screen and (max-width: 600px) {
                  & {
                    height: 70%;
                  }
                }
              }
            }
          }

          button {
            margin: 0 auto;
            display: block;
            padding: 10px 20px;
            font-size: 1.7rem;
            border-radius: 15px;
            border: transparent;
            background-color: #e1e1e1;
            margin-top: 50px;

            @media screen and (max-width: 1281px) {
              & {
              }
            }

            @media screen and (max-width: 600px) {
              & {
                padding: 5px 20px;
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }

  .benefits {
    /*----------------------- main .benefits ------------------------ */
    position: relative;
    padding: 100px 0;

    @media screen and (max-width: 1281px) {
      & {
      }
    }

    @media screen and (max-width: 600px) {
      & {
      }
    }

    .sub-desc {
      width: 30%;
      margin: 0 auto;
      font-size: 1.6em;
      border-top: 1px solid #ccc;
      font-weight: bold;
      color: #666;
      padding: 8px;
      text-align: center;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 1.4rem;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 60%;
          font-size: 1.2rem;
        }
      }
    }

    .desc {
      width: 30%;
      margin: 0 auto 30px auto;
      font-size: 2rem;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      color: #333;
      padding: 8px;
      text-align: center;

      @media screen and (max-width: 1281px) {
        & {
          width: 30%;
          font-size: 1.8rem;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 60%;
          font-size: 1.5rem;
        }
      }
    }

    .listwrapper {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      z-index: 1;
      position: relative;
      white-space: nowrap;

      @media screen and (max-width: 1281px) {
        & {
          white-space: initial;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          white-space: initial;
        }
      }

      ul {
        width: 100%;
        text-align: center;
      }

      .benefit {
        display: inline-block;
        height: 300px;
        width: 298px;
        background-color: white;
        vertical-align: middle;
        transition: 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        @media screen and (max-width: 1281px) {
          & {
            margin: 5px;
            width: 40%;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            margin: 3px 1px;
            height: 190px;
            width: 80%;
          }
        }

        & > div {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        p {
          width: 90%;
          background-color: inherit;
          font-size: 1.4rem;
          margin: 20px auto;
          font-weight: bold;
          color: white;
          line-height: 20px;

          @media screen and (max-width: 1281px) {
            & {
              font-size: 1.3rem;
            }
          }

          @media screen and (max-width: 600px) {
            & {
              font-size: 1.1rem;
              word-break: keep-all;
            }
          }
        }

        li {
          &:nth-child(2n) {
            position: relative;
            top: 20px;

            @media screen and (max-width: 600px) {
              & {
                top: 0;
                margin: 10px;
              }
            }
          }
        }

        button {
          width: 50%;
          margin: 0 auto;
          padding: 7px 0;
          border-radius: 15px;
          border: none;
          font-size: 1.2rem;
          transition: 0.3s ease-in-out;

          @media screen and (max-width: 1281px) {
            & {
              width: 40%;
              font-size: 1.3rem;
            }
          }

          @media screen and (max-width: 600px) {
            & {
              width: 30%;
              font-size: 1.1rem;
            }
          }
        }

        &:hover button {
          cursor: pointer;
        }
      }

      li.benefit:nth-child(1) {
        background-color: #3870e0;
        @include content-resoure-path("nightshow_fireworks.PNG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      li.benefit:nth-child(2) {
        background-color: #b30fff;
      }
      li.benefit:nth-child(3) {
        background-color: #3870e0;
        @include content-resoure-path("nightsky.PNG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      li.benefit:nth-child(4) {
        background-color: #3870e0;
      }
    }
  }
}
