@charset "UTF-8";
/* 페이지 공통 레이아웃 */
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
/* 자주사용되는 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.header__li:nth-child(2) > .header__link {
  color: #e60000; /* nav 의 나이트쇼 글자 빨갛게 변경 */
}

a.hidingThreshold + * {
  position: relative;
  transition: 1s ease-in-out;
  top: 100px;
  opacity: 0;
}

/*=================================================================================*/
.main__banner {
  background-image: url(../../../images/amusementpark/nightshow/fireworks.jpg);
}
.main__inner {
  max-width: 1200px;
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .main__inner {
    padding: 100px 0;
  }
}
@media screen and (max-width: 600px) {
  .main__inner {
    padding: 50px 0;
  }
}
.main .desc__text {
  font-weight: bold;
  color: #666;
  padding: 8px 0;
}
.main .desc__text--small {
  font-size: 16px;
}
@media screen and (max-width: 1281px) {
  .main .desc__text--small {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .main .desc__text--small {
    font-size: 12px;
  }
}
.main .desc__text--big {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  padding: 8px;
}
@media screen and (max-width: 1281px) {
  .main .desc__text--big {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .main .desc__text--big {
    font-size: 15px;
  }
}
.main .desc__text--border-top {
  border-top: 1px solid #ccc;
}
.main .desc__text--border-bottom {
  border-bottom: 1px solid #ccc;
}
.main .desc__text--border-white {
  border-color: white;
}
.main__desc {
  width: 30%;
  margin: 0 auto 30px auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .main__desc {
    width: 60%;
  }
}
.main .overlay-slider__slide {
  float: left;
  background-color: black;
  transition: 0.5s ease;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}
.main .overlay-slider__slide:focus-visible {
  border: 3px solid white;
  box-sizing: border-box;
}
.main .overlay-slider__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.main .overlay-slider:after {
  content: "";
  clear: both;
  display: block;
}
.main .overlay-slider__controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
.main .overlay-slider__controls button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.main .overlay-slider__controls button img {
  width: 15px;
  height: 15px;
  display: block;
  background-color: transparent;
}
.main .overlay-slider__overlay {
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 99;
}
.main .overlay-slider__overlay.visible {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.main .overlay-slider__overlay-img {
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: aliceblue;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1281px) {
  .main .overlay-slider__overlay-img {
    width: 80%;
    height: 50%;
  }
}
@media screen and (max-width: 600px) {
  .main .overlay-slider__overlay-img {
    width: 80%;
    height: 50%;
  }
}
.main .overlay-slider__overlay-guide-txt {
  position: absolute;
  color: white;
  left: 50%;
  bottom: 15%;
  padding: 5px 10px;
  transform: translateX(-50%);
  font-size: 1.4rem;
  cursor: pointer;
}
@media screen and (max-width: 1281px) {
  .main .overlay-slider__overlay-guide-txt {
    width: 80%;
    text-align: center;
    line-height: 1.618;
  }
}
.main__slider {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .main__slider {
    width: 900px;
    overflow: hidden;
  }
}
@media screen and (max-width: 1000px) {
  .main__slider {
    width: 600px;
  }
}
@media screen and (max-width: 600px) {
  .main__slider {
    width: 300px;
  }
}
@media screen and (max-width: 300px) {
  .main__slider {
    width: 200px;
  }
}
.main__slider-inner {
  width: 1600px;
  height: 300px;
  white-space: nowrap;
}
.main__slider-ly {
  position: relative;
  left: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}
.main__slide {
  width: 298px;
  height: 300px;
  margin: 0 1px;
}
.main__letter {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  border-radius: 10px;
  background-image: url(../../../images/amusementpark/nightshow/letter_back.PNG);
}
.main__letter:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #321d36 100%);
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .main__letter .letter {
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .main__letter .letter {
    padding: 50px 0;
  }
}
.main__letter .letter form {
  width: 60%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1281px) {
  .main__letter .letter form {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .main__letter .letter form {
    min-width: initial;
    width: 85%;
    padding: 0;
  }
}
.main__letter .letter form input,
.main__letter .letter form textarea {
  margin-bottom: 10px;
}
.main__letter .letter form label,
.main__letter .letter form h4 {
  display: inline-block;
  background-color: #1c3055;
  color: white;
  padding: 10px 15px;
  font-size: 1.6rem;
  box-shadow: 1px 1px 10px rgb(77, 77, 77);
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main__letter .letter form label.reward-label,
.main__letter .letter form h4.reward-label {
  display: none;
}
@media screen and (max-width: 1281px) {
  .main__letter .letter form label,
  .main__letter .letter form h4 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .main__letter .letter form label,
  .main__letter .letter form h4 {
    font-size: 1.3rem;
    padding: 10px;
    font-weight: normal;
  }
}
.main__letter .letter form input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.7rem;
  border: none;
  box-shadow: 1px 1px 10px rgb(166, 166, 166);
}
.main__letter .letter form input[type=radio] {
  width: 100%;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 5px 0;
}
@media screen and (max-width: 1281px) {
  .main__letter .letter form input {
    padding: 15px;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  .main__letter .letter form input {
    padding: 10px;
    font-size: 1.5rem;
  }
}
.main__letter .letter form textarea {
  resize: none;
  width: 100%;
  font-size: 1.8rem;
  box-sizing: border-box;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .main__letter .letter form textarea {
    font-size: 1.5rem;
  }
}
.main__letter .letter form .reward .reward-ul .reward-li {
  width: 30%;
  height: 220px;
  display: inline-block;
  margin-right: 5px;
}
@media screen and (max-width: 1281px) {
  .main__letter .letter form .reward .reward-ul .reward-li {
    box-sizing: border-box;
    margin: 0 5px;
  }
}
@media screen and (max-width: 600px) {
  .main__letter .letter form .reward .reward-ul .reward-li {
    width: 40%;
    height: 150px;
  }
}
.main__letter .letter form .reward .reward-ul .reward-li img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  border: 1px solid white;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 600px) {
  .main__letter .letter form .reward .reward-ul .reward-li img {
    height: 70%;
  }
}
.main__letter .letter form button {
  margin: 0 auto;
  display: block;
  padding: 10px 20px;
  font-size: 1.7rem;
  border-radius: 15px;
  border: transparent;
  background-color: #e1e1e1;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .main__letter .letter form button {
    padding: 5px 20px;
    font-size: 1.4rem;
  }
}
.main .benefits-wrapper {
  /*----------------------- main .benefits-wrapper ------------------------ */
  position: relative;
  padding: 100px 0;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  white-space: nowrap;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper {
    white-space: initial;
  }
}
.main .benefits-wrapper .sub-desc {
  width: 30%;
  margin: 0 auto;
  font-size: 1.6em;
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #666;
  padding: 8px;
  text-align: center;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper .sub-desc {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .sub-desc {
    width: 60%;
    font-size: 1.2rem;
  }
}
.main .benefits-wrapper .desc {
  width: 30%;
  margin: 0 auto 30px auto;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: #333;
  padding: 8px;
  text-align: center;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper .desc {
    width: 30%;
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .desc {
    width: 60%;
    font-size: 1.5rem;
  }
}
.main .benefits-wrapper .benefit-ul {
  width: 100%;
  text-align: center;
}
.main .benefits-wrapper .benefit-li {
  display: inline-block;
  height: 300px;
  width: 298px;
  background-color: white;
  vertical-align: middle;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper .benefit-li {
    margin: 5px;
    width: 40%;
  }
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .benefit-li {
    margin: 3px 1px;
    height: 190px;
    width: 80%;
  }
}
.main .benefits-wrapper .benefit-li > div {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .benefits-wrapper .benefit-li p {
  width: 90%;
  background-color: inherit;
  font-size: 1.4rem;
  margin: 20px auto;
  font-weight: bold;
  color: white;
  line-height: 20px;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper .benefit-li p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .benefit-li p {
    font-size: 1.1rem;
    word-break: keep-all;
  }
}
.main .benefits-wrapper .benefit-li li:nth-child(2n) {
  position: relative;
  top: 20px;
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .benefit-li li:nth-child(2n) {
    top: 0;
    margin: 10px;
  }
}
.main .benefits-wrapper .benefit-li button {
  width: 50%;
  margin: 0 auto;
  padding: 7px 0;
  border-radius: 15px;
  border: none;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1281px) {
  .main .benefits-wrapper .benefit-li button {
    width: 40%;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 600px) {
  .main .benefits-wrapper .benefit-li button {
    width: 30%;
    font-size: 1.1rem;
  }
}
.main .benefits-wrapper .benefit-li:hover button {
  cursor: pointer;
}
.main .benefits-wrapper .benefit-li:nth-child(1) {
  background-color: #3870e0;
  background-image: url(../../../images/amusementpark/nightshow/nightshow_fireworks.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .benefits-wrapper .benefit-li:nth-child(2) {
  background-color: #b30fff;
}
.main .benefits-wrapper .benefit-li:nth-child(3) {
  background-color: #3870e0;
  background-image: url(../../../images/amusementpark/nightshow/nightsky.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .benefits-wrapper .benefit-li:nth-child(4) {
  background-color: #3870e0;
}/*# sourceMappingURL=nightshow.css.map */