/* 페이지 공통 레이아웃 */
@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

/* 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);
@import url(./overlay-slider.css);
@import url(./module.css);

html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.header__li:nth-child(2) {
  > .header__link {
    color: #e60000; /* nav 의 나이트쇼 글자 빨갛게 변경 */
  }
}

a.hidingThreshold {
  & + * {
    position: relative;
    transition: 1s ease-in-out;
    top: 100px;
    opacity: 0;
  }
}

@mixin content-resoure-path($resource) {
  background-image: url(../../../images/amusementpark/nightshow/#{$resource});
}

/*=================================================================================*/

.main {
  &__banner {
    background-image: url(../../../images/amusementpark/nightshow/fireworks.jpg);
  }

  &__inner {
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0 auto;

    &:last-child {
      margin-bottom: 100px;
    }

    @media screen and (max-width: 1281px) {
      & {
        margin-top: 80px;
      }

      &:last-child {
        margin-bottom: 80px;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        margin-top: 50px;
      }

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  //desc module
  &__desc {
    width: 30%;
    margin: 0 auto 30px auto;
    text-align: center;

    @media screen and (max-width: 600px) {
      & {
        width: 60%;
      }
    }
  }

  //overlay-slider module
  &__slider {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;

    &-ly {
      width: 1600px;
      height: 300px;
      white-space: nowrap;
    }

    //& = main__slider
    @media screen and (max-width: 1281px) {
      & {
        width: 900px;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 1000px) {
      & {
        width: 600px;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        width: 300px;
      }
    }

    @media screen and (max-width: 300px) {
      & {
        width: 200px;
      }
    }
  }

  &__slide {
    width: 298px;
    height: 300px;
    margin: 0 1px;
  }

  &__event {
    position: relative;
    padding: 100px 0;
    overflow: hidden;
    border-radius: 10px;
    @include content-resoure-path("letter_back.PNG");

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 0%, #321d36 100%);
      z-index: 0;
    }

    @media screen and (max-width: 1200px) {
      & {
        border-radius: 0;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        padding: 50px 0;
      }
    }
  }

  &__event-form {
    position: relative;
    width: 60%;
    margin: 0 auto;

    @media screen and (max-width: 1281px) {
      & {
        width: 80%;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        width: 85%;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  &__radio {
    width: 100%;
    margin: 5px 0;
  }

  &__label {
    display: inline-block;
  }

  &__title {
    display: inline-block;
  }

  &__textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  &__button {
    margin: 0 auto;
    display: block;
  }

  &__button {
    margin: 50px auto 0 auto;
  }

  &__reward {
    &-label {
      display: block;
      text-align: center;
    }

    &-li {
      display: inline-block;
      margin-right: 5px;
      box-sizing: border-box;

      @media screen and (max-width: 600px) {
        & {
          margin-bottom: 10px;
        }
      }
    }

    &-img {
      box-sizing: border-box;
      width: 200px;
      height: 200px;

      @media screen and (max-width: 1281px) {
        & {
          width: 175px;
          height: 175px;
          margin: 0 5px;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &__benefit-ul-ly {
    width: 100%;
    white-space: nowrap;

    @media screen and (max-width: 1281px) {
      & {
        white-space: initial;
        text-align: center;
      }
    }
  }

  &__benefit-li-ly {
    position: relative;
    display: inline-block;
    height: 298px;
    width: 298px;

    @media screen and (max-width: 1281px) {
      & {
        margin: 5px;
        width: 40%;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        display: block;
        margin: 0 auto 10px auto;
        height: 190px;
        width: 80%;
      }
    }

    &:last-child {
      @media screen and (max-width: 600px) {
        & {
          margin: 0 auto;
        }
      }
    }
  }

  &__benefit-li {
    background-color: white;
    transition: 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
      background-color: #3870e0;
      @include content-resoure-path("nightshow_fireworks.PNG");
    }
    &:nth-child(2) {
      background-color: #b30fff;
    }
    &:nth-child(3) {
      background-color: #3870e0;
      @include content-resoure-path("nightsky.PNG");
    }
    &:nth-child(4) {
      background-color: #3870e0;
    }
  }

  &__benefit-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__benefit-p-ly {
    width: 90%;
    text-align: center;
    margin: 20px auto;
    line-height: 20px;
  }

  &__benefit-p {
    background-color: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    color: white;

    @media screen and (max-width: 1281px) {
      & {
        font-size: 1.3rem;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        font-size: 1.1rem;
        word-break: keep-all;
      }
    }
  }

  &__benefit-btn {
    display: block;
    margin: 0 auto;
  }
}
