@import url(../skip.css);

html {
  font-size: 62.5%;
}

body {
  min-width: 1550px;
  overflow-y: hidden;
}

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}

/* --------------------------------------- header ------------------------------------- */

header {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

header .header_wrapper {
  height: 40px;
  width: 1200px;
  margin: 0 auto;
  background-color: whitesmoke;
}

header .logo {
  float: left;
  font-weight: 700;
  font-size: 1.8rem;
  transform: translateY(50%);
}

header ul {
  float: right;
  display: flex;
  transform: translateY(100%);
}

header ul li {
  background-color: inherit;
}

header ul li:not(:last-child) {
  padding: 0 10px;
  border-right: 1px solid gray;
}

header ul li:last-child {
  padding-left: 10px;
}

header ul li a {
  font-size: 1.3rem;
  color: gray;
  cursor: pointer;
}

/* -------------------------------- main_items -------------------------------- */

main .main_items {
  width: 100%;
}

/* --------------------------------banner -------------------------------- */

main .main_items .banner_wrapper {
  position: relative;
  width: 100%;
  background-color: steelblue;
}

main .main_items .banner_wrapper .banner {
  position: relative;
  width: 1550px;
  height: 700px;
  background-color: inherit;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.2s ease-in;
}

main .main_items .banner_wrapper .banner.loaded {
  opacity: 1;
}

main .main_items .banner_wrapper .desc {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 8rem;
  font-weight: 700;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0.5px 0.5px rgb(139, 139, 139);
  z-index: 5;
}

main .main_items .banner_wrapper .banner .curtain {
  position: absolute;
  transition: 0.4s ease-in-out;
  top: -2px;
  width: 30%;
  height: 101%;
  background-color: inherit;
  z-index: 1;
}

main .main_items .banner_wrapper .banner .curtain.opened {
  width: 0px;
}

main .main_items .banner_wrapper .banner .curtain_1 {
  left: 0;
}

main .main_items .banner_wrapper .banner .curtain_r {
  right: 0;
}

main .main_items .banner_wrapper .banner .img_wrapper {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: steelblue;
  transform: translateY(8.5%);
  display: flex;
  flex-wrap: wrap;
}

main .main_items .banner_wrapper .banner .img_wrapper .img {
  width: 100%;
  height: inherit;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
  transition: 0.3s ease-in;
}

main .main_items .banner_wrapper .banner .img_wrapper .img.show {
  display: inline;
}

main .main_items .banner_wrapper .banner .img_wrapper .img.show.covered {
  background-size: 120%;
}

main .main_items .banner_wrapper .banner .img_wrapper:hover {
  width: 100%;
  transform-origin: 50% 50%;
}

main .main_items .banner_wrapper .banner .img_wrapper.cover {
  height: 100%;
  transform: translateY(0);
}

/* -------------------------------- introduce  -------------------------------- */

main .main_items .introduce {
  position: relative;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/summerkingdom/beachSand.png);
  box-sizing: border-box;
}

main .main_items .introduce:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 2555, 255, 0.8) 0%,
    rgba(255, 2555, 255, 0.6) 10%,
    rgba(255, 2555, 255, 0.5) 30%,
    transparent
  );
}

main .main_items .introduce .i_wrapper {
  width: 1550px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main_items .introduce .i_wrapper .intro {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  padding: 20px 0;
  border-radius: 15px;
}

main .main_items .introduce .i_wrapper .intro .title {
  color: steelblue;
  letter-spacing: 8px;
  text-shadow: 1px 1px rgb(31, 72, 105), 1.5px 1.5px rgb(31, 72, 105),
    2px 2px rgb(31, 72, 105), 2.5px 2.5px rgb(31, 72, 105),
    3px 3px rgb(31, 72, 105), 3.5px 3.5px rgb(31, 72, 105),
    4px 4px rgb(31, 72, 105);
}

main .main_items .introduce .i_wrapper .intro .desc {
  margin-top: 50px;
  color: steelblue;
  font-size: 3rem;
  width: 100%;
  background-color: transparent;
  text-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

main .main_items .introduce .i_wrapper .intro .line_up ul {
  display: flex;
  height: auto;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 50px;
}

main .main_items .introduce .i_wrapper .intro .line_up ul li {
  width: 40%;
  height: 60px;
  line-height: 60px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: -1px -1px white, 1px 1px rgb(37, 37, 37);
  margin: 10px 0;
  display: flex;
  padding-left: 20px;
  text-align: left;
  box-sizing: border-box;
  cursor: default;
}

main .main_items .introduce .i_wrapper .intro .line_up ul li:hover {
  box-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
}

main .main_items .introduce .i_wrapper .intro .line_up ul .content.date {
  width: 35%;
  font-size: 2.9rem;
  text-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
  font-weight: 700;
  color: rgb(26, 26, 26);
}

main .main_items .introduce .i_wrapper .intro .line_up ul .content.name {
  width: 65%;
  font-size: 3.1rem;
  text-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
  font-weight: 700;
  color: rgb(26, 26, 26);
}

main .main_items .goods_wrapper {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, white 0, white 20%, steelblue 100%);
}
