@import url(../skip.css);

html {
  font-size: 62.5%;
}

body {
  min-width: 1550px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.visible,
.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.visible {
  opacity: 1;
}

/* --------------------------------------- header ------------------------------------- */

header {
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

header .header_wrapper {
  height: 40px;
  width: 1200px;
  margin: 0 auto;
  background-color: whitesmoke;
}

header .logo {
  float: left;
  font-weight: 700;
  font-size: 1.8rem;
  transform: translateY(50%);
}

header ul {
  float: right;
  display: flex;
  transform: translateY(100%);
}

header ul li {
  background-color: inherit;
}

header ul li:not(:last-child) {
  padding: 0 10px;
  border-right: 1px solid gray;
}

header ul li:last-child {
  padding-left: 10px;
}

header ul li a {
  font-size: 1.3rem;
  color: gray;
  cursor: pointer;
}

/* -------------------------------- main_items -------------------------------- */

main .main_items {
  width: 100%;
}

/* --------------------------------banner -------------------------------- */

main .main_items .banner_wrapper {
  position: relative;
  width: 100%;
  background-color: rgb(74, 148, 207);
}

main .main_items .banner_wrapper .banner {
  position: relative;
  width: 1550px;
  height: 700px;
  background-color: inherit;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 0;
  transition: 0.2s ease-in;
}

main .main_items .banner_wrapper .banner.loaded {
  opacity: 1;
}

main .main_items .banner_wrapper .b_desc {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 8rem;
  font-weight: 700;
  color: white;
  transform: translate(-50%, -50%);
  text-shadow: 1px 0.5px 0.5px rgb(139, 139, 139);
  z-index: 5;
}

main .main_items .banner_wrapper .banner .curtain {
  position: absolute;
  transition: 0.4s ease-in-out;
  top: -2px;
  width: 30%;
  height: 101%;
  background-color: inherit;
  z-index: 1;
}

main .main_items .banner_wrapper .banner .curtain.opened {
  width: 0px;
}

main .main_items .banner_wrapper .banner .curtain_1 {
  left: 0;
}

main .main_items .banner_wrapper .banner .curtain_r {
  right: 0;
}

main .main_items .banner_wrapper .banner .img_wrapper {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  background-color: inherit;
  transform: translateY(8.5%);
  display: flex;
  flex-wrap: wrap;
}

main .main_items .banner_wrapper .banner .img_wrapper .img {
  width: 100%;
  height: inherit;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
  transition: 0.3s ease-in;
}

main .main_items .banner_wrapper .banner .img_wrapper .img.show {
  display: inline;
}

main .main_items .banner_wrapper .banner .img_wrapper .img.show.covered {
  background-size: 120%;
}

main .main_items .banner_wrapper .banner .img_wrapper:hover {
  width: 100%;
  transform-origin: 50% 50%;
}

main .main_items .banner_wrapper .banner .img_wrapper.cover {
  height: 100%;
  transform: translateY(0);
}

/* -------------------------------- introduce  -------------------------------- */

main .main_items .introduce {
  position: relative;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../images/summerkingdom/beachSand.png);
  box-sizing: border-box;
}

main .main_items .introduce:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 10%,
    rgba(255, 255, 255, 0.5) 30%,
    transparent
  );
}

main .main_items .introduce .i_wrapper {
  width: 1550px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .main_items .introduce .i_wrapper .intro {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 800;
  font-size: 5rem;
  text-align: center;
  padding: 20px 0;
  border-radius: 15px;
}

main .main_items .introduce .i_wrapper .intro .i_title {
  color: rgb(74, 148, 207);
  letter-spacing: 8px;
  text-shadow: 1px 1px rgb(31, 72, 105), 1.5px 1.5px rgb(31, 72, 105),
    2px 2px rgb(31, 72, 105), 2.5px 2.5px rgb(31, 72, 105),
    3px 3px rgb(31, 72, 105), 3.5px 3.5px rgb(31, 72, 105),
    4px 4px rgb(31, 72, 105);
}

main .main_items .introduce .i_wrapper .intro .i_desc {
  margin-top: 50px;
  color: steelblue;
  font-size: 3rem;
  width: 100%;
  background-color: transparent;
  text-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

main .main_items .introduce .i_wrapper .intro .line_up ul {
  display: flex;
  height: auto;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: transparent;
  margin: 0 auto;
  margin-top: 50px;
}

main .main_items .introduce .i_wrapper .intro .line_up ul li {
  width: 40%;
  height: 60px;
  line-height: 60px;
  border-radius: 15px;
  background-color: transparent;
  box-shadow: -1px -1px white, 1px 1px rgb(37, 37, 37);
  margin: 10px 0;
  display: flex;
  padding-left: 20px;
  text-align: left;
  box-sizing: border-box;
  cursor: default;
}

main .main_items .introduce .i_wrapper .intro .line_up ul li:hover {
  box-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
}

main .main_items .introduce .i_wrapper .intro .line_up ul .content.date {
  width: 35%;
  font-size: 2.9rem;
  text-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
  font-weight: 700;
  color: rgb(26, 26, 26);
}

main .main_items .introduce .i_wrapper .intro .line_up ul .content.name {
  width: 65%;
  font-size: 3.1rem;
  text-shadow: 1px 1px white, -1px -1px rgb(37, 37, 37);
  font-weight: 700;
  color: rgb(26, 26, 26);
}

/* ----------------------------------------- event -------------------------------------- */

main .main_items .event_wrapper {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

main .main_items .event_wrapper .event_title {
  width: 1550px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 13px 0;
  font-size: 2.8rem;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid black;
}

/* ----------------------------- event_list 행사 섹션 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper {
  width: 1550px;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 15px;
}

main .main_items .event_wrapper .event_list_wrapper .event_list {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-color: transparent;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list:not(:last-child) {
  border-bottom: 1px solid rgb(192, 192, 192);
}

main .main_items .event_wrapper .event_list_wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

main .main_items .event_wrapper .event_list_wrapper ul li {
  position: relative;
  width: 33%;
  height: 90%;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

main .main_items .event_wrapper .event_list_wrapper ul li .img_screen {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .main_items .event_wrapper .event_list_wrapper ul li .img_screen:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

main .main_items .event_wrapper .event_list_wrapper ul li:hover {
  height: 95%;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  ul
  li:hover
  .img_screen:after {
  opacity: 1;
}

/* -----------------------------행사섹션 li  hover 시 뜨는 div 창 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper ul li .desc_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  width: 80%;
  height: 80%;
  max-height: 30px;
  overflow: hidden;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-in-out;
  opacity: 0;
  background-color: white;
}

main .main_items .event_wrapper .event_list_wrapper ul li:hover .desc_wrapper {
  opacity: 1;
  max-height: 100%;
}

main .main_items .event_wrapper .event_list_wrapper ul li .desc {
  width: 90%;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  ul
  li
  .desc_wrapper
  .e_title {
  font-size: 2rem;
  background-color: rgb(223 72 69);
  color: white;
  border-radius: 15px;
  width: 100%;
  margin: 40px auto;
  padding: 10px 0;
  font-weight: 900;
  text-align: center;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  ul
  li
  .desc_wrapper
  .e_content {
  font-size: 1.8rem;
  width: 100%;
  font-weight: 700;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  ul
  li
  .desc_wrapper
  .e_content {
  font-size: 1.8rem;
}

/* ----------------------------- event_list 지도 섹션 ------------------------------- */

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .map_wrapper {
  height: 100%;
  display: flex;
  width: 100%;
}

main .main_items .event_wrapper .event_list_wrapper .event_list.map .map {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .map
  .map_img {
  width: 45%;
  height: 80%;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover cover;
  background-position: center;
  border: 3px solid #d5dde6;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper {
  width: 30%;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  .t_title {
  font-size: 1.8rem;
  background-color: rgb(53 55 59);
  color: white;
  width: 80%;
  text-align: center;
  font-weight: 700;
  padding: 7px 0;
  margin: 20px auto;
  border-radius: 10px;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  .way {
  font-size: 1.8rem;
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 7px 20px;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid rgb(167, 167, 167);
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  .way_list {
  flex-wrap: wrap;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  li {
  width: 40%;
  height: 20px;
  font-size: 1.8rem;
  margin: 10px 0;
  text-align: center;
  background-color: rgb(82, 82, 82);
  color: white;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px 0;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  li.line1 {
  background-color: #0d347f;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  li.line2 {
  background-color: #3b9f37;
}
main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  li.line5 {
  background-color: #703e8c;
}
main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .event_list.map
  .transportation_wrapper
  li.line7 {
  background-color: #5b692e;
}

/* ----------------------------- event_list 댓글 섹션 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper .c_wrapper {
  width: 60%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
}

/* ----------------------------- 댓글 섹션 제목 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_title {
  font-weight: 700;
  text-align: center;
  font-size: 2.2rem;
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}

/* ----------------------------- 댓글 입력구간 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_input {
  width: 100%;
}

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_input form {
  display: flex;
  justify-content: center;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .c_input
  form
  input {
  width: 90%;
  height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 1.5rem;
  border: 1px solid rgb(185, 185, 185);
  margin-right: 10px;
  padding-left: 10px;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .c_input
  form
  .btn {
  border-radius: 10px;
  width: 10%;
  font-size: 1.5rem;
  border: 1px solid rgb(185, 185, 185);
  cursor: pointer;
}

/* ----------------------------- 댓글 리스트 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_list {
  margin: 0 auto;
  width: 100%;
}

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_list ul {
  display: block;
  margin-top: 30px;
}

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .c_list li {
  height: 35px;
  margin: 5px 0;
  line-height: 35px;
  width: 100%;
  background-color: transparent;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .c_list
  .contents_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  font-size: 1.6rem;
  padding: 0 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .c_list
  .contents_wrapper
  .date {
  font-size: 1.4rem;
}

/* ----------------------------- 댓글 페이징 ------------------------------- */

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .paging {
  width: 100%;
}

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .paging .page {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .paging
  .page
  li {
  display: inline;
  font-size: 1.8rem;
  padding: 0 10px;
  width: 0;
  height: 40px;
  line-height: 40px;
}

main .main_items .event_wrapper .event_list_wrapper .c_wrapper .paging .page a {
  font-size: 1.7rem;
  cursor: pointer;
}

main
  .main_items
  .event_wrapper
  .event_list_wrapper
  .c_wrapper
  .paging
  .page
  li:first-child
  a {
  text-decoration: underline;
}

/* ----------------------------------------- footer --------------------------------------- */

footer {
  width: 100%;
  height: 100px;
  margin-top: 100px;
  background-color: rgb(52 51 59);
  opacity: 1;
}
