/* ----------------------------------------------- header ----------------------------------------------------------- */

.header {
  height: 110px;
  color: #b2b2b2;
  border-bottom: 2px solid #efefef;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: black;
}

.header .title {
  position: relative;
  font-size: 40px;
}

.header .title .sub {
  font-size: 42px;
  color: white;
}

.header .menu {
  margin-left: 10px;
}

.header .menu ul li {
  display: inline-block;
  font-size: 21px;
  padding-left: 30px;
  color: #b2b2b2;
  cursor: pointer;
}

.header .menu ul li:hover {
  font-size: 24px;
  color: white;
}

/* ----------------------------------------------- contents ----------------------------------------------------------- */

.contents {
  width: 100%;
  margin-top: 6%;
}

.contents .contents_items .introduce {
  height: 300px;
  margin-left: 12%;
}

.contents .contents_items .introduce .i_title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}
