/* ------------------------ footer ---------------------- */

footer {
  padding: 40px 0;
  border-top: 1px solid #e1e1e1;
  max-width: 100%;
  margin: 0 auto;

  & > .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    white-space: nowrap;
    position: relative;

    .list {
      width: 100%;
      text-align: center;
      display: block;
      margin: 10px 0;

      li {
        display: inline-block;
        padding: 0 5px;

        a {
          text-decoration: none;
          font-size: 1.5rem;
          color: gray;
        }
      }

      & .mobile {
        display: none;
      }

      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }

    .sns {
      display: block;
      text-align: center;
      margin: 20px 0;

      img {
        margin: 0 20px;
      }
    }

    .logo {
      text-align: center;
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid #e1e1e1;

      .name {
        font-size: 2rem;
        position: relative;
        display: inline-block;
        height: 30px;
        line-height: 30px;

        &:before {
          position: absolute;
          top: 0;
          left: -50px;
          width: 30px;
          height: 30px;
          background-image: url(../../../images/amusementpark/fort-awesome.svg);
          content: "";
        }

        &:after {
          position: absolute;
          top: 0;
          right: -50px;
          width: 30px;
          height: 30px;
          background-image: url(../../../images/amusementpark/fort-awesome.svg);
          content: "";
        }
      }
    }

    .gotop {
      position: absolute;
      bottom: 0;
      right: 0;
      overflow: hidden;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #1c3055;

      @media screen and (max-width: 1024px) {
        & {
          right: 10px;
        }
      }
      @media screen and (max-width: 550px) {
        & {
          padding-bottom: 0;
        }
      }

      & > a {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50%;
          height: 50%;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  footer {
    & > .wrapper {
      .list {
        li {
          box-sizing: border-box;
          padding: 0 5px;
        }
      }

      .sns {
        img {
          margin: 0 1%;
        }
      }
    }
  }
}

/*----------------------------------------------------------------------*/

@media screen and (max-width: 550px) {
  footer {
    & > .wrapper {
      white-space: normal;

      .list {
        margin-bottom: 0;
        width: 100%;
        display: block;

        & .mobile {
          display: block;
        }
      }

      .sns {
        width: 100%;
        display: block;
        margin: 10px 0;
        text-align: center;
      }
    }
  }
}
