@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "Noto Sans KR", "Margun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  transition: 0.5s ease-in-out;
}
.top-nav.scrolldown {
  opacity: 0;
  pointer-events: none;
}
.top-nav > .wrapper li:nth-child(3) a {
  color: red; /* nav 의 어트랙션 글자 빨갛게 변경 */
}

main {
  width: 100%;
}
main .banner img {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: middle;
     object-position: middle;
}
main .wrapper {
  max-width: 1600px;
  margin: 0 auto;
}
main .wrapper .attraction-nav {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 99;
}
main .wrapper .attraction-nav li a {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 5px;
}
main .wrapper .attraction-nav li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease;
  border-radius: 50%;
}
main .wrapper .attraction-nav li a.active:after, main .wrapper .attraction-nav li a:hover:after {
  background-color: transparent;
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction-nav li a {
    width: 50px;
    height: 50px;
  }
}
main .wrapper .attraction-nav li a img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
main .wrapper .attraction {
  position: relative;
  width: 100%;
  padding: 100px;
  box-sizing: border-box;
}
main .wrapper .attraction:before {
  content: "";
  position: absolute;
  top: 20%;
  background-color: #040247;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
}
main .wrapper .attraction:after {
  content: "";
  position: absolute;
  bottom: 20%;
  background-color: #040247;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction {
    text-align: center;
    padding: 50px;
  }
  main .wrapper .attraction:after {
    width: 90%;
    margin: 0 auto;
  }
  main .wrapper .attraction:before {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction:before {
    display: none;
  }
  main .wrapper .attraction:after {
    display: none;
  }
}
main .wrapper .attraction.right {
  text-align: right;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction.right {
    text-align: center;
  }
}
main .wrapper .attraction .deco {
  position: absolute;
  bottom: 100px;
  right: 0;
  background-color: white;
  text-align: center;
  color: #040247;
  font-size: 6rem;
  font-weight: bold;
}
main .wrapper .attraction .deco.left {
  left: 0;
  right: initial;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .deco {
    bottom: 50px;
    font-size: 4rem;
    right: 10%;
  }
  main .wrapper .attraction .deco.left {
    left: 10%;
    right: initial;
  }
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction .deco {
    font-size: 2rem;
    bottom: 20px;
  }
}
main .wrapper .attraction > img {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
  transition: 0.3s ease;
  z-index: 1;
}
main .wrapper .attraction > img:nth-child(even) {
  margin-left: auto;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction > img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction > img {
    display: block;
    width: 70vw;
    height: 70vw;
    margin: 0 auto;
  }
}
main .wrapper .attraction .desc {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 5%;
  vertical-align: middle;
  line-height: 1.618;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .desc {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction .desc {
    display: none;
  }
}
main .wrapper .attraction .desc.right {
  margin-left: 0;
  margin-right: 5%;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .desc.right {
    text-align: right;
  }
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .desc h4 {
    font-size: 2rem;
  }
}
main .wrapper .attraction .desc .ban-icons li {
  display: inline-block;
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .desc .ban-icons li {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 1280px) {
  main .wrapper .attraction .desc .ban-list {
    font-size: 2rem;
  }
}
main .wrapper .attraction .mobile {
  position: relative;
  display: none;
  margin-top: 25px;
  padding: 25px 0;
  line-height: 1.618;
}
@media screen and (max-width: 600px) {
  main .wrapper .attraction .mobile {
    display: block;
  }
  main .wrapper .attraction .mobile:before {
    content: "";
    position: absolute;
    top: 0;
    background-color: #040247;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }
  main .wrapper .attraction .mobile:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #040247;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }
}
main .wrapper .attraction .mobile h4 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}
main .wrapper .attraction .mobile .ban-icons li {
  display: inline-block;
  width: 50px;
  height: 50px;
}
main .wrapper .attraction .mobile .ban-icons li img {
  width: 100%;
  height: 100%;
}
main .wrapper .attraction .mobile .ban-list li {
  font-size: 1.6rem;
}/*# sourceMappingURL=attraction.css.map */