@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;
}
.top-nav.scrolldown {
  opacity: 0;
}
.top-nav > .wrapper li:nth-child(3) a {
  color: red; /* nav 의 어트랙션 글자 빨갛게 변경 */
}

.top-nav-mobile {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;
}
.top-nav-mobile.scrolldown {
  opacity: 0;
}

a.hiding + * {
  position: relative;
  transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0);
  top: 50px;
  opacity: 0;
}

main {
  /* -------------------------------------- main ----------------------------------- */
  width: auto;
  height: auto;
}
main > .wrapper {
  /* --------------------------- wrapper ------------------------ */
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
}
main > .wrapper .wheel-down {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  z-index: 10;
  opacity: 1;
  display: block;
  animation: move-up-down 2s infinite;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}
main > .wrapper .wheel-down.fadeout {
  opacity: 0;
}
main > .wrapper .wheel-down .deco {
  width: 40px;
  height: 40px;
  border-left: 3px solid #c4c4c4;
  border-bottom: 3px solid #c4c4c4;
  box-sizing: border-box;
  transform: rotate(-45deg);
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main > .wrapper .wheel-down .deco {
    width: 35px;
    height: 35px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main > .wrapper .wheel-down .deco {
    width: 28px;
    height: 28px;
  }
}
main > .wrapper .wheel-down .deco:nth-child(2) {
  position: relative;
  top: -2vh;
}
main > .wrapper .attraction-nav {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 20;
}
main > .wrapper .attraction-nav li {
  margin: 10px 0;
}
main > .wrapper .attraction-nav li a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: 0.2s ease-in-out;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main > .wrapper .attraction-nav li a {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main > .wrapper .attraction-nav li a {
    width: 10px;
    height: 10px;
  }
}
main > .wrapper .attraction-nav li a.active {
  background-color: rgb(246, 72, 246);
  box-shadow: 1px 1px 10px rgb(199, 199, 199);
}
main > .wrapper .attraction {
  max-width: initial;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: sticky;
  top: 0;
  white-space: nowrap;
}
main > .wrapper .attraction .info {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  font-size: 3.8rem;
  color: white;
  text-shadow: 1px 1px 5px black;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  main > .wrapper .attraction .info {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  main > .wrapper .attraction .info {
    font-size: 1.8rem;
  }
}
main > .wrapper .attraction .rollercoaster {
  font-size: 4rem;
  display: inline-block;
  background-image: url(../../../images/amusementpark/attraction/rollercoaster.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
main > .wrapper .attraction .ferris-wheel {
  display: inline-block;
  background-image: url(../../../images/amusementpark/attraction/ferris_wheel.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
main > .wrapper .attraction .carousel {
  display: inline-block;
  background-image: url(../../../images/amusementpark/attraction/carousel.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
main > .wrapper .attraction .crystal-jo {
  display: inline-block;
  background-image: url(../../../images/amusementpark/attraction/crystal_jo.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* --------------------------- animation -------------------------------- */
@keyframes move-up-down {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 7vh;
  }
  100% {
    bottom: 5vh;
  }
}/*# sourceMappingURL=attraction.css.map */