@import url(../../reset.css);
@import url(../layout/header2024.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  color-scheme: light only;
}

body {
  font-family: "Open Sans", sans-serif;
}
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../../../images/amusementpark/attraction/banner_img.jpg);
}

.skip-link {
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 12;
}

.skip-link:focus {
  top: 0;
  border: 2px solid #000;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0 0 0;
  box-sizing: border-box;
}

.chevron-left-img,
.chevron-right-img {
  display: block;
  width: 70%;
  height: 70%;
  margin: 0 auto;
}

.align-right {
  text-align: right;
}

.aos-custom {
  opacity: 0;
}

/* ------------------- up-link  -------------------*/
.up-link {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  box-sizing: border-box;
}

.up-link.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
  cursor: pointer;
}

.up-link:focus-visible {
  border: 3px solid #fff;
}

.up-link-img {
  width: 100%;
  height: 100%;
}

/* ------------------- banner  -------------------*/
.banner {
  position: relative;
  background-color: #000;
  height: -moz-fit-content;
  height: fit-content;
}
.banner-img {
  display: block;
  width: 100%;
}

.title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  transform: translate(-50%, -50%);
}

.font-bold {
  font-weight: bold;
}

.title {
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-weight: 400;
  line-height: 1.618;
  font-size: 28px;
  padding: 20px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.big-title-wrap {
  display: flex;
  justify-content: space-between;
}

.big-title {
  font-size: 38px;
  font-weight: bold;
}

/* ------------------- attraction-gallery  -------------------*/
.attraction-gallery {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
}
.attraction-link {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 60px;
  margin-right: 30px;
  box-sizing: border-box;
  border: 0.5px solid #e6e6e6;
  flex-basis: calc((100% - 90px) / 4);
}
.attraction-link:nth-child(4n) {
  margin-right: 0;
}
.attraction-link:hover, .attraction-link:focus-visible {
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.attraction-link:hover .attraction-title, .attraction-link:focus-visible .attraction-title {
  padding-left: 30px;
}
.attraction-link-img {
  width: 100%;
  height: 300px;
  transition: 0.3s ease-in-out;
  background-color: #000;
  -o-object-fit: cover;
     object-fit: cover;
}
.attraction-title {
  width: 100%;
  height: 50px;
  line-height: 50px;
  transition: 0.5s ease-in-out;
  font-size: 20px;
  color: #000;
  box-sizing: border-box;
  padding-left: 20px;
  letter-spacing: -2px;
  font-weight: bold;
}

.background {
  position: relative;
  background-color: #000;
}
.background-img {
  width: 100%;
  display: block;
  -o-object-position: center;
     object-position: center;
}
.background-title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 20px 20px 0 20px;
  }
  .attraction-link {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 20px;
    padding: 0 60px;
  }
  .big-title {
    font-size: 25px;
  }
  .container {
    padding: 25px 25px 10px 25px;
  }
  .attraction-link {
    flex-basis: calc((100% - 50px) / 3);
    margin-right: 25px;
    margin-bottom: 50px;
  }
  .attraction-link:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  }
  .attraction-link:nth-child(4n) {
    margin-right: 25px;
  }
  .attraction-link:nth-child(3n) {
    margin-right: 0;
  }
  .attraction-link-img {
    height: 200px;
  }
  .attraction-link:hover .attraction-title, .attraction-link:focus-visible .attraction-title {
    padding-left: 23px;
  }
  .attraction-title {
    font-size: 18px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 550px) {
  .title {
    padding: 20px;
  }
  .banner {
    height: 300px;
  }
  .banner-img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .title {
    font-size: 16px;
  }
  .big-title {
    font-size: 18px;
  }
  .container {
    padding: 20px 20px 0 20px;
  }
  .attraction-title {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
  }
  .attraction-link {
    flex-basis: calc((100% - 20px) / 2);
    margin-right: 20px;
    margin-bottom: 40px;
  }
  .attraction-link:nth-child(4n) {
    margin-right: 20px;
  }
  .attraction-link:nth-child(3n) {
    margin-right: 20px;
  }
  .attraction-link:nth-child(2n) {
    margin-right: 0px;
  }
  .attraction-link-img {
    height: 200px;
  }
  .attraction-link:hover .attraction-title, .attraction-link:focus-visible .attraction-title {
    padding-left: 15px;
  }
  .attraction-title {
    font-size: 16px;
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
  }
  .background-img {
    height: 120px;
  }
  .background-title {
    font-size: 16px;
  }
}/*# sourceMappingURL=attraction2024.css.map */