@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  transition: 0.5s ease-in-out;
  // attraction 의 nav 는 포지션 fixed 로 변경
  position: fixed;

  &.scrolldown {
    opacity: 0;
  }

  & > .wrapper {
    li {
      &:nth-child(3) a {
        color: red;
      }
    }
  }
}

.top-nav-mobile {
  transition: 0.5s ease-in-out;
  position: fixed;

  &.scrolldown {
    opacity: 0;
  }
}

a.hiding {
  & + * {
    position: relative;
    transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0);
    top: 50px;
    opacity: 0;
  }
}

/* ------------------------------------------------------------------------------- */

@mixin attraction-bg($sourname, $width) {
  display: inline-block;
  background-image: url(../../../images/amusementpark/attraction/#{$sourname});
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: $width;
  height: 100%;
}

main {
  width: auto;
  height: auto;
  > .wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;

    .wheel-down {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5vh;
      z-index: 10;
      opacity: 1;
      display: block;
      animation: move-up-down 2s infinite;
      transition: 0.3s ease-in-out;
      pointer-events: none;

      &.fadeout {
        opacity: 0;
      }

      .deco {
        width: 40px;
        height: 40px;
        border-left: 3px solid #c4c4c4;
        border-bottom: 3px solid #c4c4c4;
        box-sizing: border-box;
        transform: rotate(-45deg);
      }

      .deco:nth-child(2) {
        position: relative;
        top: -2vh;
      }
    }

    .attraction {
      max-width: initial;
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      white-space: nowrap;

      .info {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        font-size: 3.8rem;
        color: white;
        text-shadow: 1px 1px 5px black;
      }

      .rollercoaster {
        font-size: 4rem;
        @include attraction-bg("rollercoaster.PNG", 100%);
      }

      .ferris-wheel {
        @include attraction-bg("ferris_wheel.JPG", 100%);
      }

      .carousel {
        @include attraction-bg("carousel.JPG", 100%);
      }
      .crystal-jo {
        @include attraction-bg("crystal_jo.JPG", 100%);
      }
    }
  }
}

/* --------------------------- animation -------------------------------- */

@keyframes move-up-down {
  0% {
    bottom: 5vh;
  }

  50% {
    bottom: 7vh;
  }
  100% {
    bottom: 5vh;
  }
}

/* --------------------------------------------------------------------------- */

@media screen and (min-width: 480px) and (max-width: 768px) {
  main {
    > .wrapper {
      .wheel-down {
        .deco {
          width: 35px;
          height: 35px;
        }
      }

      .attraction {
        .info {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  main {
    > .wrapper {
      .wheel-down {
        .deco {
          width: 28px;
          height: 28px;
        }
      }

      .attraction {
        .info {
          font-size: 1.8rem;
        }
      }
    }
  }
}
