@import url(setting.css);
@import url(slidingText.css);

/* ----------------------------------------- main --------------------------------------- */

main {
  width: 100%;
  background-color: transparent;
}

main .main-items {
  width: 100%;
  margin: 0 auto;
}

/* ----------------------- banner ----------------------------- */

main .main-items .banner {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

main .main-items .banner .b-image {
  width: inherit;
  height: 800px;
  background-image: url(../../images/greennature/sabeer-darr-Upz-tnx2v2s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .main-items .banner .b-image .b-title {
  width: 1400px;
  margin: auto auto;
  text-align: center;
  position: relative;
}

main .main-items .banner .b-image .b-title p {
  color: white;
  font-size: 1.8rem;
  padding-top: 100px;
}

/* ----------------------- info ----------------------------- */

main .main-items .info {
  width: 1400px;
  background-color: transparent;
  height: 170px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

main .main-items .info .i-title {
  position: relative;
  width: 27%;
  height: inherit;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 170px;
  color: #5c5c5c;
  overflow: hidden;
}

main .main-items .info .i-title:before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e2e2e2;
  top: -5%;
  left: 10%;
}

main .main-items .info .i-title .i-wrapper {
  position: inherit;
  z-index: 1;
  color: #1a1a1a;
  cursor: default;
}

main .main-items .info .i-title .i-wrapper .deco {
  font-weight: 700;
  font-size: 2.8rem;
}

main .main-items .info .i-menu {
  width: 73%;
  height: inherit;
  background-color: transparent;
}

main .main-items .info .i-menu > ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .main-items .info .i-menu > ul li {
  width: 24%;
  height: 100%;
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgb(0 0 0/16%);
  user-select: none;
}

main .main-items .info .i-menu > ul li:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 30%;
  left: 40%;
  border-radius: 50%;
  background-color: rgb(49, 84, 179);
  transition: 0.3s ease-in-out;
}

main .main-items .info .i-menu > ul li:hover:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20%;
  left: 30%;
  border-radius: 50%;
}

main .main-items .info .i-menu > ul li a {
  display: block;
  height: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 243px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

main .main-items .info .i-menu > ul li a:hover {
  text-decoration: underline;
}

main .main-items .info .i-menu > ul li span {
  display: block;
  position: absolute;
  width: 100%;
  height: 38%;
  top: 24%;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ----------------------- ad ----------------------------- */

main .main-items .ad {
  width: 1400px;
  margin: 0 auto;
  height: 200px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

main .main-items .ad .slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2150px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  background-color: white;
}

main .main-items .ad .slider.sliding {
  transition: 0.5s ease-in-out;
}

main .main-items .ad .slider .a-item {
  height: 200px;
  width: 320px;
  margin: 0 15px;
}

main .main-items .ad .slider .a-item img {
  width: 320px;
  padding: 0;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgb(0 0 0/20%);
  transition: 0.5s ease-in-out;
}

main .main-items .ad .slider .a-item img.sliding {
  width: 0px;
}

main .main-items .ad .controller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

main .main-items .ad .controller .c-btn {
  width: 10px;
  padding: 0 15px;
  height: 55px;
  font-size: 3rem;
  background-color: rgb(192, 192, 192);
  box-shadow: 0 0 8px 0 rgb(0 0 0/30%);
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  user-select: none;
  margin-top: 75px;
  transition: 0.2s ease-in-out;
}

main .main-items .ad .controller .c-btn:hover {
  background-color: rgb(49, 84, 179);
}

main .main-items .ad .controller .c-btn:hover:focus {
  width: 15px;
}

main .main-items .ad .controller .c-btn.prev {
  float: left;
}
main .main-items .ad .controller .c-btn.next {
  float: right;
}
