@import url(../skip.css);
@import url(./slidingText.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  min-width: 1400px;
}

.tbn {
  width: 100%;
  position: absolute;
}

.tbn ul {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  color: white;
  border-bottom: 1px solid #dddddd;
}

.tbn ul li {
  background-color: transparent;
  padding: 10px 0;
  position: relative;
  padding-right: 25px;
}

.tbn ul li:first-child {
  padding-left: 20px;
}

.tbn ul li:not(:last-child):after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 15px;
  right: 11px;
  border-radius: 50%;
  background-color: #dddddd;
}

.tbn ul li a {
  font-size: 1.5rem;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
}

/* ----------------------------------------- header --------------------------------------- */

header {
  width: 100%;
  position: absolute;
  top: 36px;
  left: 0;
}

header .h_wrapper {
  width: 1400px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #dddddd;
  position: relative;
}

header .h_wrapper .title {
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 63px;
}

header .h_wrapper .title a {
  font-size: 2.3rem;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: green;
  background-color: white;
  margin-left: 20px;
  padding: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}

header .h_wrapper .h_menu1 {
  display: flex;
  margin: 0 auto;
}

header .h_wrapper .h_menu1 > li {
  height: 62px;
  transition: 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

header .h_wrapper .h_menu1 > li:after {
  position: absolute;
  left: 45%;
  bottom: 0px;
  content: "";
  width: 0%;
  height: 4px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

header .h_wrapper .h_menu1 > li:hover:after {
  left: 3px;
  width: 90%;
}

header .h_wrapper .h_menu1 > li:hover .folded_menu {
  max-height: 300px;
  cursor: default;
}

header .h_wrapper .h_menu1 li .folded_menu {
  position: absolute;
  display: flex;
  transition: 0.7s ease-in-out;
  width: 1400px;
  height: 300px;
  top: 63px;
  left: -401px;
  max-height: 0px;
  overflow: hidden;
  background: rgb(255, 255, 255);
}

header .h_wrapper .h_menu1 li .folded_menu .f_left {
  width: 35%;
  height: inherit;
  background-color: rgb(49, 84, 179);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .h_wrapper .h_menu1 li .folded_menu .f_left .left_title {
  width: 90%;
  font-size: 1.9rem;
  margin-bottom: 20px;
  font-weight: 700;
}

header .h_wrapper .h_menu1 li .folded_menu .f_left .left_desc {
  width: 90%;
  font-size: 1.4rem;
  margin-top: 20px;
  line-height: 25px;
}

header .h_wrapper .h_menu1 li .folded_menu .f_right {
  width: 65%;
  display: flex;
  justify-items: center;
  align-content: center;
}

header .h_wrapper .h_menu1 li .folded_menu .f_right ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
  background-color: transparent;
}

header .h_wrapper .h_menu1 li .folded_menu .f_right ul li {
  width: 230px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(57, 77, 52);
  border: 1.5px solid #dddddd;
  box-shadow: 0 0 4px 0 rgb(0 0 0/4%);
}

header .h_wrapper .h_menu1 li .folded_menu .f_right ul li:hover {
  background: linear-gradient(
    110deg,
    rgb(42, 72, 156) 8%,
    rgb(49, 84, 179) 0,
    rgb(49, 84, 179) 48%,
    rgb(42, 72, 156) 0,
    rgb(42, 72, 156) 100%
  );
  cursor: pointer;
}

header .h_wrapper .h_menu1 li .folded_menu .f_right a {
  color: white;
  font-size: 1.5rem;
  line-height: 50px;
  padding-left: 20px;
}

header .h_wrapper .h_menu1 > li > a {
  font-size: 1.9rem;
  color: inherit;
  font-weight: 700;
  line-height: 62px;
  margin: 0 15px;
  cursor: pointer;
}

header .h_wrapper .h_menu2 {
  position: absolute;
  display: flex;
  top: 0;
  right: 0px;
}

header .h_wrapper .h_menu2 li:last-child {
  margin: 0 15px;
}

header .h_wrapper .h_menu2 li a {
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 61px;
}

header .h_wrapper .h_menu2 li a svg {
  vertical-align: middle;
}

/* ----------------------------------------- main --------------------------------------- */

main {
  width: 100%;
  background-color: transparent;
}

main .main_items {
  width: 100%;
  margin: 0 auto;
}

/* ----------------------- banner ----------------------------- */

main .main_items .banner {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

main .main_items .banner .b_image {
  width: inherit;
  height: 800px;
  background-image: url(../../images/greennature/sabeer-darr-Upz-tnx2v2s-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .main_items .banner .b_image .b_title {
  width: 1400px;
  margin: auto auto;
  text-align: center;
  position: relative;
}

main .main_items .banner .b_image .b_title p {
  color: white;
  font-size: 1.8rem;
  padding-top: 100px;
}

/* ----------------------- info ----------------------------- */

main .main_items .info {
  width: 1400px;
  background-color: transparent;
  height: 170px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

main .main_items .info .i_title {
  position: relative;
  width: 27%;
  height: inherit;
  background-color: whitesmoke;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 170px;
  color: #5c5c5c;
  overflow: hidden;
}

main .main_items .info .i_title:before {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #e2e2e2;
  top: -5%;
  left: 10%;
}

main .main_items .info .i_title .i_wrapper {
  position: inherit;
  z-index: 1;
  color: #1a1a1a;
  cursor: default;
}

main .main_items .info .i_title .i_wrapper .deco {
  font-weight: 700;
  font-size: 2.8rem;
}

main .main_items .info .i_menu {
  width: 73%;
  height: inherit;
  background-color: transparent;
}

main .main_items .info .i_menu > ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .main_items .info .i_menu > ul li {
  width: 24%;
  height: 95%;
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0 0 4px 0 rgb(0 0 0/16%);
  user-select: none;
}

main .main_items .info .i_menu > ul li:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 30%;
  left: 40%;
  border-radius: 50%;
  background-color: rgb(49, 84, 179);
  transition: 0.3s ease-in-out;
}

main .main_items .info .i_menu > ul li:hover:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20%;
  left: 30%;
  border-radius: 50%;
}

main .main_items .info .i_menu > ul li a {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 234px;
  cursor: pointer;
}

main .main_items .info .i_menu > ul li a:hover {
  text-decoration: underline;
}

main .main_items .info .i_menu > ul li span {
  display: block;
  position: absolute;
  width: 100%;
  height: 40%;
  top: 25%;
  bottom: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ----------------------- ad ----------------------------- */

main .main_items .ad {
  width: 1400px;
  margin: 0 auto;
  height: 200px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

main .main_items .ad .slider {
  position: absolute;
  height: 100%;
  width: auto;
  background-color: inherit;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  height: inherit;
  display: flex;
  width: auto;
  font-size: 18px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

main .main_items .ad .controller {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

main .main_items .ad .controller .c_btn {
  width: 10px;
  padding: 0 10px;
  height: 55px;
  font-size: 4rem;
  background-color: rgb(192, 192, 192);
  box-shadow: 0 0 8px 0 rgb(0 0 0/30%);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease-in-out;
}

main .main_items .ad .controller .c_btn:hover {
  background-color: rgb(49, 84, 179);
}

main .main_items .ad .controller .c_btn:hover:focus {
  width: 15px;
}

main .main_items .ad .controller .c_btn.prev {
  float: left;
}
main .main_items .ad .controller .c_btn.next {
  float: right;
}

main .main_items .ad .slider .a_item {
  height: 100%;
  width: 320px;
  margin: 0 15px;
  transition: 0.5s ease-in-out;
}

main .main_items .ad .slider .a_item img {
  width: 320px;
  padding: 0;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgb(0 0 0/20%);
}

/* --------------------------------------- footer --------------------------------------- */
footer {
  margin-top: 150px;
  height: 200px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #e9e9e9;
}

footer .f_menus {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e9e9e9;
}

footer .f_menus ul {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  height: 70px;
  align-items: center;
}

footer .f_menus ul li a {
  font-size: 1.4rem;
  color: #646464;
}

footer .f_menus ul li {
  position: relative;
  margin-right: 20px;
  padding: 0 10px;
  background-color: white;
}

footer .f_menus ul li:not(:last-child):after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 5px;
  right: -13px;
  border-radius: 50%;
  background-color: #646464;
}

footer .f_desc {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
  line-height: 30px;
  color: #646464;
  font-weight: 500;
  font-size: 1.5rem;
}

footer .top_btn {
  position: absolute;
  vertical-align: middle;
  top: 80px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(155, 155, 155);
  border-radius: 50%;
  z-index: 1;
  transform: rotate(90deg);
}

footer .top_btn span {
  display: inline-block;
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  margin-top: 4px;
  margin-left: 16px;
}
