html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-width: 1400px;
  overflow-x: auto;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 62.5%;
}

body.scroll {
  overflow-x: auto;
}
/*  */

.tbn {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.tbn ul {
  display: flex;
  width: 1400px;
  margin: 0 auto;
  color: white;
  border-bottom: 1px solid #dddddd;
}

.tbn ul li {
  background-color: transparent;
  padding: 10px 0;
  position: relative;
  padding-right: 25px;
}

.tbn ul a {
  font-size: 1.5rem;
  color: inherit;
  font-weight: 700;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.tbn a:hover {
  text-decoration: underline;
}

/* 본문 바로가기 */
.shortcuts-main,
.shortcuts-accessbility {
  position: absolute;
  text-decoration: none;
  font-size: 1.7rem;
  top: -9999em;
  left: 5%;
  display: block;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 99;
}

.shortcuts-main:focus-visible,
.shortcuts-accessbility:focus-visible {
  top: 0;
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header .h-wrapper {
  position: relative;
  display: flex;
  width: 1400px;
  justify-content: center;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #dddddd;
  margin: 0 auto;
}

.h-wrapper .title {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}

.h-wrapper .title a {
  font-size: 2.3rem;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: green;
  background-color: white;
  margin-left: 20px;
  padding: 0 10px;
  border-radius: 30px;
  cursor: pointer;
}

/* header main-nav */

.main-nav .level1 {
  display: inline-block;
}

.main-nav .level1 a {
  font-size: 1.9rem;
  display: block;
  position: relative;
  height: 100%;
  color: inherit;
  font-weight: 700;
  line-height: 62px;
  margin: 0 15px;
  text-decoration: none;
  cursor: pointer;
}

.main-nav .level1:hover .level2,
.main-nav .level2:focus-visible,
.main-nav .level2.hovered {
  max-height: 230px;
}

.main-nav .level2 {
  position: absolute;
  width: 1400px;
  max-height: 0px;
  overflow: hidden;
  left: 0;
  white-space: nowrap;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  transition: 0.3s ease-in-out;
}

.level2 .left-side {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 30px;
  width: 30%;
  height: 230px;
  background-color: rgb(49, 84, 179);
  vertical-align: bottom;
}

header .left-side h4 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 19px;
}

header .left-side p {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.618;
  white-space: initial;
  word-break: keep-all;
}

.level2 .right-side {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 70%;
  height: 230px;
  background-color: white;
}

.right-side li {
  display: inline-block;
}

.main-nav .right-side a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 230px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  padding-left: 20px;
  border: 1.5px solid #dddddd;
  border-radius: 10px;
  background-color: rgb(57, 77, 52);
  box-shadow: 0 0 4px 0 rgb(0 0 0/4%);
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.main-nav .right-side li:nth-child(1) a {
  left: 10%;
}

.main-nav .right-side li:nth-child(2) a {
  left: calc(10% + 250px);
}
.main-nav .right-side li:nth-child(3) a {
  left: calc(10% + 500px);
}

.main-nav .right-side a:hover {
  background: linear-gradient(
    110deg,
    rgb(42, 72, 156) 8%,
    rgb(49, 84, 179) 0,
    rgb(49, 84, 179) 48%,
    rgb(42, 72, 156) 0,
    rgb(42, 72, 156) 100%
  );
  cursor: pointer;
}

/* header side-nav */

.side-nav {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.side-nav li {
  display: inline-block;
}

.side-nav a {
  font-size: 1.9rem;
  display: block;
  position: relative;
  height: 100%;
  color: inherit;
  font-weight: 700;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

/* shortcuts */
.shortcuts {
  position: absolute;
  top: -9999em;
  width: 1400px;
  background-color: white;
  display: block;
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.shortcuts.active {
  top: 0;
}

.shortcuts .shortcuts-level1 {
  display: inline-block;
  margin: 0 30px;
  vertical-align: text-top;
  text-align: center;
}

.shortcuts-level1 span {
  position: relative;
  box-sizing: border-box;
  font-size: 1.7rem;
  display: block;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(49, 84, 179);
  margin: 0 auto 20px auto;
}

.shortcuts-level2 a {
  text-decoration: none;
  font-size: 1.7rem;
  line-height: 1.618;
  display: block;
  color: black;
}

.shortcuts .shortcuts-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
}

.shortcuts .wrapper a {
  display: block;
  width: 100%;
  height: 100%;
}

.shortcuts .shortcuts-close-btn .deco {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 5px;
  background-color: black;
}
.shortcuts .shortcuts-close-btn .deco:nth-child(1) {
  transform: rotate(45deg);
}
.shortcuts .shortcuts-close-btn .deco:nth-child(2) {
  transform: rotate(-45deg);
}
