/* -------------- 배너에 겹쳐진 nav ------------------ */
.inner-nav {
  position: absolute;
  top: -120px;
}

.inner-nav li {
  float: left;
  min-width: 135px;
  height: 70px;
}

.inner-nav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: rgb(0, 160, 160);
  box-sizing: border-box;
  text-align: center;
  line-height: 70px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.7rem;
}

.inner-nav li:last-child a {
  border-top-right-radius: 15px;
}
