.animated-text {
  color: #fff;
  position: absolute;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 0 40px;
  height: 20px;
  overflow: hidden;
}

.line {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  line-height: 20px;
  cursor: default;
}

.line:first-child {
  animation: anim 12s infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -20px;
  }
  33% {
    margin-top: -40px;
  }
  50% {
    margin-top: -60px;
  }
  66% {
    margin-top: -40px;
  }
  82% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0;
  }
}
