@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(./skip.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  min-width: 1300px;
  overflow-x: auto;
  font-family: "Nanum Barun Gothic";
}

::selection {
  background: rgba(60, 60, 60, 1);
  color: rgba(255, 255, 255, 0.9);
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  width: 400px;
  margin: 20px auto;
  margin-bottom: 0px;
  border-radius: 30px;
  padding: 10px 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: white;
  font-family: "Nanum Barun Gothic";
  letter-spacing: 2px;
  background-color: rgb(92, 154, 212);
}

h3.tech_h3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: rgb(65, 191, 207);
}

h3.contact_h3 {
  width: 500px;
  background-color: rgb(90, 90, 90);
}

/* ----------------------------------------------- header ----------------------------------------------------------- */

.header {
  height: 110px;
  width: 100%;
  color: #b2b2b2;
  border-bottom: 2px solid #efefef;
  font-weight: 500;
  display: flex;
  align-items: center;
  background-color: rgb(35, 35, 35);
}

.header .h_wrapper {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header .h_title {
  font-size: 2.5rem;
  line-height: 110px;
}

.header .h_title a {
  color: #b2b2b2;
}

.header .h_title a:hover {
  text-decoration: none;
}

.header .h_title .h_sub {
  font-size: 2.7rem;
  color: white;
}

.header .h_menu {
  margin-left: 10px;
}

.header .h_menu ul li {
  display: inline-block;
  line-height: 110px;
  font-size: 2.1rem;
  padding-left: 30px;
  cursor: default;
  position: relative;
}

.header .h_menu ul li a.anchor {
  color: #b2b2b2;
  text-decoration: none;
}

.header .h_menu ul li a.anchor:hover {
  color: white;
}

.header .h_menu ul li a:hover {
  font-size: 2.2rem;
  color: white;
}

.header .h_menu ul li.drop_down_menu:hover {
  cursor: pointer;
  color: white;
  font-size: 2.2rem;
}
.header .h_menu ul li.drop_down_menu ul {
  display: none;
}

.header .h_menu ul li.drop_down_menu:hover ul {
  display: block;
}

.header .h_menu ul li.drop_down_menu ul li.drop_down {
  width: 100px;
  height: 30px;
  font-size: 1.6rem;
  color: white;
  text-align: center;
  padding: 0px;
  background-color: #b2b2b2;
  line-height: 33px;
  position: absolute;
  top: 68px;
  right: -25px;
}

.header .h_menu ul li.drop_down_menu:hover ul li:hover {
  background-color: white;
  color: #555555;
  cursor: pointer;
}

/* ----------------------------------------------- contents ----------------------------------------------------------- */

.contents {
  width: 100%;
  margin-top: 150px;
}

.contents .top_btn {
  transition: 0.3s;
  position: fixed;
  height: 80px;
  width: 80px;
  background-color: #7c7c7c;
  border-radius: 30px;
  right: 40px;
  bottom: 40px;
  z-index: 2;
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s;
}

.contents .top_btn a {
  position: relative;
  text-decoration: none;
  top: 36%;
  left: 17%;
  color: white;
  font-size: 2.7rem;
  display: none;
  cursor: default;
}

.contents .scrolled {
  opacity: 1;
}

.contents .scrolled a {
  display: block;
  cursor: pointer;
}

.contents .contents_items .introduce {
  height: 410px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 7px 2px rgb(170, 170, 170);
  margin-bottom: 250px;
}

.contents .contents_items .introduce .i_box1 {
  width: 50%;
  text-align: center;
}

.contents .contents_items .introduce .i_deco {
  font-size: 10rem;
  font-weight: 800;
  color: rgb(65, 191, 207);
  margin-bottom: 20px;
  text-decoration: none;
  background-color: transparent;
  transition-duration: 0.4s;
}

.contents .contents_items .introduce .i_info {
  font-size: 2.2rem;
  color: #555555;
  text-align: center;
}

.contents .contents_items .introduce .i_title {
  width: 50%;
  font-size: 1.7rem;
  line-height: 24px;
  letter-spacing: 1px;
}

.contents .contents_items .introduce .i_title .bolded {
  display: block;
  font-size: 2.1rem;
  font-weight: 700;
  color: rgb(65, 191, 207);
}

.contents .contents_items .tech {
  height: 470px;
  background-color: #555555;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  border: 12px solid transparent;
  background-image: linear-gradient(#555555, #555555),
    linear-gradient(to bottom, rgb(65, 191, 207) 0%, rgb(55, 96, 134) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 15px;
}

.contents .contents_items .tech .tech_wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.contents .contents_items .tech .tech_wrapper .t_desc {
  display: table-cell;
  vertical-align: middle;
}

.contents .contents_items .tech .t_desc .t_list li {
  font-size: 3.8rem;
  margin: 32px 0;
  color: white;
  font-weight: 500;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

.contents .contents_items .tech .t_desc .t_list li::after {
  background-color: rgba(0, 0, 0, 0.8);
  width: 0%;
  position: absolute;
  top: -7px;
  left: -1px;
  right: 0px;
  bottom: 0px;
  content: "";
  height: 110%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: -1;
}

.contents .contents_items .tech_detail {
  margin-top: 70px;
  width: 1000px;
  height: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.contents .contents_items .tech_detail .td_desc ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contents .contents_items .tech_detail .td_desc li {
  font-size: 1.9rem;
  margin-left: 20px;
  margin-right: 20px;
  width: 9%;
  background-color: white;
  border-top: 4px solid rgb(55, 96, 134);
  border-bottom: 4px solid rgb(55, 96, 134);
  color: black;
  font-weight: 700;
  text-align: center;
  height: 35px;
  line-height: 40px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  cursor: default;
}

.contents .contents_items .tech_detail .td_desc li .score {
  display: inline;
  visibility: hidden;
}

.contents .contents_items .tech_detail .td_desc li.screen {
  background-color: rgba(60, 60, 60, 1);
  color: white;
  border-top: 7px solid rgb(92, 154, 212);
  border-bottom: 7px solid rgb(92, 154, 212);
}

.contents .contents_items .tech_detail .dt_screen {
  position: relative;
  background-color: white;
  display: flex;
  margin-top: 30px;
  height: 300px;
}

.contents .contents_items .tech_detail .dt_screen .dt_round {
  width: 30%;
  background-color: inherit;
  position: relative;
}

.contents .contents_items .tech_detail .dt_screen .dt_round .text_round {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: inherit;
  line-height: 5.2;
  text-align: center;
  font-size: 4.7rem;
  z-index: 3;
}

.contents .contents_items .tech_detail .dt_screen .dt_round .bg_round {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: inherit;
}

.contents .contents_items .tech_detail .dt_screen .dt_round .bg_round .bar {
  position: absolute;
  width: 7px;
  height: 50%;
  left: 50%;
  transform-origin: 0 100%;
  background-color: rgb(92, 154, 212);
}

.contents .contents_items .tech_detail .dt_screen .dt_round .bg_round:after {
  position: absolute;
  content: "";
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: rgb(55, 96, 134);
}

.contents .contents_items .tech_detail .dt_screen .dt_text_wrap {
  width: 70%;
  display: table;
  position: relative;
}

.contents .contents_items .tech_detail .dt_screen .dt_text_wrap .dt_text {
  width: 100%;
  box-sizing: border-box;
  padding: 0 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: inherit;
  word-break: break-all;
}

.contents .contents_items .portfolio {
  margin-top: 100px;
  width: 1300px;
  margin-left: auto;
  padding-top: 10px;
  margin-right: auto;
  background-color: rgb(240, 240, 240);
}

.contents .contents_items .portfolio .p_title {
  text-align: center;
  font-size: 4rem;
}

.contents .contents_items .portfolio .items {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: space-evenly;
}

.contents .contents_items .portfolio .items .item {
  width: 360px;
  height: 250px;
  background-color: black;
  margin: 30px;
  margin-bottom: 150px;
}

.contents .contents_items .portfolio .items .item .item_img {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-color: whitesmoke;
  cursor: default;
  background-position: center;
  transition-duration: 0.4s;
  position: relative;
  border: 0.5px solid #dddddd;
  background-repeat: no-repeat;
}

.contents .contents_items .portfolio .items .item .description {
  font-size: 1.6rem;
  width: 96%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: rgb(226, 226, 226);
  border-radius: 3px;
  border-bottom: 0px;
  font-weight: 500;
  line-height: 22px;
  transition: 0.6s;
}

.contents .contents_items .contact {
  width: 1300px;
  margin: 0 auto;
  background-color: white;
  margin-top: 150px;
  height: auto;
}

.contents .contents_items .contact .contact_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
  width: 100%;
}

.contents .contents_items .contact .c_desc {
  text-align: center;
  width: 65%;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 35px;
  padding: 20px 0;
  background-color: rgb(240, 240, 240);
}

.contents .contents_items .contact .contact_wrapper .c_item {
  width: 25%;
  padding: 30px 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: white;
  background: linear-gradient(
    to bottom,
    rgb(61, 61, 61) 0%,
    rgb(109, 109, 109) 100%
  );
  transition: 0.3s ease-in-out;
}

.contents .contents_items .contact .contact_wrapper .c_item.focused {
  background: linear-gradient(
    to bottom,
    rgb(49, 84, 179) 0%,
    rgb(18, 30, 65) 100%
  );
}

.contents .contents_items .contact .contact_wrapper .phone {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.contents .contents_items .contact .contact_wrapper .email {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* ---------------------------------- hover media -------------------------------- */

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .contents .top_btn:hover {
    transition: 0.2s;
    background-color: rgb(100, 100, 100);
  }

  .contents .contents_items .introduce:hover .i_title {
    display: inline;
    transition: 0.3s;
  }

  .contents .contents_items .introduce:not(:hover) .i_title {
    display: inline;
    transition: 0.3s;
  }

  .contents .contents_items .introduce:hover .i_deco {
    bottom: -4%;
    cursor: default;
  }

  .contents .contents_items .tech:hover {
    background-image: linear-gradient(white, white),
      linear-gradient(to bottom, rgb(65, 191, 207) 0%, rgb(55, 96, 134) 100%);
    transition: 0.5s;
    border-radius: 20px;
  }
  .contents .contents_items .tech:not(:hover) {
    transition: 0.1s;
  }
  .contents .contents_items .tech .t_desc .t_list li:hover {
    font-size: 4.5rem;
    transition: 0.2s;
    cursor: default;
  }

  .contents .contents_items .tech .t_desc .t_list li:hover:after {
    width: 80%;
    transition: 0.8s;
  }

  .contents .contents_items .tech .t_desc .t_list li:not(:hover) {
    color: white;
  }

  .contents .contents_items .tech_detail .td_desc li:hover {
    cursor: pointer;
  }

  .contents .contents_items .portfolio .items .item:hover .item_img {
    background-size: 115%;
  }

  .contents .contents_items .portfolio .items .item:hover .item_img:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .contents .contents_items .portfolio .items .item .item_img .hover_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    font-family: sans-serif;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    height: 40px;
    min-width: 100px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0;
    transition-duration: 0.2s;
    z-index: 1;
  }

  .contents
    .contents_items
    .portfolio
    .items
    .item:hover
    .item_img
    .hover_button {
    opacity: 1;
  }
}

/* ----------------------------------------------- footer ----------------------------------------------------------- */

.footer {
  margin-top: 160px;
  height: 100px;
  width: 100%;
  background-color: rgb(35, 35, 35);
  overflow: hidden;
}

.footer .f_title {
  width: 1135px;
  font-size: 3rem;
  font-weight: 600;
  color: #b2b2b2;
  text-align: center;
  margin-top: -10px;
  opacity: 0.3;
  margin: 0 auto;
  cursor: default;
}
