@import url(./mobile_header.css);

@media only screen and (max-width: 550px) {
  .contents {
    width: 90%;
    margin: 0 auto;
  }

  .contents .album_items {
    margin: 0 auto;
  }

  .contents .album_items .album_item {
    width: 100%;
    margin-top: 50px;
  }

  .contents .album_items .album_item .a_title {
    font-size: 1.6rem;
    height: 50px;
    line-height: 50px;
  }

  .contents .album_items .album_item .a_desc {
    display: block;
  }

  .contents .album_items .album_item .a_desc .a_img {
    width: 100%;
    height: 290px;
  }

  .contents .album_items .album_item .a_desc .a_description {
    width: 100%;
    height: 205px;
  }

  .contents .album_items .album_item .a_desc .a_description .d_title {
    margin: 0px;
    font-size: 1.7rem;
    font-weight: 600;
    height: 15px;
    line-height: 35px;
  }

  .contents .album_items .album_item .a_desc .a_description .tracklist {
    margin-top: 20px;
    line-height: 35px;
    height: 150px;
    font-size: 1.3rem;
  }

  .footer {
    margin-top: 50px;
  }
}
