@import url(../skip.css);

body {
  min-width: 1250px;
  overflow-x: auto;
}

/* ------------------------------------------------ header ------------------------------------------------------ */
.header {
  width: 100%;
  background: #031720;
}

.header .h-title {
  width: 100%;
}

.header .h-title .h-title-items {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #031720;
  position: relative;
  overflow: auto;
}

.header .h-title .h-title-items h1 a {
  float: left;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: 600;
  margin-left: 530px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .h-title .h-title-items .login-box {
  height: 10px;
  float: right;
}

.header .h-title .h-title-items .login-box ul {
  display: flex;
  justify-content: right;
}

.header .h-title .h-title-items .login-box ul li a {
  float: right;
  font-size: 1.5rem;
  color: white;
  width: 65px;
  line-height: 55px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.header .h-title .h-title-items .login-box ul li a:hover {
  text-decoration: underline;
}

/* .header .login-sns ul {
  position: absolute;
}

.header .login-sns ul li {
  margin: 0px;
  padding: 0px;
  background: none;
  height: 20px;
}

.header .login-sns ul li a {
  color: rgb(207, 206, 206);
  text-decoration: none;
  font-weight: 600;
  line-height: 65px;
} */

.header .h-title .h-deco {
  color: red;
}

.header .h-menu {
  background-color: white;
  border-bottom: 1px solid gray;
  width: 100%;
}

.header .h-menu .h-menu-items {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 50px;
  background-color: white;
}

.header .h-menu ul {
  text-align: center;
  cursor: default;
  float: left;
  margin-left: 160px;
}

.header .h-menu ul li {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 200px;
  background: white;
  font-weight: 700;
  line-height: 50px;
}

.header .h-menu ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.header .h-search form {
  height: 50px;
  display: flex;
  align-items: center;
  float: right;
}

.header .h-search input {
  width: 25px;
  height: 35px;
  font-size: 1.7rem;
  border-radius: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  background-color: white;
  transition: 0.3s ease-in-out;
}

.header .h-search input:focus {
  width: 100px;
}

@media (hover: hover) {
  .header .h-menu .h-menu-items ul li a:hover {
    padding-left: 7px;
    padding-right: 7px;
    border-bottom: 3px solid black;
  }
}
