@import url(../skip.css);

/* ------------------------------------------------ header ------------------------------------------------------ */
.header {
  width: 100%;
  background: #031720;
  position: relative;
}

.header .h_title h1 {
  text-align: center;
  padding-top: 10px;
}

.header .h_title h1 a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: 600;
  color: white;
}

.header .login_box {
  position: absolute;
  top: 20%;
  right: 2%;
  display: flex;
  margin-right: auto;
  background: #031720;
  cursor: pointer;
}

.header .login_box ul {
  display: flex;
}

.header .login_box ul li a {
  font-size: 1.5rem;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  text-decoration: none;
}

.header .login_box ul li a:hover {
  text-decoration: underline;
}

/* .header .login_sns ul {
  position: absolute;
}

.header .login_sns ul li {
  margin: 0px;
  padding: 0px;
  background: none;
  height: 20px;
}

.header .login_sns ul li a {
  color: rgb(207, 206, 206);
  text-decoration: none;
  font-weight: 600;
  line-height: 65px;
} */

.header .h_title .h_deco {
  color: red;
}

.header .h_menu {
  text-align: center;
}

.header .h_menu ul {
  background: black;
  margin-top: 15px;
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-bottom: 1px solid gray;
}

.header .h_menu ul li {
  display: inline-block;
  margin-right: 30px;
  height: 50px;
  width: 200px;
  background: white;
  font-weight: 700;
  line-height: 50px;
  position: relative;
}

.header .h_menu ul li::after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 48px;
  right: 0px;
  height: 3px;
  width: 0%;
  background-color: #052635;
  border-radius: 50px;
}

.header .h_menu ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}

.header .h_search input {
  position: absolute;
  top: 66px;
  left: 6%;
  bottom: 17px;
  width: 250px;
  height: 35px;
  font-size: 2rem;
  border-radius: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid black;
  background-color: white;
  z-index: 1;
}

@media (hover: hover) {
  .header .h_menu ul li:hover::after {
    width: 50%;
    transition: 0.3s;
  }
}
