@import url(./mobile_header.css);

@media only screen and (max-width: 550px) {
  .help_contents {
    width: 85%;
    margin: 50px auto;
  }

  .help_contents .items {
    width: 100%;
    margin: 0;
  }

  .help_contents .items .item {
    margin-top: 1px;
  }

  .help_contents .items .item .title {
    font-size: 1.8rem;
    height: 40px;
    line-height: 40px;
  }

  .help_contents .items .qna .list ul li .question {
    font-size: 1.3rem;
    height: 35px;
    line-height: 35px;
  }

  .help_contents .items .qna .list ul li .question::before {
    font-size: 1.3rem;
  }

  .help_contents .items .qna .list ul li .answer {
    font-size: 1.3rem;
    height: 35px;
    line-height: 35px;
    font-weight: 600;
  }

  .help_contents .items .qna .list ul li .answer::before {
    font-size: 1.4rem;
  }

  .help_contents .items .item .contact {
    display: block;
    height: 40px;
    font-size: 1.4rem;
  }

  .help_contents .items .item .contact .phone {
    margin-bottom: 5px;
    margin-top: 3px;
  }

  .help_contents .items .item .contact .email {
    text-align: center;
  }

  .help_contents .items .item .contact .deco {
    display: none;
  }

  .footer {
    margin-top: 50px;
  }
}
