@media only screen and (max-width: 550px) {
  .join {
    width: 90%;
  }

  .join .join_header {
    height: 40px;
  }

  .join .join_header a {
    font-size: 2.4rem;
    line-height: 13px;
  }

  .join .join_header .title {
    font-size: 1.5rem;
    margin: 0px;
    line-height: 47px;
    margin-left: 10px;
  }

  .join .join_input_items .input_item input {
    height: 30px;
    font-size: 1.5rem;
    border-radius: 7px;
    padding-left: 10px;
  }

  .join .join_input_items .input_item .join_btn {
    font-size: 1.5rem;
    height: 40px;
  }

  .join .join_input_items .input_item .check {
    height: 35px;
    font-size: 1.3rem;
  }

  .join .join_bottom {
    font-size: 1.5rem;
  }

  .join .join_input_items .join_description {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .join .join_bottom {
    font-size: 1.5rem;
  }
}
