@import url(./mobile_header.css);

@media only screen and (max-width: 550px) {
  body {
    background-color: black;
  }

  /* -----------------------------------------------------contents-------------------------------------- */

  .contents .contents_items .swiper_section {
    display: none;
  }

  .contents .contents_items .description .d_img {
    display: none;
  }

  .contents .contents_items .description .d_img img {
    width: 100%;
  }

  .contents .contents_items .introduce .i_deco {
    font-size: 3rem;
    padding-left: 0px;
    padding-bottom: 40px;
    margin-top: 40px;
  }

  .contents .contents_items .description .d_desc .d_deco {
    font-size: 3rem;
  }

  .contents .contents_items .introduce {
    display: block;
  }

  .contents .contents_items .introduce .i_deco {
    width: 100%;
    font-size: 3rem;
    line-height: 50px;
    padding-bottom: 0;
  }

  .contents .contents_items .introduce .login_box {
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .contents .contents_items .introduce .login_box .login_sns {
    display: none;
  }

  .contents .contents_items .introduce .login_box .login_btn {
    width: 50%;
    height: 50px;
    font-size: 1.7rem;
  }

  .contents .contents_items .introduce .login_box .sign_up_btn {
    width: 50%;
    height: 50px;
    font-size: 1.7rem;
  }

  .contents .contents_items .introduce .login_sns ul li a {
    font-size: 3rem;
  }

  .contents .contents_items .description {
    display: block;
    margin-top: 0px;
    text-align: center;
    background-image: url("../../images/musicheart/musichearDescription.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contents .contents_items .description .d_desc {
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contents .contents_items .description .d_desc .d_deco {
    margin-top: 50px;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, 0.9);
  }

  .contents .contents_items .description .d_desc .d_title {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 60px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    word-break: keep-all;
    color: white;
  }

  .contents .contents_items .description .d_desc .d_btn {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .contents .contents_items .description .d_desc .d_btn .sub_btn {
    height: 40px;
    width: 170px;
    font-size: 1.7rem;
  }

  .footer {
    height: 30px;
    margin-top: 30px;
  }
}
