@import url(./header.css);
@import url(../skip.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #031720;
}

.white {
  color: white;
}

.btn {
  width: 100%;
  height: 65px;
  font-size: 1.8rem;
  font-weight: 400;
  background: rgb(52, 52, 65);
  color: white;
  cursor: pointer;
}

a {
  color: black;
}

/* ------------------------mobile------------- */

.mobile_h_menu {
  display: none;
}
.header .mobile_h_menu_btn {
  display: none;
}

/* ------------------------------------------------- contents ------------------------------------------------------ */

.contents .contents_items .swiper_section {
  width: 100%;
  background: #031720;
}

.contents .contents_items .swiper_section .swiper {
  width: 1250px;
}
.contents .contents_items .swiper_section .swiper-wrapper {
  width: 100%;
  height: 400px;
  box-shadow: 3px 12px 12px rgba(255, 255, 255, 1),
    3px 12px 12px rgba(255, 255, 255, 1), 3px 12px 12px rgba(255, 255, 255, 1),
    3px 12px 12px rgba(255, 255, 255, 1);
}
.swiper-slide {
  background-image: url("https://picsum.photos/1000/500");
  background-repeat: no-repeat;
  background-size: cover;
}

.contents .contents_items .introduce {
  width: 100%;
  background-color: black;
  height: 140px;
  text-align: center;
  font-weight: 500;
}

.contents .contents_items .introduce .i_deco {
  width: 1250px;
  background: black;
  color: rgb(194, 194, 194);
  font-size: 6rem;
  font-weight: 600;
  line-height: 140px;
  letter-spacing: 10px;
  cursor: default;
  margin-left: auto;
  margin-right: auto;
}

.contents .contents_items .description {
  margin-top: 105px;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents .contents_items .description .d_desc {
  flex-direction: column;
}

.contents .contents_items .description .d_img img {
  background-image: url("../../images/musicheart/musichearDescription.png");
  opacity: 0.8;
  width: 600px;
  height: 450px;
  border-radius: 20px;
}

.contents .contents_items .description .d_desc .d_deco {
  color: rgb(155, 155, 155);
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 15px;
  cursor: default;
}

.contents .contents_items .description .d_desc .d_title {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  line-height: 27px;
  text-align: left;
}

.contents .contents_items .description .d_desc .d_btn {
  margin-top: 80px;
  text-align: center;
}

.contents .contents_items .description .d_desc .d_btn .sub_btn {
  border-radius: 30px;
  height: 50px;
  width: 40%;
  font-size: 2rem;
}

/* -------------------------------------------------footer--------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  margin-top: 100px;
  background-color: black;
}

@media (hover: hover) {
  .contents .contents_items .introduce .login_sns ul li a:hover {
    color: rgb(255, 255, 255);
  }

  .contents .contents_items .description .sub_btn:hover {
    background-color: rgb(49, 4, 78);
  }
}
