@import url(./header.css);
@import url(../skip.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #031720;
}

a {
  color: black;
}

/* ------------------------mobile------------- */

.mobile-h-menu {
  display: none;
}
.header .mobile-h-menu-btn {
  display: none;
}

/* -------------------------------------------------contents--------------------------------------------- */

.contents {
  width: 1000px;
  margin: 0 auto;
}

.contents .img-items {
  width: inherit;
  height: 160px;
  background-color: #031720;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contents .img-items .img-item {
  width: 15%;
  height: 140px;
  background-color: #031720;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}

.contents .img-items .clicked {
  border: 1px solid white;
  opacity: 1;
}

.contents .biggerimg-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 60%;
  border-radius: 25px;
  height: 440px;
  background-color: #031720;
  transition: 0.3s ease-in-out;
}

.contents .biggerimg-box .bigger-img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contents .img-title-box .img-title {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  display: none;
}

.contents .img-title-box .title-clicked {
  display: block;
  transition: 0.3s ease-in-out;
}

/* -------------------------------------------------footer--------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  margin-top: 100px;
  background-color: black;
}

@media (hover: hover) {
  .contents .img-items .img-item:hover {
    opacity: 1;
  }
}
