@import url(./header.css);
@import url(../skip.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #031720;
}

a {
  color: black;
}

/* ------------------------mobile------------- */

.mobile_h_menu {
  display: none;
}
.header .mobile_h_menu_btn {
  display: none;
}

/* -------------------------------------------------contents--------------------------------------------- */

.contents .img_items {
  width: 60%;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  background-color: #031720;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents .img_items .img_item {
  width: 15%;
  height: 170px;
  background-color: #031720;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  cursor: pointer;
}

.contents .img_items .clicked {
  border: 1px solid white;
  opacity: 1;
}

.contents .biggerimg_box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 40%;
  border-radius: 25px;
  height: 500px;
  background-color: #031720;
  transition: 0.3s ease-in-out;
}

.contents .biggerimg_box .bigger_img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contents .img_title_box .img_title {
  font-size: 4rem;
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  display: none;
}

.contents .img_title_box .title_clicked {
  display: block;
  transition: 0.3s ease-in-out;
}

/* -------------------------------------------------footer--------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  margin-top: 100px;
  background-color: black;
}

@media (hover: hover) {
  .header .h_menu ul li:hover::after {
    width: 70%;
    transition: 0.3s;
  }

  .contents .img_items .img_item:hover {
    opacity: 1;
  }
}
