@import url(../setting.css);
@import url(../subbanner.css);

/* 관광명소 3가지중 활성화된 페이지만 색상 진하게 */
.attractions_nav li:first-child a {
  border-top-left-radius: 15px;
  background-color: #028585;
}

/* --------------------------- attraction_template ----------------------- */

.attraction {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}

/* -------------- 배너에 겹쳐진 nav ------------------ */

.attraction .attractions_nav {
  position: absolute;
  top: -120px;
}

.attractions_nav li {
  float: left;
  width: 135px;
  height: 70px;
}

.attractions_nav a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 160, 160);
  box-sizing: border-box;
  text-align: center;
  line-height: 70px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.7rem;
}

.attractions_nav li:last-child a {
  border-top-right-radius: 15px;
}

/* -------------- attraction 상단 h3 ------------------ */

.attraction_header {
  width: 100%;
  margin-top: 50px;
  position: relative;
}

.attraction_header h3 {
  width: 100%;
  height: 70px;
  font-size: 3.5rem;
  font-weight: bold;
  color: #293838;
  line-height: 70px;
  border-bottom: 1px solid #ccc;
  text-indent: 20px;
}

/* ------------- 상단 path ------------------ */

.attraction_header .path {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.path li {
  display: inline;
  float: left;
  line-height: 70px;
  font-size: 1.5rem;
}

.path li:last-child {
  font-weight: bold;
}

.path li:not(:last-child):after {
  position: relative;
  top: -2px;
  content: "▶";
  margin: 0 5px;
  font-size: 1.1rem;
}

/* -------------- attraction  ------------------ */

.attraction_desc {
  width: 100%;
  margin-top: 30px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.attraction_desc:after {
  content: "";
  display: block;
  clear: both;
}

/* -------------- attraction 왼쪽 이미지 슬라이더 ------------------ */

.attraction_desc .slider {
  float: left;
  width: 600px;
  height: 400px;
  background-color: #293838;
  position: relative;
  border-radius: 8px;
}

/* -------------- 슬라이더 컨트롤러 ------------------ */

.attraction_desc .slider .control {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 25px;
  bottom: -25px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.slider .control span {
  columns: #ddd;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  width: 5%;
  text-align: center;
  vertical-align: top;
}

.control .prevBtn,
.control .stopBtn,
.control .nextBtn {
  padding: 0 8px;
  cursor: pointer;
}

.control .slash,
.control .index_l {
  color: #a7a7a7;
}

.control .prevBtn:before {
  display: inline-block;
  content: "<";
  font-size: 2.5rem;
  color: #a7a7a7;
}

.control .stopBtn::before {
  display: inline-block;
  content: "||";
  font-size: 1.8rem;
}

.control .nextBtn:before {
  display: inline-block;
  position: relative;
  left: -5px;
  content: ">";
  font-size: 2.5rem;
  color: #a7a7a7;
}

/* ----------------- attraction 오른쪽 설명 ------------- */

.attraction_desc .attraction_desc_detail {
  width: 600px;
  height: 400px;
  float: right;
  box-sizing: border-box;
  padding: 30px;
}

/* ---------- 설명 제목 -------------- */

.attraction_desc_detail strong {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

/*------------ 설명 단락 ------------ */

.attraction_desc_detail p {
  font-size: 1.6rem;
  line-height: 30px;
  color: #242424;
}

/*-------- 설명 주소 --------- */

.attraction_desc_detail ul {
  width: 100%;
}

.attraction_desc_detail li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 1.4rem;
  margin: 30px 0 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.attraction_desc_detail li > span:after {
  position: relative;
  top: -2px;
  content: "|";
  font-size: 1.1rem;
  margin: 0 10px;
}

.attraction_desc_detail li > em {
  color: #242424;
  font-size: 1.5rem;
}

/* ------------- 설명 로드뷰 버튼 ---------- */

.attraction_desc_detail button {
  display: block;
  width: 180px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #132f5a;
  cursor: pointer;
  background-color: white;
  font-size: 1.4rem;
  transition: 0.3s;
}

.attraction_desc_detail button:hover {
  color: white;
  background-color: #132f5a;
}

/* ---------------------- 슬라이더 다음 label 세부정보란 --------------- */

.attraction .attraction_details {
  width: 100%;
  margin-top: 50px;
}

.attraction_details label {
  float: left;
  width: 25%;
  height: 70px;
  line-height: 70px;
  background-color: #293838;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.7rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 0 40px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;
  position: relative;
}

.attraction_details label:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 5px;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background-color: #a7a7a7;
  transition: 0.3s;
}

.attraction_details:after {
  content: "";
  display: block;
  clear: both;
}

.attraction_details label:hover {
  border: 3px solid #27a49f;
}
.attraction_details label:hover:after {
  background-color: #27a49f;
  height: 15px;
}

.attraction_details .detail_screen {
  margin-top: 30px;
}

.attraction_details .detail_screen > div {
  display: none;
  color: white;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background-color: whitesmoke;
  font-size: 1.7rem;
  clear: both;
}

.detail_screen #ntro_screen {
}
.detail_screen #info_screen {
}
.detail_screen #way_screen {
}
.detail_screen #surroundinginfo_screen {
}

/* ------------------- radio 버튼 과 label 효과 연결-------------- */

.attraction_details input[type="radio"]:checked + label {
  border: 3px solid #27a49f;
}
.attraction_details input[type="radio"]:checked + label:after {
  background-color: #27a49f;
  height: 15px;
}

.attraction_details #introBtn:checked ~ .detail_screen #intro_screen {
  display: block;
}
.attraction_details #infoBtn:checked ~ .detail_screen #info_screen {
  display: block;
}
.attraction_details #wayBtn:checked ~ .detail_screen #way_screen {
  display: block;
}
.attraction_details
  #surroundinginfoBtn:checked
  ~ .detail_screen
  #surroundinginfo_screen {
  display: block;
}

/*------------------- etc_info----------------- */

.etc_info {
  width: 1400px;
  margin: 50px auto;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding-left: 30px;
}

.etc_info:after {
  content: "";
  display: block;
  clear: both;
}

.etc_info ul li {
  height: 70px;
  float: left;
  font-size: 1.7rem;
  line-height: 70px;
}
.etc_info ul li:not(:last-child):after {
  position: relative;
  display: inline-block;
  content: "|";
  font-size: 1.5rem;
  top: -2px;
  margin: 0 10px;
  color: #a7a7a7;
}

.etc_info li span b {
  font-weight: bold;
}
