@import url(../inner_template.css);

/* ---------------- inner > inner-desc --------------- */

.inner-desc {
  width: 100%;
  margin-top: 30px;
  padding: 50px 100px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.inner-desc:after {
  content: "";
  display: block;
  clear: both;
}

/* -------------- attraction 왼쪽 이미지 슬라이더 ------------------ */

.inner-desc .slider {
  float: left;
  width: 600px;
  height: 400px;
  position: relative;
}

.slider .img-items-outer {
  width: 600px;
  height: 400px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.slider .img-items-inner {
  width: 1800px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.slider .img-items-inner:hover {
  left: -600px;
}

.slider .img-items-inner:after {
  content: "";
  display: block;
  clear: both;
}

.slider .img-items-inner li {
  float: left;
  width: 600px;
  height: 400px;
}

.slider .item {
  width: 100%;
  height: 100%;
  background-image: url(../../../source/images/greennature/attractions/attraction.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

/* -------------- 슬라이더 컨트롤러 ------------------ */

.inner-desc .slider .control {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 25px;
  bottom: -25px;
  background-color: white;
  border-radius: 30px;
  text-align: center;
}

.slider .control span {
  columns: #ddd;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  width: 5%;
  text-align: center;
  vertical-align: top;
}

.control .prevBtn,
.control .stopBtn,
.control .nextBtn {
  padding: 0 8px;
  cursor: pointer;
}

.control .slash,
.control .index-l {
  color: #a7a7a7;
}

.control .prevBtn:before {
  display: inline-block;
  content: "<";
  font-size: 2.5rem;
  color: #a7a7a7;
}

.control .stopBtn::before {
  display: inline-block;
  content: "||";
  font-size: 1.8rem;
}

.control .nextBtn:before {
  display: inline-block;
  position: relative;
  left: -5px;
  content: ">";
  font-size: 2.5rem;
  color: #a7a7a7;
}

/* ----------------- attraction 오른쪽 설명 ------------- */

.inner-desc .inner-desc-detail {
  width: 600px;
  height: 400px;
  float: right;
  box-sizing: border-box;
  padding: 30px;
}

/* ---------- 설명 제목 -------------- */

.inner-desc-detail strong {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

/*------------ 설명 단락 ------------ */

.inner-desc-detail p {
  font-size: 1.6rem;
  line-height: 30px;
  color: #242424;
}

/*-------- 설명 주소 --------- */

.inner-desc-detail ul {
  width: 100%;
}

.inner-desc-detail li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 1.4rem;
  margin: 30px 0 0;
  padding: 20px 0;
  border-top: 1px solid #ccc;
}

.inner-desc-detail li > span:after {
  position: relative;
  top: -2px;
  content: "|";
  font-size: 1.1rem;
  margin: 0 10px;
}

.inner-desc-detail li > em {
  color: #242424;
  font-size: 1.5rem;
}

/* ------------- 설명 로드뷰 버튼 ---------- */

.inner-desc-detail button {
  display: block;
  width: 180px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #132f5a;
  cursor: pointer;
  background-color: white;
  font-size: 1.4rem;
  transition: 0.3s;
}

.inner-desc-detail button:hover {
  color: white;
  background-color: #132f5a;
}

/* ---------------------- 슬라이더 다음 label 세부정보란 --------------- */

.attraction .attraction-details {
  width: 100%;
  margin-top: 50px;
}

.attraction-details label {
  float: left;
  width: 25%;
  height: 70px;
  line-height: 70px;
  background-color: #293838;
  box-sizing: border-box;
  background-color: white;
  font-size: 1.7rem;
  text-align: left;
  border: 1px solid #ccc;
  padding: 0 40px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;
  position: relative;
}

.attraction-details label:after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 5px;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
  background-color: #a7a7a7;
  transition: 0.3s;
}

.attraction-details:after {
  content: "";
  display: block;
  clear: both;
}

.attraction-details label:hover {
  border: 3px solid #27a49f;
}
.attraction-details label:hover:after {
  background-color: #27a49f;
  height: 15px;
}

.attraction-details .detail-screen {
  margin-top: 30px;
}

.attraction-details .detail-screen > div {
  display: none;
  color: black;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  background-color: whitesmoke;
  font-size: 1.7rem;
  clear: both;
}

#intro-screen {
  padding: 50px 100px;
}

#intro-screen h3 {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  font-size: 2.5rem;
}
#intro-screen p {
  font-size: 1.7rem;
  line-height: 30px;
  margin-bottom: 50px;
}

#intro-screen img {
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
}

#info-screen table {
  width: 100%;
  border-top: 1px solid #666;
}

#info-screen table th {
  background-color: white;
  height: 50px;
  line-height: 50px;
}

#info-screen table td {
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
}

#way-screen {
  position: relative;
}

#way-screen img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#way-screen .mapBtn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: 1.5rem;
}

#way-screen .mapBtn:after {
  display: inline-block;
  content: ">";
  width: 25px;
  height: 25px;
  line-height: 27px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #27a49f;
  border-radius: 50%;
  margin-left: 50px;
}

#way-screen .mapBtn:hover {
  background-color: #efefef;
}

#surroundinginfo-screen ul {
  width: 100%;
}

#surroundinginfo-screen li {
  width: 33%;
  display: inline-block;
  height: 170px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
}

#surroundinginfo-screen span {
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  background-color: #132f5a;
  margin-bottom: 20px;
}
#surroundinginfo-screen strong {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#surroundinginfo-screen p {
  font-size: 1.7rem;
  color: #666;
}

/* ------------------- radio 버튼 과 label 효과 연결-------------- */

.attraction-details input[type="radio"]:checked + label {
  border: 3px solid #27a49f;
}
.attraction-details input[type="radio"]:checked + label:after {
  background-color: #27a49f;
  height: 15px;
}

.attraction-details #introBtn:checked ~ .detail-screen #intro-screen {
  display: block;
}
.attraction-details #infoBtn:checked ~ .detail-screen #info-screen {
  display: block;
}
.attraction-details #wayBtn:checked ~ .detail-screen #way-screen {
  display: block;
}
.attraction-details
  #surroundinginfoBtn:checked
  ~ .detail-screen
  #surroundinginfo-screen {
  display: block;
}

/*------------------- etc-info----------------- */

.etc-info {
  width: 1400px;
  margin: 50px auto;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding-left: 30px;
}

.etc-info:after {
  content: "";
  display: block;
  clear: both;
}

.etc-info ul li {
  height: 70px;
  float: left;
  font-size: 1.7rem;
  line-height: 70px;
}
.etc-info ul li:not(:last-child):after {
  position: relative;
  display: inline-block;
  content: "|";
  font-size: 1.5rem;
  top: -2px;
  margin: 0 10px;
  color: #a7a7a7;
}

.etc-info li span b {
  font-weight: bold;
}
