@import url(../reset.css);
@import url(../skip.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

/* ---------------------------------- header -------------------------------- */

header {
  width: 100%;
}

header a {
  color: white;
}

header .menu_wrapper {
  width: 150rem;
  max-width: 100%;
  height: 40px;
  background-color: rgb(58, 58, 58);
  margin: 0 auto;
  text-align: center;
  position: relative;
}

header .menu_left,
header .menu_right {
  display: inline-block;
}

header li {
  display: inline-block;
  font-size: 1.6rem;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  transition: 0.2s;
}

header li > a {
  display: block;
}

header li:hover {
  background-color: rgb(100, 100, 100);
}

header li:hover .sub {
  max-height: 70px;
}

header li .sub {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 70px;
  background-color: rgb(58, 58, 58);
  border-top: 1px solid gray;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s;
  z-index: 1;
}

header li .sub ul {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header li .sub ul li {
  height: 100%;
  line-height: 70px;
}

header li .sub ul li a {
  display: block;
  height: 100%;
}

header .logo {
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  background: goldenrod;
  padding: 5px 15px;
  margin: 0 10px;
  box-shadow: 2px 2px 10px 2px hsl(200 50% 20% / 20%);
  position: relative;
  z-index: 2;
}

header h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

/* ---------------------------------- aside -------------------------------- */

aside {
  position: absolute;
  right: 5%;
  top: 170px;
  height: calc(100% - 17px);
  z-index: 4;
}

aside .side {
  position: -webkit- sticky;
  position: sticky;
  top: 30px;
  height: 25px;
}

aside .side li {
  width: 70px;
  height: 70px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid rgb(185, 185, 185);
  transition: 0.3s;
}

aside li > a {
  display: block;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  line-height: 70px;
}

aside li:hover {
  background-color: gray;
}
aside li:hover a {
  color: white;
}
/* ---------------------------------- main -------------------------------- */

main {
  width: 100%;
}

/*------------ section -------------*/

main section {
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

main .banner .screen {
  background-color: whitesmoke;
  height: 0;
  padding-bottom: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  transition: 0.3s;
}

main .banner .screen .screen_title {
  position: absolute;
  top: 65%;
  left: 23%;
  right: 0;
  bottom: 0;
  color: white;
  text-shadow: 2px 2px hsl(200 50% 20% / 10%), -2px -2px hsl(200 50% 20% / 10%);
  font-size: 2.6vw;
  font-weight: 700;
}

main .img_index {
  background-color: yellowgreen;
  padding-bottom: 3vw;
}

main .img_index .index_paths {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-align: center;
  height: 100%;
}

main .img_index .index_paths .path_wrapper {
  position: relative;
  background-color: white;
  width: 15%;
  height: 15%;
  border-radius: 15px;
  transition: 0.3s;
}

main .img_index .index_paths .index,
main .img_index .index_paths .path {
  display: none;
}

main .img_index .index_paths .path_wrapper:hover,
main .img_index .index_paths .path_wrapper.clicked {
  cursor: pointer;
  background-color: rgb(58, 58, 58);
}

main .plate .food {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 15px;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main .plate:hover .food {
  width: 100%;
}

main .lunch_menu .menu_wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 19.5vw;
  background-color: whitesmoke;
  background-image: url(../../images/foodk/kitchen.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main .lunch_menu .menu_wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

main .menu_wrapper .menus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .menus .menu {
  width: 17%;
  height: 80%;
  box-sizing: border-box;
  outline: 3px double gray;
  margin: 0 3px;
  cursor: pointer;
}

main .menu .menu_img {
  height: 70%;
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

main .menu .menu_desc {
  position: relative;
  height: 30%;
  transition: 0.3s;
}

main .menu_desc .event {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
  text-shadow: 1px 1px hsl(200 50% 20% / 40%), -1px -1px hsl(200 50% 20% / 40%);
}

main .menu:hover .menu_img {
  border: 1px solid white;
}

main .menu:hover .menu_desc {
  background-color: rgba(255, 255, 255, 0.5);
}

main .best_menu_section .best_menu_wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 22vw;
}

main .best_menu_wrapper .best_menus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
}

main .best_menus .best_menu {
  position: relative;
  width: 40%;
  height: 45%;
  margin: 0 10px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px hsl(200 50% 20% / 10%);
}

main .best_menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.3s;
}

main .best_menu:hover {
  cursor: pointer;
}

main .best_menu:hover:before {
  background-color: rgba(0, 0, 0, 0);
}

main .best_menu_img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  border-radius: 15px;
}

main .best_menu .best_menu_desc {
  position: absolute;
  display: table;
  left: 5%;
  bottom: 0;
  padding: 0 1%;
  text-align: center;
  width: 25%;
  height: 40%;
  box-sizing: border-box;
  background-color: goldenrod;
  transition: 0.3s;
}

main .best_menu_desc .type {
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 1.3vw;
  font-weight: 700;
}

main .best_menu:hover .best_menu_desc {
  background-color: rgb(46, 46, 46);
}

main .origins .origin_wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 24vw;
  background-image: url(../../images/foodk/cooking.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

main .origin_wrapper .origin_list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .origin_list .origin {
  position: relative;
  width: 20%;
  height: 100%;
  margin: 0 10px;
}

main .origin table {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 60%;
  border-spacing: 0;
  border-collapse: collapse;
  color: white;
}

main .origin caption {
  font-size: 1.2vw;
  text-align: left;
  padding: 0.6vmax 5px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
}

main .origin thead {
  font-weight: 700;
  background-color: rgb(23, 92, 49);
}

main .origin tbody {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px hsl(200 50% 20% / 40%), -1px -1px hsl(200 50% 20% / 40%);
}

main .origin th,
main .origin td {
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  font-size: 1vw;
  white-space: nowrap;
}

main .origin th {
  padding: 0.4vmax 0;
}

main .workers_wrapper .worker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

@media screen and (min-width: 2350px) {
  main .banner .screen .screen_title {
    font-size: 1.3vw;
  }

  main .menu_desc .event {
    font-size: 0.65vw;
  }

  main .best_menu_desc .type {
    font-size: 0.65vw;
  }

  main .origin caption {
    font-size: 0.6vw;
  }

  main .origin th,
  main .origin td {
    font-size: 0.5vw;
  }
}
