@media screen and (max-width: 550px) {
  aside {
    position: fixed;
    width: 100%;
    height: 30px;
    top: 90%;
    left: 0;
    display: none;
  }

  header h1 {
    font-size: 2rem;
  }

  header .menu_wrapper {
    width: 100%;
    height: 40px;
  }

  header li {
    padding: 0 3px;
  }

  header .logo {
    margin: 0 5px;
  }

  header nav a {
    font-size: 1.2rem;
    line-height: 40px;
    margin: 0 2px;
    padding: 0 2px;
  }

  header li .sub {
    height: 50px;
  }

  header .sub li a {
    line-height: 50px;
  }

  main .banner {
    width: 100%;
  }

  main .banner .screen {
    width: 100%;
    padding-bottom: 40vh;
    background-size: cover;
  }
  main .banner .screen .screen_title {
    font-size: 3vh;
  }

  main .img_index {
    width: 100%;
    padding-bottom: 5vh;
  }

  main .lunch_menu {
    width: 100%;
  }

  main .lunch_menu .menu_wrapper {
    padding-bottom: 50vh;
  }

  main .menu_wrapper .menus {
    flex-wrap: wrap;
    align-content: space-evenly;
  }

  main .menus .menu {
    width: 40%;
    height: 45%;
  }

  main .best_menu_section {
    width: 100%;
  }

  main .best_menu_section .best_menu_wrapper {
    padding-bottom: 40vh;
    flex-wrap: wrap;
  }

  main .best_menu_wrapper .best_menu {
    width: 45%;
    height: 40%;
    margin: 10px 5px;
  }

  main .best_menu .best_menu_img {
    background-size: cover;
  }

  main .best_menu_wrapper .best_menu .best_menu_desc {
    width: 38%;
    left: 10%;
  }

  main .best_menu_desc .type {
    font-size: 2vh;
  }

  main .menu_desc .event {
    font-size: 2.4vh;
  }

  main .origins {
    width: 100%;
  }

  main .origins .origin_wrapper {
    padding-bottom: 50vh;
    background-size: cover;
  }

  main .origin_wrapper .origin_list {
    flex-wrap: wrap;
  }

  main .origin_list .origin {
    width: 40%;
    height: 40%;
  }

  main .origin caption {
    font-size: 2vh;
  }

  main .origin td,
  main .origin th {
    font-size: 1.9vh;
  }
}
