@charset "UTF-8";
@import url(../reset.css);
html {
  font-size: 62.5%; /*  setting rem (1rem = 10px)  */
}

body {
  font-family: "Nanum Gothic", "돋움", "Dotum", "Apple Gothic", sans-serif;
  font-family: "Open Sans", "Pretendard", sans-serif;
  overflow-x: hidden;
  background-color: #f4a5b7;
}

a {
  text-decoration: none;
}

button.text-indent {
  text-indent: -9999em;
}

.text-indent {
  text-indent: -9999em;
}

.border-top {
  border-top: 0.1rem solid white;
}

.title-h2 {
  color: #000000;
  font-size: 8rem;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

.title-h2--pink {
  color: #f4a5b7;
}

:root {
  color-scheme: light only;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #f4a5b7 !important;
    color: black !important;
  }
}

/* ================================= skip ================================= */

.main-link {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  background-color: #f4a5b7;
  border-bottom: 0.1rem solid #fff;
  text-align: center;
}

.skip__link {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 99;
}

.skip__link:focus {
  transition: 0.1s ease;
  top: 0;
}

/* ================================= .header ================================= */
.header {
  background-color: #000000;
  border-bottom: 0.05rem solid #f4a5b7;
}

.header__inner {
  position: sticky;
  padding: 1rem 0;
  max-width: 146rem;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}

.header__link {
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 0.05rem 0.05rem #f4a5b7, -0.05rem -0.05rem #f4a5b7;
  font-family: Arial, Helvetica, sans-serif;
  color: #f4a5b7;
}

.header__char--rotate {
  display: inline-block;
  font-size: 5.2rem;
  transition: 0.5s ease-in-out;
  transform: rotate(180deg);
}

@media screen and (max-width: 1281px) {
  .header__inner {
    width: 95%;
  }

  .header__link {
    font-size: 4rem;
  }

  .header__char--rotate {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 600px) {
  .header__link {
    font-size: 3rem;
  }

  .header__char--rotate {
    font-size: 3.2rem;
  }
}

/*================================= banner =================================*/

.banner__inner {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.slider__ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.slider__li {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.slider__li:nth-child(1) {
  left: 0;
}

.slider__li:nth-child(2) {
  left: 100%;
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.out-text {
  position: absolute;
  left: -99999em;
}

.slider__controls {
  max-width: 146rem;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.slider__btn {
  cursor: pointer;
  border: none;
}

.slider__btn--index {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2rem;
  left: 0;
  transition: 0.3s ease;
}

.slider__btn--index:nth-child(2) {
  left: 3rem;
}

.slider__btn--index.active {
  background-color: #f4a5b7;
}

.slider__btn--stop {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2rem;
  right: 0;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.slider__btn--play {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2rem;
  right: 4rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

/* banner 반응형 */
@media screen and (max-width: 1281px) {
  .banner__inner {
    height: 55vh;
  }

  .slider__controls {
    width: 90%;
    bottom: 15%;
  }
}
@media screen and (max-width: 600px) {
  .border-top {
    border-top: none;
  }

  .banner__inner {
    height: 20rem;
  }

  .slider__controls {
    bottom: 25%;
  }

  .slider__btn--index {
    width: 10px;
    height: 10px;
  }
  .slider__btn--play,
  .slider__btn--stop {
    width: 15px;
    height: 15px;
  }
}

/*================================= intro =================================*/

.intro__inner {
  position: relative;
  max-width: 146rem;
  margin: 20rem auto;
  width: 100%;
}

.intro__thumbnail {
  height: 70rem;
  width: 19.2%;
}

.btn-slider__inner {
  position: relative;
  display: inline-block;
}

.btn-slider__btn-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  border: 0.3rem solid #000000;
  background-color: transparent;
  transition: 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.btn-slider__btn-ul {
  width: 100%;
  height: 100%;
}

.btn-slider__btn-li {
  width: 100%;
  height: 20%;
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.btn-slider__btn {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  padding: 0;
  outline-width: 0.5rem;
}

.btn-slider__btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-position-top {
  object-position: top;
}

.btn-slider__btn-li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.btn-slider__btn-li:hover:after,
.btn-slider__btn-li.active:after {
  transition: 0.5s ease;
  background-color: transparent;
}

.intro__slider {
  position: relative;
  display: inline-block;
  height: 70rem;
  width: 80.5%;
  overflow: hidden;
}

.btn-slider__img-size-controls {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 2;
  transition: 0.3s ease;
}

.btn-slider__size-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f4a5b7;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

.btn-slider__size-btn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-slider__slider-ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transition: 0.4s ease;
}

.btn-slider__slider-li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.btn-slider__slider-li:nth-child(1) {
  top: 0;
}
.btn-slider__slider-li:nth-child(2) {
  top: 100%;
}
.btn-slider__slider-li:nth-child(3) {
  top: 200%;
}
.btn-slider__slider-li:nth-child(4) {
  top: 300%;
}
.btn-slider__slider-li:nth-child(5) {
  top: 400%;
}

.btn-slider__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.btn-slider__slider-img.cover {
  object-fit: cover;
}
.btn-slider__slider-img.contain {
  object-fit: contain;
}

.btn-slider__source {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
}

/* 모바일 intro 썸네일 */
.intro__thumbnail-mobile {
  display: none;
  width: 100%;
  height: 20rem;
  white-space: nowrap;
  font-size: 0;
  margin: 0.3% auto 0 auto;
}

.btn-slider__mobile-inner {
  position: relative;
}

.btn-slider__mobile-btn-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border: 0.3rem solid #000000;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.btn-slider__mobile-btn-ul {
  width: 100%;
  height: 100%;
}

.btn-slider__mobile-btn-li {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  cursor: pointer;
}

.btn-slider__mobile-btn {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  padding: 0;
  outline-width: 0.5rem;
}

.btn-slider__mobile-btn-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.btn-slider__mobile-btn-li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.btn-slider__mobile-btn-li:hover:after,
.btn-slider__mobile-btn-li.active:after {
  transition: 0.5s ease;
  background-color: transparent;
}

/* intro__desc ↑ */

.intro__line {
  width: 100%;
  height: 0.1rem;
  margin: 2rem 0;
  background-color: #000000;
}

.intro__desc {
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  margin: 0 auto;
}

.intro__title {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.intro__lang-translate {
  width: 100%;
  text-align: center;
}

.lang-selector__btn {
  background-color: #000000;
  color: #f4a5b7;
  font-size: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.intro__lang-btn {
  display: inline-block;
  margin: 2rem 0;
}

.lang-selector__p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  line-height: 1.618;
  word-break: break-all;
}

.intro__lang-p {
  display: none;
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

.intro__lang-p.active {
  display: block;
}

/* intro 반응형 */
@media screen and (max-width: 1281px) {
  .intro__inner {
    margin: 16rem 0;
  }

  .intro__thumbnail {
    display: none;
  }

  .intro__slider {
    display: block;
    width: 95%;
    height: 50rem;
    margin: 0 auto;
  }

  .intro__thumbnail-mobile {
    width: 95%;
    display: block;
  }

  .btn-slider__mobile-inner {
    height: 20rem;
  }

  .intro__desc {
    width: 95%;
    font-size: 2.5rem;
    margin: 1.8rem auto;
    margin-bottom: 0;
  }

  .intro__lang-p {
    width: 90%;
    font-size: 1.7rem;
  }
}

/* intro 반응형 600px */
@media screen and (max-width: 600px) {
  .intro__inner {
    margin: 8rem 0;
  }

  .intro__slider {
    height: 30rem;
  }

  .btn-slider__size-btn {
    width: 2rem;
    height: 2rem;
  }

  .intro__thumbnail-mobile {
    height: 10rem;
  }

  .intro__desc {
    font-size: 2.2rem;
  }

  .lang-selector__btn {
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
  }

  .intro__lang-p {
    width: 95%;
    font-size: 1.3rem;
  }
}

/*================================= members =================================*/
.members__inner {
  position: relative;
  max-width: 146rem;
  width: 100%;
  margin: 20rem auto;
  white-space: nowrap;
  font-size: 0;
  letter-spacing: 0;
}

.members__title {
  padding: 2rem 2rem 2rem 0;
  padding-left: 0;
  text-align: left;
}

.vertical-media {
  background-color: #000000;
  transition: 0.5s ease;
  opacity: 0;
}

.members__member {
  position: relative;
  display: inline-block;
  width: 25%;
}

.vertical-media__title {
  color: #f4a5b7;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.members__member-title {
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

.members__member:nth-child(2) {
  top: -8rem;
}
.members__member:nth-child(3) {
  top: -8rem;
  transition-delay: 0.2s;
}
.members__member:nth-child(4) {
  top: -8rem;
  transition-delay: 0.4s;
}
.members__member:nth-child(5) {
  top: -8rem;
  transition-delay: 0.6s;
}

.members__member.active {
  opacity: 1;
  top: 0;
}

.vertical-media__img {
  display: block;
  width: 100%;
  height: 100%; /* height 를 주지않을 경우 기본값 */
  object-fit: fill;
}

.vertical-media__img--cover {
  object-fit: cover;
}

.members__img {
  height: 60rem;
}

.vertical-media__link {
  display: block;
  width: 100%;
}

.members__link {
  height: 31.5rem;
}

/* members div 반응형 */
@media screen and (max-width: 1281px) {
  .members__inner {
    position: relative;
    white-space: initial;
    width: 95%;
  }

  .title-h2 {
    font-size: 6rem;
  }

  .members__member {
    width: 50%;
  }

  .members__member:nth-child(1),
  .members__member:nth-child(2) {
    margin-bottom: 0.1%;
  }

  .vertical-media__title {
    font-size: 2rem;
  }

  .members__member-title {
    padding: 1.5rem;
  }

  .members__img {
    object-fit: cover;
  }

  .vertical-media__img {
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .title-h2 {
    font-size: 3rem;
  }

  .members__member:nth-child(1),
  .members__member:nth-child(2) {
    margin-bottom: 0.3%;
  }

  .vertical-media__title {
    font-size: 1.4rem;
  }

  .members__img {
    height: 30rem;
  }

  .members__link {
    height: 15rem;
  }

  .vertical-media__img {
    object-fit: contain;
  }
}

/*================================= news =================================*/
.news {
  background-color: black;
}

.news__inner {
  position: relative;
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
}

.news__title {
  padding: 2rem 2rem 2rem 0;
  padding-left: 0;
  text-align: left;
}

.news__controls {
  margin: 5rem 0;
}

.arrow-slider__btn {
  display: inline-block;
  width: 25px; /* default value */
  height: 25px; /* default value */
  background-color: transparent;
  border: none;
  vertical-align: sub;
  cursor: pointer;
}

.arrow-slider__img {
  object-fit: cover;
}

.news__slider-btn--before {
  margin-right: 2rem;
}

.news__slider-btn--next {
  margin-left: 2rem;
}

.arrow-slider__num {
  display: inline-block;
  font-size: 2rem;
  color: white;
}

.arrow-slider__percentage {
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 1rem;
  overflow: hidden;
}

.news__percentage {
  width: 20%;
  height: 0.5rem;
  margin: 0 0.5rem;
  vertical-align: text-top;
}

.arrow-slider__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f4a5b7;
  transition: 0.5s ease;
}

.arrow-slider__slider {
  position: relative;
  left: -8rem;
  width: 216rem;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s ease;
}

.arrow-slider__slider.active {
  left: 0;
  opacity: 1;
}

.arrow-slider__ul {
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: 0.5s ease;
}

.arrow-slider__li {
  background-color: white;
  display: inline-block;
}

.news__li {
  width: 32rem;
  height: 35rem;
  margin: 10rem 2rem;
}

.arrow-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__li:nth-child(1) {
  margin-left: 0;
}

/* news div 반응형 */
@media screen and (max-width: 1281px) {
  .news__inner {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
  }

  .news__percentage {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .news__controls {
    margin: 2rem 0;
  }

  .news__slider-btn--before,
  .news__slider-btn--next {
    width: 2rem;
    height: 2rem;
    vertical-align: inherit;
  }

  .news__slider-btn--before {
    margin-right: 1rem;
  }

  .news__slider-btn--next {
    margin-left: 1rem;
  }

  .arrow-slider__num {
    font-size: 1.6rem;
  }
}

/*================================= albums =================================*/
.pink-btn {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  text-shadow: -0.05rem -0.05rem white, 0.05rem 0.05rem #000000;
  text-shadow: -0.1rem -0.1rem white, 0.1rem 0.1rem #000000;
  color: #f4a5b7;
  border-radius: 1rem;
  border: 0.3rem outset #f4a5b7;
  background-color: #000000;
  cursor: pointer;
  transition: 0.3s ease;
}

.pink-btn:focus {
  border-style: inset;
  text-shadow: 0.05rem 0.05rem white, -0.05rem -0.05rem #000000;
  text-shadow: 0.1rem 0.1rem white, -0.1rem -0.1rem #000000;
}

@media screen and (max-width: 600px) {
  .pink-btn {
    font-size: 14px;
  }
}

.albums {
  position: relative;
  width: 100%;
  min-height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 10rem;
  background-image: url(../../images/blackpink/crown.jpg);
  background-color: #000000;
}

.albums.active {
  background-image: url(../../images/blackpink/earthrounding.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.albums__inner {
  max-width: 146rem;
  margin: 0 auto;
}

.albums__title {
  padding: 2rem 2rem 2rem 0;
}

.albums__bg-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 146rem;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: right;
  padding-top: 5rem;
}

.albums__btn--stop {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.albums__btn--play {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.albums__ul {
  width: 100%;
  margin: 8rem auto 0 auto;
  text-align: center;
}

.switching-li__li {
  display: inline-block;
  width: fit-content;
  font-size: 20px;
  color: #f4a5b7;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.618;
  transition: 0.5s ease;
}

.albums__li {
  margin-right: 5rem;
}

.switching-li__li {
  color: #000000;
  font-size: 22px;
  opacity: 0.4;
}

.switching-li__li.active,
.switching-li__li:hover {
  color: #f4a5b7;
  opacity: 1;
}

.break.maxwidth1281 {
  display: none;
}

.albums__controls {
  width: 100%;
  text-align: center;
}

.albums__control-btn {
  display: block;
  margin: 5rem auto 3rem auto;
}

.switching-li__btn.active,
.switching-li__btn:focus {
  border-style: inset;
  text-shadow: 0.05rem 0.05rem white, -0.05rem -0.05rem #000000;
  text-shadow: 0.1rem 0.1rem white, -0.1rem -0.1rem #000000;
}

.nonactive {
  background-image: url(../../images/blackpink/crown.jpg);
}

.switching-li__img-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20rem;
  height: 20rem;
  display: inline-block;
  vertical-align: text-top;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0.4;
}

.switching-li__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.switching-li__img-btn:hover,
.switching-li__img-btn.active {
  opacity: 1;
}

/* album div 반응형 */
@media screen and (max-width: 1281px) {
  .albums__inner,
  .albums__bg-controls {
    width: 95%;
  }

  .albums__ul {
    width: 90%;
  }

  .switching-li__li {
    font-size: 20px;
  }

  .albums__li {
    margin-right: 2rem;
    line-height: 1.618;
  }

  .break.maxwidth1281 {
    display: block;
  }

  .albums__controls {
    margin-top: 6rem;
  }

  .albums__control-btn {
    margin-bottom: 2rem;
  }

  .albums__img-btn {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .albums__bg-controls {
    padding-top: 3.5rem;
  }

  .albums__btn--stop,
  .albums__btn--play {
    width: 1.6rem;
    height: 1.6rem;
  }

  .albums__ul {
    margin-top: 2rem;
  }

  .switching-li__li {
    font-size: 16px;
  }

  .albums__li {
    margin-right: 1rem;
  }

  .albums__controls {
    margin-top: 4rem;
  }

  .albums__img-btn {
    width: 12rem;
    height: 12rem;
  }

  .switching-li__img {
    object-fit: contain;
  }
}

@media screen and (max-width: 280px) {
  .break.maxwidth1281 {
    display: none;
  }
}

/*================================= game =================================*/
.game {
  background-image: url(../../images/blackpink/grass.JPG);
  margin-bottom: 0;
  background-color: #000000;
}

.game__inner {
  position: relative;
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
  height: 80rem;
}

.game__title {
  padding: 2rem 2rem 2rem 0;
}

.game__rank-game {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.rank-game__units:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #f4a5b7;
}

.game__units {
  height: 100%;
}

.rank-game__unit {
  display: inline-block;
}

.game__unit {
  width: 10rem;
  height: 100%;
  margin: 0 1rem;
}

.rank-game__unit-img {
  position: relative;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: 0.3s ease;
}

.game__unit-img {
  width: 9rem;
  height: 9rem;
}

.jennie {
  background-image: url(../../images/blackpink/0000926654.jpg);
}
.rose {
  background-image: url(../../images/blackpink/roseyg.jpg);
}
.lisa {
  background-image: url(../../images/blackpink/0002650199.jpg);
}
.jisoo {
  background-image: url(../../images/blackpink/0001567912_0019.jpg);
}

.rank-game__btn {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.rank-game__btn--start {
  display: none;
  transition: 0.5s ease-in-out;
}
.rank-game__btn--reset {
  display: none;
  transition: 0.3s ease-in-out;
}

.rank-game__btn--start.active {
  display: block;
}
.rank-game__btn--reset.active {
  display: block;
}

.rank-game__result {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: 0.3s ease;
}

.game__result {
  width: 30%;
  height: 50%;
}

.rank-game__result.active {
  left: 50%;
  opacity: 1;
}

.rank-game__word {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 70px;
}

/* game 반응형 */
@media screen and (max-width: 1281px) {
  .game__inner {
    width: 95%;
    margin: 0 auto;
  }

  .game__result {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .game__inner {
    height: 60rem;
  }

  .game__unit {
    width: 6rem;
  }

  .game__unit-img {
    width: 7rem;
    height: 7rem;
    background-position: top;
  }

  .game__units:after {
    height: 0.3rem;
  }
  .game__result {
    width: 60%;
  }

  .rank-game__word {
    font-size: 50px;
  }
}

/* 스크롤 이동버튼 */
.scroll-up {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 2%;
  bottom: 2%;

  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}
.scroll-up__link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f4a5b7;
  background-image: url(../../images/blackpink/chevron-up-solid.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
}

.scroll-up.active {
  opacity: 1;
  pointer-events: all;
}
/* scroll-up 반응형 */

@media screen and (max-width: 600px) {
  .scroll-up {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1281px) {
  /* div h2 {
    width: 95%;
    margin: 0 auto;
  } */
}
