@charset "UTF-8";
@import url(../reset.css);
html {
  font-size: 62.5%; /*  setting rem (1rem = 10px)  */
}

body {
  font-family: "Nanum Gothic", "돋움", "Dotum", "Apple Gothic", sans-serif;
  font-family: "Open Sans", "Pretendard", sans-serif;
  overflow-x: hidden;
  background-color: #f4a5b7;
}

.wrapper-h1 {
  background-color: #000000;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem 0;
  box-sizing: border-box;
  border: 0.8rem solid #000000;
  border-bottom: 0.05rem solid #f4a5b7;
  transition: 0.3s ease;
  z-index: 99;
}

h1 {
  width: 146rem;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: #f4a5b7;
  text-shadow: 0.05rem 0.05rem #f4a5b7, -0.05rem -0.05rem #f4a5b7;
}

h1 .deco.rotate {
  transition: 0.5s ease-in-out;
  font-size: 5.2rem;
  display: inline-block;
  transform: rotate(180deg);
}

section {
  max-width: 146rem;
  margin: 0 auto 20rem auto;
  position: relative;
}

.banner {
  max-width: initial;
  width: 100%;
  height: 85vh;
  position: relative;
}

.banner li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner li:nth-child(1) {
  left: 0;
}

.banner li:nth-child(2) {
  left: 100%;
}

.banner .out-text {
  position: absolute;
  left: -99999em;
}

.banner .controls {
  max-width: 146rem;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.banner .controls .control {
  cursor: pointer;
  border: none;
  outline: none;
}

.banner .controls .line {
  width: 100%;
  border-top: 0.1rem solid white;
}

.banner .controls .index {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2rem;
  left: 0;
}

.banner .controls .index:nth-child(2) {
  left: 3rem;
}

.banner .controls .stop {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 0;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}
.banner .controls .play {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.banner .controls .active {
  display: show;
}

/* intro */
:root {
  --intro-imgage-height: 70rem;
}

.intro .thumnail {
  display: inline-block;
  height: 70rem;
  width: 19%;
  vertical-align: top;
  position: relative;
}

.intro .thumnail .view-box {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  border: 0.3rem solid #000000;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.intro .thumnail:hover .view-box {
  top: 40%;
}

.intro .thumnail ul {
  width: 100%;
  height: 100%;
}

.intro .thumnail li {
  width: 100%;
  height: 20%;
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
}

.intro .thumnail li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top bottom;
}

.intro .thumnail li img.top {
  object-position: top;
}

.intro .thumnail li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.intro .thumnail li:hover:after {
  transition: 0.5s ease;
  background-color: transparent;
}

.intro .original {
  position: relative;
  display: inline-block;
  height: 70rem;
  width: 80%;
  overflow: hidden;
}

.intro .original .size-controls {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 2;
  transition: 0.3s ease;
}

.intro .original .size-controls button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f4a5b7;
  border: none;
  outline: none;
  margin: 0 0.5rem;
}

.intro .original .size-controls img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro .original .images-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350rem;
  background-color: #000000;
  transition: 0.4s ease;
}

.intro .original .images-list li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 70rem;
}

.intro .original .images-list li:nth-child(1) {
  top: 0;
}
.intro .original .images-list li:nth-child(2) {
  top: 70rem;
}
.intro .original .images-list li:nth-child(3) {
  top: 140rem;
}
.intro .original .images-list li:nth-child(4) {
  top: 210rem;
}
.intro .original .images-list li:nth-child(5) {
  top: 280rem;
}

.intro .images-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.3s ease;
}

.intro .images-list .source {
  position: absolute;
  right: 0;
  bottom: 0;
}

.intro .line {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  margin: 2rem 0;
}

.intro h2 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
}

.intro h2 .rotate {
  display: inline-block;
  transform: rotate(180deg);
}

.intro .translate {
  width: 100%;
  text-align: center;
}

.intro .translate button {
  display: inline-block;
  margin: 2rem 0;
  background-color: #000000;
  color: #f4a5b7;
  font-size: 2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.intro p {
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  line-height: 1.618;
  text-align: left;
  word-break: break-all;
}

/* members */

.members {
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
}

.members h2 {
  color: #000000;
  font-size: 8rem;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
  padding-left: 0;
  text-align: left;
  letter-spacing: 0.1rem;
}

.members .member h4 {
  color: #f4a5b7;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.members .member {
  display: inline-block;
  width: 25%;
  overflow: hidden;
  background-color: #000000;
}

.members .member img {
  width: 100%;
  height: 60rem;
  object-fit: fill;
}

.members .member a {
  display: block;
  width: 100%;
  height: 31.5rem;
}

.members .member a img {
  display: block;
  width: 100%;
  height: 100%;
  height: 31.5rem;
  object-fit: cover;
}

/* news */

.news {
  max-width: initial;
  background-color: black;
  margin: 0 0 0 0;
  padding-bottom: 10rem;
}

.news .wrapper {
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
}

.news h2 {
  width: 100%;
  font-size: 8rem;
  font-weight: bold;
  text-align: left;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  color: #f4a5b7;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
  background-color: #000000;
}

.news .news-controls {
  margin: 5rem 0;
}

.news .news-controls button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  vertical-align: sub;
}

.news .news-controls button img {
  object-fit: cover;
}

.news .news-controls button.before {
  margin-right: 2rem;
}

.news .news-controls button.next {
  margin-left: 2rem;
}

.news .news-controls span {
  display: inline-block;
  font-size: 2rem;
  color: white;
}

.news .news-controls .percentage {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 0.5rem;
  margin: 0 0.5rem;
  background: white;
  border-radius: 1rem;
  vertical-align: text-top;
  overflow: hidden;
}

.news .news-controls .percentage .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #f4a5b7;
}

.news .news-list-viewer {
  width: 216rem;
  height: 100%;
  overflow: hidden;
}

.news .news-list {
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: 0.5s ease;
}

.news .news-list li {
  display: inline-block;
  margin: 10rem 2rem;
  width: 32rem;
  height: 35rem;
  background-color: white;
}

.news .news-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .news-list li:nth-child(1) {
  margin-left: 0;
}

/* albums */

.albums {
  max-width: initial;
  margin-bottom: 10rem;
  width: 100%;
  background-image: url(../../images/blackpink/earthrounding.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  height: 80rem;
  margin: 0;
}

.albums .all-songs-wrapper {
  max-width: 146rem;
  width: 100%;
  margin: 8rem auto 0 auto;
  text-align: center;
}

.albums .all-songs-wrapper li {
  display: inline-block;
  width: fit-content;
  margin-right: 5rem;
  font-size: 2rem;
  color: #f4a5b7;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.618;
  transition: 0.5s ease;
}

.albums .all-songs-wrapper li {
  color: #f4a5b7;
  font-size: 2.2rem;
}

.albums .albums-wrapper {
  max-width: 146rem;
  width: 100%;
  height: auto;
  position: relative;
  margin: 10rem auto 0 auto;
  text-align: center;
}

.albums.nonactive {
  background-image: url(../../images/blackpink/crown.jpg);
}

.albums h2 {
  width: 146rem;
  margin: 0 auto;
  color: #f4a5b7;
  font-size: 8rem;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
}

.albums .album {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  vertical-align: text-top;
  white-space: nowrap;
}

.albums img {
  width: 100%;
  height: 100%;
}

.albums .album li {
  color: white;
}

.albums .albums-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 146rem;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: right;
  padding-top: 5rem;
}

.albums .albums-controls .stop {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 2rem;
  cursor: pointer;
}
.albums .albums-controls .play {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* game */

.game {
  max-width: initial;
  background-image: url(../../images/blackpink/grass.JPG);
  margin-bottom: 0;
}

.game .wrapper {
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
  height: 80rem;
}

.game .wrapper h2 {
  width: 100%;
  font-size: 8rem;
  font-weight: bold;
  text-align: left;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  color: #f4a5b7;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
}

.game .wrapper .units {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  white-space: nowrap;
}

.game .wrapper .units:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #f4a5b7;
}

.game .wrapper .units .unit {
  display: inline-block;
  width: 10rem;
  height: 100%;
  margin: 0 1rem;
}

.game .wrapper .unit div {
  width: 9rem;
  height: 9rem;
  background-color: black;
  margin: 0 auto;
  border-radius: 50%;
}

.game .wrapper .unit.jennie div {
  background-image: url(../../images/blackpink/0000926654.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.game .wrapper .unit.rose div {
  background-image: url(../../images/blackpink/roseyg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.game .wrapper .unit.lisa div {
  background-image: url(../../images/blackpink/0002650199.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.game .wrapper .unit.jisoo div {
  background-image: url(../../images/blackpink/0001567912_0019.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
