@charset "UTF-8";
@import url(../reset.css);
html {
  font-size: 62.5%; /*  setting rem (1rem = 10px)  */
}

body {
  font-family: "Nanum Gothic", "돋움", "Dotum", "Apple Gothic", sans-serif;
  font-family: "Open Sans", "Pretendard", sans-serif;
  overflow-x: hidden;
  background-color: #f4a5b7;
}

a {
  text-decoration: none;
}

button.text-indent {
  text-indent: -9999em;
}

.skip a {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #f4a5b7;
  text-align: center;
  transition: 0.1s ease;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 0.1rem solid #fff;
  color: #000000;
  z-index: 99;
}

.skip a:focus {
  top: 0;
}

.wrapper-h1 {
  background-color: #000000;
  width: 100%;
  padding: 1rem 0;
  position: sticky;
  border-bottom: 0.05rem solid #f4a5b7;
  top: 0;
  left: 0;
  z-index: 10;
}

h1 {
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
}

h1 a {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 0.05rem 0.05rem #f4a5b7, -0.05rem -0.05rem #f4a5b7;
  font-family: Arial, Helvetica, sans-serif;
  color: #f4a5b7;
}

h1 .deco.rotate {
  transition: 0.5s ease-in-out;
  font-size: 5.2rem;
  display: inline-block;
  transform: rotate(180deg);
}

@media screen and (max-width: 1281px) {
  h1 {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  h1 a {
    font-size: 3rem;
  }

  h1 .deco.rotate {
    font-size: 3.2rem;
  }
}

section {
  max-width: 146rem;
  position: relative;
}

.banner {
  max-width: initial;
  width: 100%;
  height: 85vh;
  position: relative;
}

.banner .banner-viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.banner li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.banner li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner li:nth-child(1) {
  left: 0;
}

.banner li:nth-child(2) {
  left: 100%;
}

.banner .out-text {
  position: absolute;
  left: -99999em;
}

.banner .controls {
  max-width: 146rem;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.banner .controls .control {
  cursor: pointer;
  border: none;
}

.banner .controls .line {
  width: 100%;
  border-top: 0.1rem solid white;
}

.banner .controls .index {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2rem;
  left: 0;
  transition: 0.3s ease;
}

.banner .controls .index:nth-child(2) {
  left: 3rem;
}

.banner .controls .index.active {
  background-color: #f4a5b7;
}

.banner .controls .stop {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 0;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}
.banner .controls .play {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 2rem;
  right: 4rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

/* banner */
@media screen and (max-width: 1281px) {
  .banner {
    overflow: hidden;
    height: 55vh;
  }

  .banner .controls {
    width: 90%;
    bottom: 15%;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    height: 20rem;
  }

  .banner .controls {
    bottom: 25%;
  }
  .banner .controls .line {
    border-top: 0;
  }

  .banner .controls .index {
    width: 1rem;
    height: 1rem;
  }
  .banner .controls .play,
  .banner .controls .stop {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* intro */
:root {
  --intro-imgage-height: 70rem;
}

.intro {
  padding: 20rem 0;
  margin: 0 auto;
}

.intro .thumbnail {
  display: inline-block;
  height: 70rem;
  width: 19%;
  vertical-align: top;
  position: relative;
}

.intro .thumbnail .thumbnail-viewer {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  border: 0.3rem solid #000000;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.intro .thumbnail ul {
  width: 100%;
  height: 100%;
}

.intro .thumbnail li {
  width: 100%;
  height: 20%;
  background-color: #000000;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.intro .thumbnail li button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  padding: 0;
  outline-width: 0.5rem;
}

.intro .thumbnail li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 0.5s ease;
}

.intro .thumbnail li img.top {
  object-position: top;
}

.intro .thumbnail li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.intro .thumbnail li:hover:after,
.intro .thumbnail li.active:after {
  transition: 0.5s ease;
  background-color: transparent;
}

/* 모바일 intro 썸네일 표시 */
.intro .thumbnail-mobile {
  position: relative;
  display: none;
  width: 100%;
  height: 20rem;
  white-space: nowrap;
  font-size: 0;
}
@media screen and (max-width: 1281px) {
  .intro .thumbnail-mobile {
    width: 95%;
    margin: 0 auto;
  }
}

.intro .thumbnail-mobile .thumbnail-viewer-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  border: 0.3rem solid #000000;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.intro .thumbnail-mobile ul {
  width: 100%;
  height: 100%;
}

.intro .thumbnail-mobile li {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 100%;
  cursor: pointer;
}

.intro .thumbnail-mobile li button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: inherit;
  padding: 0;
  outline-width: 0.5rem;
}

.intro .thumbnail-mobile li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.intro .thumbnail-mobile li:hover:after,
.intro .thumbnail-mobile li.active:after {
  transition: 0.5s ease;
  background-color: transparent;
}

.intro .thumbnail-mobile li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.intro .original {
  position: relative;
  display: inline-block;
  height: 70rem;
  width: 80.5%;
  overflow: hidden;
}

.intro .original .size-controls {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 2;
  transition: 0.3s ease;
}

.intro .original .size-controls button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f4a5b7;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
}

.intro .original .size-controls img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.intro .original .images-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: #000000;
  transition: 0.4s ease;
}

.intro .original .images-list li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.intro .original .images-list li:nth-child(1) {
  top: 0;
}
.intro .original .images-list li:nth-child(2) {
  top: 100%;
}
.intro .original .images-list li:nth-child(3) {
  top: 200%;
}
.intro .original .images-list li:nth-child(4) {
  top: 300%;
}
.intro .original .images-list li:nth-child(5) {
  top: 400%;
}

.intro .images-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.intro .images-list li.contain img {
  object-fit: contain;
}

.intro .images-list .source {
  position: absolute;
  right: 0;
  bottom: 0;
}

.intro .line {
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  margin: 2rem 0;
}

.intro h2 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
}

.intro h2 .rotate {
  display: inline-block;
  transform: rotate(180deg);
}

.intro .translate {
  width: 100%;
  text-align: center;
}

.intro .translate button {
  display: inline-block;
  margin: 2rem 0;
  background-color: #000000;
  color: #f4a5b7;
  font-size: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.intro p {
  display: none;
  width: 60%;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  line-height: 1.618;
  text-align: left;
  word-break: break-all;
}

.intro p.active {
  display: block;
}

/* intro 반응형 */
@media screen and (max-width: 1281px) {
  .intro {
    padding: 16rem 0;
  }

  .intro .thumbnail {
    display: none;
  }
  .intro .thumbnail-mobile {
    display: block;
    height: 20rem;
  }

  .intro .original {
    display: block;
    width: 95%;
    height: 50rem;
    margin: 0 auto;
  }

  .intro .intro-desc {
    width: 95%;
    margin: 0 auto;
  }

  .intro p {
    width: 80%;
    font-size: 1.8rem;
  }
  .intro h2 {
    font-size: 2.5rem;
    margin: 1.8rem 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    padding: 8rem 0;
  }

  .intro .original {
    height: 30rem;
  }

  .intro .original .size-controls button {
    width: 2rem;
    height: 2rem;
  }

  .intro .thumbnail-mobile {
    display: block;
    height: 10rem;
  }

  .intro h2 {
    font-size: 2.2rem;
  }

  .intro .translate button {
    font-size: 1.6rem;
    padding: 0.5rem 0.8rem;
  }

  .intro p {
    width: 95%;
    font-size: 1.3rem;
  }
}

/* members */
.members {
  font-size: 0;
  letter-spacing: 0;
  white-space: nowrap;
  max-width: initial;
}

.members .members-wrapper {
  max-width: 146rem;
  width: 100%;
  padding-bottom: 20rem;
  margin: 0 auto;
}

.members h2 {
  color: #000000;
  font-size: 8rem;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
  padding-left: 0;
  text-align: left;
  letter-spacing: 0.1rem;
}

.members .member h4 {
  color: #f4a5b7;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.members .member {
  position: relative;
  display: inline-block;
  width: 25%;
  background-color: #000000;
  transition: 0.5s ease;
  opacity: 0;
}

.members .member:nth-child(2) {
  top: -8rem;
}
.members .member:nth-child(3) {
  top: -8rem;
  transition-delay: 0.2s;
}
.members .member:nth-child(4) {
  top: -8rem;
  transition-delay: 0.4s;
}
.members .member:nth-child(5) {
  top: -8rem;
  transition-delay: 0.6s;
}

.members .member.active {
  opacity: 1;
  top: 0;
}

.members .member img {
  width: 100%;
  height: 60rem;
  object-fit: fill;
}

.members .member a {
  display: block;
  width: 100%;
  height: 31.5rem;
}

.members .member a img {
  display: block;
  width: 100%;
  height: 100%;
  height: 31.5rem;
  object-fit: cover;
}
/* members section 반응형 */
@media screen and (max-width: 1281px) {
  .members {
    white-space: initial;
  }

  .members .members-wrapper {
    width: 95%;
    position: relative;
  }
  .members h2 {
    width: 100%;
    font-size: 6rem;
  }

  .members .member {
    width: 50%;
  }
  .members .member h4 {
    font-size: 2rem;
  }
  .members .member img {
    height: 50rem;
    object-fit: contain;
  }
}

@media screen and (max-width: 600px) {
  .members h2 {
    font-size: 3rem;
  }

  .members .members-wrapper {
    padding-bottom: 8rem;
  }

  .members .member h4 {
    font-size: 1.6rem;
  }

  .members .member img {
    height: 30rem;
  }

  .members .member a {
    height: 15rem;
  }

  .members .member a img {
    height: 100%;
  }
}

/* news */
.news {
  max-width: initial;
  background-color: black;
  margin: 0 0 0 0;
  padding-bottom: 10rem;
}

.news .wrapper {
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
}

.news h2 {
  width: 100%;
  font-size: 8rem;
  font-weight: bold;
  text-align: left;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  color: #f4a5b7;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
  background-color: #000000;
}

.news .news-controls {
  margin: 5rem 0;
}

.news .news-controls button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  vertical-align: sub;
  cursor: pointer;
}

.news .news-controls button img {
  object-fit: cover;
}

.news .news-controls button.before {
  margin-right: 2rem;
}

.news .news-controls button.next {
  margin-left: 2rem;
}

.news .news-controls span {
  display: inline-block;
  font-size: 2rem;
  color: white;
}

.news .news-controls .percentage {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 0.5rem;
  margin: 0 0.5rem;
  background: white;
  border-radius: 1rem;
  vertical-align: text-top;
  overflow: hidden;
}

.news .news-controls .percentage .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f4a5b7;
  transition: 0.5s ease;
}

.news .news-list-viewer {
  position: relative;
  left: -8rem;
  width: 216rem;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s ease;
}

.news .news-list-viewer.active {
  left: 0;
  opacity: 1;
}

.news .news-list {
  width: fit-content;
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: 0.5s ease;
}

.news .news-list li {
  display: inline-block;
  margin: 10rem 2rem;
  width: 32rem;
  height: 35rem;
  background-color: white;
}

.news .news-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news .news-list li:nth-child(1) {
  margin-left: 0;
}
/* news section 반응형 */
@media screen and (max-width: 1281px) {
  .news {
    overflow: hidden;
  }

  .news h2 {
    font-size: 6rem;
  }

  .news .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .news .news-controls .percentage {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .news h2 {
    font-size: 3rem;
  }

  .news .news-controls {
    margin: 2rem 0;
  }

  .news .news-controls button {
    width: 2rem;
    height: 2rem;
    vertical-align: inherit;
  }

  .news .news-controls button.before {
    margin-right: 1rem;
  }
  .news .news-controls button.next {
    margin-left: 1rem;
  }

  .news .news-controls span {
    font-size: 1.6rem;
  }
}

/* albums */
.albums {
  max-width: initial;
  width: 100%;
  min-height: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  margin: 0;
  padding-bottom: 10rem;
  background-image: url(../../images/blackpink/crown.jpg);
  background-color: #000000;
}

.albums.active {
  background-image: url(../../images/blackpink/earthrounding.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.albums .all-songs-wrapper {
  max-width: 146rem;
  width: 100%;
  margin: 8rem auto 0 auto;
  text-align: center;
}

.albums .all-songs-wrapper li {
  display: inline-block;
  width: fit-content;
  margin-right: 5rem;
  font-size: 2rem;
  color: #f4a5b7;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  line-height: 1.618;
  transition: 0.5s ease;
}

.albums .all-songs-wrapper li {
  color: #000000;
  font-size: 2.2rem;
  opacity: 0.4;
}

.albums .all-songs-wrapper li.active,
.albums .all-songs-wrapper li:hover {
  color: #f4a5b7;
  opacity: 1;
}

.albums .albums-wrapper {
  max-width: 146rem;
  width: 100%;
  height: auto;
  position: relative;
  margin: 10rem auto 0 auto;
  text-align: center;
}

.albums .albums-wrapper .show-all {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  text-shadow: -0.05rem -0.05rem white, 0.05rem 0.05rem #000000;
  text-shadow: -0.1rem -0.1rem white, 0.1rem 0.1rem #000000;
  color: #f4a5b7;
  border-radius: 1rem;
  border: 0.3rem outset #f4a5b7;
  background-color: #000000;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.albums .albums-wrapper .show-all.active,
.albums .albums-wrapper .show-all:focus {
  border-style: inset;
  text-shadow: 0.05rem 0.05rem white, -0.05rem -0.05rem #000000;
  text-shadow: 0.1rem 0.1rem white, -0.1rem -0.1rem #000000;
}

.albums.nonactive {
  background-image: url(../../images/blackpink/crown.jpg);
}

.albums h2 {
  max-width: 146rem;
  margin: 0 auto;
  color: #f4a5b7;
  font-size: 8rem;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
}

.albums .album {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  vertical-align: text-top;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s ease;
  opacity: 0.4;
}

.albums .album:hover,
.albums .album.active {
  opacity: 1;
}

.albums .album button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.albums .album button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.albums .albums-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 146rem;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: right;
  padding-top: 5rem;
}

.albums .albums-controls .stop {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/pause-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}
.albums .albums-controls .play {
  width: 2rem;
  height: 2rem;
  background-image: url(../../images/blackpink/play-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
/* album section 반응형 */
@media screen and (max-width: 1281px) {
  .albums {
    background-attachment: initial;
  }
  .albums.active {
    background-attachment: initial;
  }

  .albums h2 {
    font-size: 6rem;
  }

  .albums .albums-controls {
    width: 95%;
  }

  .albums .all-songs-wrapper {
    width: 95%;
  }
  .albums .all-songs-wrapper li {
    margin-right: 3rem;
    line-height: 1.618;
  }

  .albums .albums-wrapper {
    margin-top: 6rem;
  }
  .albums .albums-wrapper .show-all {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .albums h2 {
    font-size: 3rem;
  }

  .albums .albums-controls {
    padding-top: 3.5rem;
  }

  .albums .albums-controls .play,
  .albums .albums-controls .stop {
    width: 1.6rem;
    height: 1.6rem;
  }

  .albums .all-songs-wrapper {
    margin-top: 2rem;
  }

  .albums .all-songs-wrapper li {
    font-size: 1.6rem;
    margin-right: 1rem;
  }

  .albums .albums-wrapper {
    margin-top: 4rem;
  }

  .albums .albums-wrapper .show-all {
    font-size: 1.2rem;
  }

  .albums .album {
    width: 10rem;
    height: 10rem;
  }
}

/* game */
.game {
  max-width: initial;
  background-image: url(../../images/blackpink/grass.JPG);
  margin-bottom: 0;
  background-color: #000000;
}

.game .game-wrapper {
  position: relative;
  max-width: 146rem;
  width: 100%;
  margin: 0 auto;
  height: 80rem;
}

.game .game-wrapper h2 {
  width: 100%;
  font-size: 8rem;
  font-weight: bold;
  text-align: left;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  color: #f4a5b7;
  box-sizing: border-box;
  padding: 2rem 2rem 2rem 0;
}

@media screen and (max-width: 600px) {
  .game .game-wrapper h2 {
    font-size: 4rem;
  }
}

.game .game-wrapper .units {
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.game .game-wrapper .units:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5rem;
  background-color: #f4a5b7;
}

.game .game-wrapper .units .unit {
  display: inline-block;
  width: 10rem;
  height: 100%;
  margin: 0 1rem;
}

.game .game-wrapper .unit div {
  position: relative;
  width: 9rem;
  height: 9rem;
  background-color: black;
  margin: 0 auto;
  border-radius: 50%;
  transition: 0.3s ease;
  background-size: cover;
  background-repeat: no-repeat;
}

.game .game-wrapper .unit .jennie {
  background-image: url(../../images/blackpink/0000926654.jpg);
}
.game .game-wrapper .unit .rose {
  background-image: url(../../images/blackpink/roseyg.jpg);
}
.game .game-wrapper .unit .lisa {
  background-image: url(../../images/blackpink/0002650199.jpg);
}
.game .game-wrapper .unit .jisoo {
  background-image: url(../../images/blackpink/0001567912_0019.jpg);
}

.game .game-wrapper button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Exo", "NanumSquare", "Margun Gothic", sans-serif;
  text-shadow: -0.05rem -0.05rem white, 0.05rem 0.05rem #000000;
  text-shadow: -0.1rem -0.1rem white, 0.1rem 0.1rem #000000;
  color: #f4a5b7;
  border-radius: 1rem;
  border: 0.3rem outset #f4a5b7;
  background-color: #000000;
  margin-bottom: 1rem;
  cursor: pointer;
}

.game .game-wrapper button:focus {
  border-style: inset;
  text-shadow: 0.05rem 0.05rem white, -0.05rem -0.05rem #000000;
  text-shadow: 0.1rem 0.1rem white, -0.1rem -0.1rem #000000;
}

.game .game-wrapper .game-start {
  display: none;
  transition: 0.5s ease-in-out;
}
.game .game-wrapper .game-reset {
  display: none;
  transition: 0.3s ease-in-out;
}

.game .game-wrapper .game-start.active {
  display: block;
}
.game .game-wrapper .game-reset.active {
  display: block;
}

.game .game-wrapper .result {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
  border-radius: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: 0.3s ease;
}

.game .game-wrapper .result.active {
  left: 50%;
  opacity: 1;
}

.game .game-wrapper .result span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 7rem;
}
/* game 반응형 */
@media screen and (max-width: 1281px) {
  .game .game-wrapper h2 {
    width: 95%;
    margin: 0 auto;
    font-size: 6rem;
  }

  .game .game-wrapper .units {
    width: 95%;
    margin: 0 auto;
  }
  .game .game-wrapper button {
    font-size: 1.4rem;
  }

  .game .game-wrapper .result {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .game .game-wrapper {
    height: 60rem;
  }

  .game .game-wrapper h2 {
    font-size: 3rem;
  }

  .game .game-wrapper .units .unit {
    width: 6rem;
  }

  .game .game-wrapper .unit div {
    width: 7rem;
    height: 7rem;
    background-position: top;
  }

  .game .game-wrapper .units:after {
    height: 0.3rem;
  }
  .game .game-wrapper .result {
    width: 60%;
  }
}

/* 스크롤 이동버튼 */
.scroll-up {
  position: fixed;
  width: 5rem;
  height: 5rem;
  right: 2%;
  bottom: 2%;
  background-color: #f4a5b7;
  background-image: url(../../images/blackpink/chevron-up-solid.svg);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  cursor: pointer;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transition: 0.3s ease;
}

.scroll-up.active {
  opacity: 1;
  pointer-events: all;
}
/* scroll-up 반응형 */

@media screen and (max-width: 600px) {
  .scroll-up {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1281px) {
  section h2 {
    width: 95%;
    margin: 0 auto;
  }
}
