@import url(../setting.css);
@import url(../board_content_template.css);

/* ----------------------------------------- main -------------------------------------- */

/* ----------------------------------------------- */

.event-img {
  width: 100%;
  height: 700px;
  background-image: url(../../../images/game/news/event.JPG);
  background-size: cover;
  margin: 20px 0;
}

.detail {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
