@import url(../setting.css);
@import url(../board_content_template.css);

/* ----------------------------------------- main -------------------------------------- */

table tr:first-child td:before {
  position: relative;
  top: 7.5px;
  transform: translateY(-50%);
  content: "정기점검";
  display: inline-block;
  height: 60%;
  padding: 0 5px;
  margin-right: 5px;
  line-height: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  background-color: rgb(42, 180, 166);
  background: linear-gradient(
    to bottom,
    rgb(42, 180, 166) 50%,
    rgb(28, 124, 115) 100%
  );
}

.paging li a:before {
  position: relative;
  top: 7.5px;
  transform: translateY(-50%);
  content: "정기점검";
  display: inline-block;
  height: 50%;
  padding: 0 5px;
  margin-right: 5px;
  line-height: 15px;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  background-color: rgb(42, 180, 166);
  background: linear-gradient(
    to bottom,
    rgb(42, 180, 166) 50%,
    rgb(28, 124, 115) 100%
  );
}
