@import url(../setting.css);
@import url(../subbanner.css);
@import url(../inner_template.css);

/* --------------------- inner_nav li 페이지 색상 변경 ---------------*/
.inner_nav li:nth-child(2) a {
  background-color: #028585;
}

/* ---------------- inner > inner_desc --------------- */

.inners .inner_desc {
  width: 100%;
}
.inner_desc .detail {
  width: 80%;
  height: 150px;
  border: 1px solid #028585;
  border-radius: 10px;
  margin: 30px auto 0;
  padding: 20px;
  box-sizing: border-box;
}

.inner_desc .warning {
  display: inline-block;
  width: 10%;
  height: 100%;
  background-image: url(../../../images/greennature/etc/warning.JPG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
}

.inner_desc .law {
  display: inline-block;
  width: 89%;
  height: 100%;
  box-sizing: border-box;
  padding: 26px 0 26px 20px;
  vertical-align: top;
}

p {
  display: block;
  line-height: 25px;
  font-size: 1.5rem;
  margin: auto 0;
}

.policy {
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.policy h3 {
  width: 80%;
  height: 70px;
  font-size: 2rem;
  font-weight: bold;
  color: #293838;
  line-height: 70px;
  margin: 0 auto;
  position: relative;
}

.policy h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 25%;
  height: 1px;
  background-color: #ccc;
}

.policy li {
  font-size: 1.5rem;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.policy li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  position: relative;
  top: -4px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #028585;
}
