@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
/* 자주사용되는 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.header__li:nth-child(4) > .header__link {
  color: #e60000; /* nav 의 나이트쇼 글자 빨갛게 변경 */
}

/*=================================================================================*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3rem;
  border: none;
  background-color: #eb0000;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.detail-paragraph {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.4rem;
  line-height: 200px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}

.title {
  word-break: keep-all;
  font-weight: bold;
  background-color: white;
  transition: 0.3s ease-in-out;
  padding: 5px 15px;
  font-size: 1.5rem;
}

/*=================================================================================*/
.main__banner {
  background-image: url(../../../images/amusementpark/krustyland.PNG);
  background-position: center;
}
.main__bar {
  width: 100%;
  background-color: #fbc717;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}
@media screen and (max-width: 1281px) {
  .main__bar {
    padding: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  .main__bar {
    position: relative;
    padding: 0 20px;
  }
}
.main__bar-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 50px;
}
.main__bar-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  .main__bar-text {
    font-size: 1.3rem;
  }
}
.main__bar-text:nth-child(1) {
  float: left;
}
.main__bar-text:nth-child(2) {
  float: right;
}
.main__goods {
  background-color: white;
}
.main__goods--bg-f8f8f8 {
  background-color: #f8f8f8;
}
.main__goods-inner {
  max-width: 1200px;
  margin: 100px auto 0 auto;
}
.main__goods-inner:last-child {
  margin-bottom: 100px;
}
@media screen and (max-width: 1281px) {
  .main__goods-inner {
    margin: 80px auto 0 auto;
    width: 90%;
  }
  .main__goods-inner:last-child {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 600px) {
  .main__goods-inner {
    margin: 60px auto 0 auto;
  }
  .main__goods-inner:last-child {
    margin-bottom: 60px;
  }
}
.main__goods-ul {
  width: 100%;
  font-size: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .main__goods-ul {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}
.main__goods-li {
  width: 200px;
  height: 350px;
  margin: 10px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
.main__goods-li--is-loaded {
  animation: showItems 0.8s forwards ease-in-out;
}
@keyframes showItems {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 1281px) {
  .main__goods-li {
    width: 19%;
    height: 300px;
    margin: 10px 0.5%;
  }
}
@media screen and (max-width: 600px) {
  .main__goods-li {
    width: 30%;
    height: 150px;
    margin: 5px;
  }
}
@media screen and (max-width: 280px) {
  .main__goods-li {
    width: 30%;
    height: 150px;
    margin: 3px;
  }
}
.main__goods-li:hover {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
}
.main__goods-img:hover {
  transform: scale(1.1);
  transform-origin: center center;
}
.main__goods-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  overflow: hidden;
}
.main__goods-title {
  padding: 5px 10px;
  background-color: white;
  font-size: 14px;
  border-radius: 15px;
  font-weight: bold;
}
.main__goods-title-ly {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1281px) {
  .main__goods-title {
    font-size: 1.2rem;
  }
}
.main__btn-ly {
  display: block;
  margin: 50px auto 0 auto;
}
@media screen and (max-width: 600px) {
  .main__btn-ly {
    font-size: 1.4rem;
  }
}
.main__btn-ly--is-end {
  display: none;
}
.main__title {
  width: 20%;
  margin: 0 auto 50px auto;
  text-align: center;
  border-radius: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 0;
  color: #333;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}
@media screen and (max-width: 1281px) {
  .main__title {
    width: 30%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .main__title {
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 20px;
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
.main__goods-round-ul {
  padding: 20px 0;
  font-size: 0;
  white-space: nowrap;
}
.main__goods-round-ul-ly {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .main__goods-round-ul-ly {
    display: block;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 600px) {
  .main__goods-round-ul-ly {
    display: block;
    height: 100px;
  }
}
.main__goods-round-li {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 190px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.main__goods-round-li-ly {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
@media screen and (max-width: 1281px) {
  .main__goods-round-li-ly {
    width: 150px;
    height: 150px;
    font-size: 1.3rem;
    line-height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .main__goods-round-li-ly {
    width: 100px;
    height: 100px;
    font-size: 1.1rem;
    line-height: 100px;
  }
}
@media screen and (max-width: 1281px) {
  .main__goods-round-li {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .main__goods-round-li {
    width: 100px;
    height: 100px;
  }
}
.main__goods-round-li:hover p, .main__goods-round-li:focus-visible p {
  opacity: 1;
}

/* ------------------------------- animation ------------------------------------- */
@keyframes fadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showItem {
  0% {
    visibility: visible;
  }
}
.bg-f8f8f8 {
  background-color: #f8f8f8;
}/*# sourceMappingURL=krustyland.css.map */