@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  transition: 0.5s ease-in-out;
  z-index: 98; /* 상품구매창의 레이어를 위해 z-index  변경*/

  &.scrolldown {
    opacity: 0;
    pointer-events: none;
  }

  & > .wrapper {
    li {
      &:nth-child(4) a {
        color: red; /* nav 의 크러스티랜드 글자 빨갛게 변경 */
      }
    }
  }
}

.top-nav-mobile {
  transition: 0.5s ease-in-out;

  &.scrolldown {
    opacity: 0;
    pointer-events: none;
  }
}

a.hiding {
  & + * {
    position: relative;
    transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0);
    top: 50px;
    opacity: 0;
  }
}

main {
  /* ----------------------------------- main  --------------------------------------- */

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    background: url(../../../images/amusementpark/krustyland.PNG) no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;

    @media screen and (min-width: 480px) and (max-width: 768px) {
      & {
        height: 1000px;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      & {
        height: 100vh;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100px;
      background: linear-gradient(to bottom, transparent, white);

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          height: 20px;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        & {
          height: 20px;
        }
      }
    }
  }

  & .goods-wrapper {
    /*----------------------- main .goods-wrapper------------------------ */
    padding: 70px 0;
    max-width: 1400px;
    min-height: 1000px;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 480px) and (max-width: 768px) {
      & {
        padding-bottom: 0;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      & {
        min-height: 400px;
        padding-bottom: 0;
      }
    }

    & .title {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
      color: white;
      margin-bottom: 150px;
      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          font-size: 2.5rem;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        & {
          font-size: 2rem;
          margin-bottom: 50px;
        }
      }
    }

    & .list-wrapper {
      width: 90%;
      position: relative;
      padding: 70px;
      box-sizing: border-box;
      margin: 0 auto;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        border-radius: 10px;
        top: 0;
        left: 0;
        opacity: 0.9;
        z-index: 0;
      }

      @media screen and (min-width: 320px) and (max-width: 479px) {
        & {
          width: 100%;
          padding: 0px;
          padding-bottom: 50px;
        }
      }
    }

    & ul {
      width: 100%;
      min-height: 400px;
      position: relative;
      box-sizing: border-box;
      text-align: center;

      & li {
        width: 210px;
        height: 210px;
        overflow: hidden;
        box-sizing: border-box;
        margin: 30px;
        border-radius: 5px;
        transition: 0.3s ease-in-out;
        visibility: hidden;
        display: inline-block;

        &.loaded {
          animation: showItems 0.8s forwards ease-in-out;
        }

        @keyframes showItems {
          0% {
            opacity: 0;
          }
          100% {
            visibility: visible;
            opacity: 1;
          }
        }

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            width: 43%;
            margin: 10px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            width: 40%;
            margin: 10px;
          }
        }

        &:hover {
          box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
            0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
        }

        & a {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;
          color: black;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in-out;
          }

          //목록에 hover 시 img 크기 키우기
          &:hover img {
            transform: scale(1.1);
            transform-origin: center center;
          }

          & h5 {
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translateX(-50%);
            padding: 5px 5%;
            word-break: keep-all;
            border-radius: 15px;
            font-size: 1.5rem;
            line-height: 20px;
            font-weight: bold;
            background-color: white;
            text-align: center;
            transition: 0.3s ease-in-out;
            @media screen and (min-width: 320px) and (max-width: 479px) {
              & {
                font-size: 1.3rem;
                min-width: 50%;
              }
            }
          }
        }
      }
    }

    & button {
      position: relative;
      z-index: 1;
      display: block;
      margin: 50px auto 0 auto;
      padding: 10px 30px;
      font-size: 1.5rem;
      border: none;
      background-color: red;
      border-radius: 5px;
      font-weight: bold;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &.nomore {
        display: none;
      }

      &:hover {
        border: rgb(141, 0, 0);
      }
    }
  }

  & .purchase {
    /*----------------------------------- main .purchase ------------------------ */
    position: fixed;
    bottom: 0;
    width: 21%;
    min-width: 380px;
    max-width: 450px;
    height: 100%;
    background-color: white;
    z-index: 99;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
      height: 8px;
      background-color: #d5d5d5; /* or add it to the track */
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background: #5e5e5e;
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
      &::-webkit-scrollbar {
        width: 8px;
        height: 6px;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
      & {
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: initial;
        min-width: initial;
        height: 40%;
        background-color: white;
        z-index: 99;
        box-shadow: -1px -1px 20px rgb(192, 192, 192);
        overflow-y: scroll;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
      & {
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: initial;
        min-width: initial;
        height: 50%;
        background-color: white;
        z-index: 99;
        box-shadow: -1px -1px 20px rgb(192, 192, 192);
        overflow-y: scroll;
      }
    }

    &.close {
      right: -9999em;

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          bottom: -9999em;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        bottom: -9999em;
      }
    }

    &.open {
      right: 0;

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          bottom: 0;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        bottom: 0;
      }
    }

    & .purchase-close-btn {
      /*----------------------------------- .purchase .purchase-close-btn ------------------------ */
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          top: 30px;
          right: 30px;
        }
      }

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          width: 30px;
          height: 30px;
          top: 10px;
          right: 10px;
          & span {
            height: 3px;
          }
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
      }

      & span {
        width: 100%;
        height: 5px;
        background-color: #000;
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            height: 3px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            height: 3px;
          }
        }
      }

      & span:nth-child(1) {
        transform: rotate(45deg);
      }
      & span:nth-child(2) {
        transform: rotate(-45deg);
      }
    }

    & img {
      width: 100%;
      height: 60%;
      object-fit: cover;

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          float: left;
          box-sizing: border-box;
          width: 50%;
          height: 100%;

          margin: 0 auto;
          object-fit: cover;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        & {
          width: 70%;
          height: 50%;
          margin: 0 auto;
          display: block;
          object-fit: contain;
        }
      }
    }
    & .purchase-info {
      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          height: 100%;
          overflow: auto;
          float: right;
          width: 50%;
          box-sizing: border-box;
          height: 100%;
          vertical-align: text-bottom;
        }
      }

      & .goods-title {
        font-size: 2.3rem;
        padding: 20px;

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            box-sizing: border-box;
            width: 100%;
            font-size: 2rem;
            padding: 30px 40px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            font-size: 1.6rem;
            padding: 10px 20px;
          }
        }

        & .review-count {
          font-size: 2rem;
          font-weight: bold;
          margin-left: 5px;
          cursor: pointer;
          color: red;
          float: right;

          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 1.8rem;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 1.6rem;
            }
          }

          &:hover {
            text-decoration: underline;
          }
        }

        & .rating {
          //display: inline-block;
          margin-left: 3px;
          vertical-align: text-bottom;
          float: right;

          & .rating-star {
            background-image: url(../../../images/amusementpark/krustyland/star-solid.svg);
            display: inline-block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
          }

          & .rating-half-star {
            background-image: url(../../../images/amusementpark/krustyland/star-half-stroke-solid.svg);
            display: inline-block;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
          }

          & .rating-star,
          & .rating-half-star {
            @media screen and (min-width: 480px) and (max-width: 768px) {
              & {
                width: 18px;
                height: 18px;
              }
            }
            @media screen and (min-width: 320px) and (max-width: 479px) {
              & {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }

      & .goods-price {
        border-bottom: 1px solid #dddfe1;
        padding: 20px;

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            border-bottom: 1px solid #dddfe1;
            padding: 15px 40px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            border-bottom: 1px solid #dddfe1;
            padding: 10px 20px;
          }
        }

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        & .per-price {
          font-size: 2.5rem;
          font-weight: bold;
          float: left;

          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 2rem;
              font-weight: bold;
              float: left;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 2rem;
              font-weight: bold;
              float: left;
            }
          }
        }
        & .dib img {
          width: 20px;
          height: 20px;
          float: right;
          cursor: pointer;

          &.clicked {
            content: url(../../../images/amusementpark/krustyland/heart-solid.svg);
          }

          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              width: 18px;
              height: 18px;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      & .goods-quantity {
        /*----------------------------------- .purchase .goods-quantity ------------------------ */
        padding: 20px;
        border-bottom: 1px solid #dddfe1;

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            padding: 15px 40px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            padding: 10px 20px;
          }
        }

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        & .number-title {
          font-size: 2.2rem;
          float: left;

          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 1.7rem;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 1.7rem;
            }
          }
        }

        & .quantity-box {
          float: right;

          & button {
            border-radius: 50%;
            border: none;
            width: 25px;
            height: 25px;
            font-size: 2.3rem;
            line-height: 25px;
            cursor: pointer;

            @media screen and (min-width: 480px) and (max-width: 768px) {
              & {
                width: 20px;
                height: 20px;
                font-size: 1.9rem;
                line-height: 20px;
              }
            }
            @media screen and (min-width: 320px) and (max-width: 479px) {
              & {
                width: 20px;
                height: 20px;
                font-size: 1.9rem;
                line-height: 20px;
              }
            }
          }
        }

        & .quantity {
          font-size: 2.3rem;
          margin: 0 20px;
          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 1.7rem;
              margin: 0 20px;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 1.7rem;
              margin: 0 20px;
            }
          }
        }
      }

      & .goods-total-price {
        /*----------------------------------- .purchase .goods-total-price ------------------------ */
        padding: 20px;

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            padding: 15px 40px;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            padding: 10px 20px;
          }
        }

        &:after {
          content: "";
          clear: both;
          display: block;
        }

        & .total-title {
          float: left;
          font-size: 2.3rem;
          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 1.7rem;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 1.7rem;
            }
          }
        }
        & .total-price {
          float: right;
          color: red;
          font-weight: bold;
          font-size: 2.5rem;
          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              font-size: 1.9rem;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              font-size: 1.9rem;
            }
          }
        }
      }

      & .purchase-btn {
        /*----------------------------------- .purchase .purchase-btn ------------------------ */
        width: 90%;
        display: block;
        margin-top: 50px;
        padding: 20px 10px;
        margin: 50px auto 0 auto;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 2rem;
        border: none;
        color: white;
        background-color: #000;

        border-bottom: 1px solid #dddfe1;

        @media screen and (min-width: 480px) and (max-width: 768px) {
          & {
            width: 60%;
            padding: 10px 10px;
            margin: 30px auto 30px auto;
            font-size: 1.7rem;
          }
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
          & {
            width: 80%;
            padding: 10px 10px;
            margin: 30px auto 30px auto;
            font-size: 1.7rem;
          }
        }
      }
    }

    & .goods-review {
      /*----------------------------------- .purchase .goods-review ------------------------ */
      width: 100%;
      padding: 20px 0;

      @media screen and (min-width: 480px) and (max-width: 768px) {
        & {
          padding: 0;
        }
      }
      @media screen and (min-width: 320px) and (max-width: 479px) {
        & {
          padding: 0;
        }
      }

      & table {
        width: 100%;

        tr {
          display: none;
          border-bottom: 1px solid #ddd;
        }
        tr.active {
          display: block;
        }

        td {
          padding: 10px;
          box-sizing: border-box;
          text-align: center;
          font-size: 1.7rem;

          @media screen and (min-width: 480px) and (max-width: 768px) {
            & {
              padding: 5px 10px;
              font-size: 1.6rem;
            }
          }
          @media screen and (min-width: 320px) and (max-width: 479px) {
            & {
              padding: 10px 5px;
              font-size: 1.4rem;
            }
          }
        }

        & td.customer-id {
          width: 20%;
        }

        & .register-date {
          width: 20%;
        }

        & .review {
          width: 60%;
        }
      }
    }

    & .review-wrapper {
      /*----------------------------------- .purchase .review-pager ------------------------ */
      width: 100%;

      & ul {
        width: 100%;
        text-align: center;
        padding: 20px 0;

        & li {
          display: inline-block;
          a {
            width: 100%;
            text-decoration: none;
            font-size: 1.8rem;
            margin: 0 5px;
            padding: 5px 10px;
            color: black;

            @media screen and (min-width: 480px) and (max-width: 768px) {
              & {
                padding: 3px 8px;
                font-size: 1.6rem;
              }
            }
            @media screen and (min-width: 320px) and (max-width: 479px) {
              & {
                padding: 2px 6px;
                font-size: 1.4rem;
              }
            }
          }
          &.active {
            a {
              background-color: black;
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  & .shopping-bag {
    position: fixed;
    width: 50px;
    height: 50px;
    left: 5%;
    bottom: 5%;
    background-color: white;
    border-radius: 50%;
    background-image: url(../../../images/amusementpark/krustyland/heart-solid.svg);
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0.5px 0.5px 3px #999;
    cursor: pointer;

    &.rotate {
      animation: rotating 0.3s forwards ease;
    }

    &:hover {
      .bag-desc {
        opacity: 1;
      }
    }

    @media screen and (max-width: 768px) {
      & {
        display: none;
      }
    }

    .bag-desc {
      position: absolute;
      background-color: white;
      bottom: 70px;
      font-size: 1.5rem;
      line-height: 20px;
      word-break: keep-all;
      padding: 10px;
      border-radius: 10px;
      width: 200%;
      opacity: 0;
      transition: 0.3s ease;
    }

    img {
      position: absolute;
      left: 5%;
      bottom: 70px;
      width: 150px;
      height: 200px;
      background-color: white;
      border-radius: 10px;
      object-fit: cover;
      transition: 0.3s ease-in-out;
      visibility: hidden;

      &.shown {
        visibility: visible;
      }

      &.hidden {
        width: 0px;
        height: 0px;
        left: 10%;
        bottom: 0px;
        border-radius: 50%;
      }
    }
  }
}

footer {
  background-color: white;
}
/* ------------------------------- animation ------------------------------------- */

@keyframes fadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes showItem {
  0% {
    visibility: visible;
  }
  100% {
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
