@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  transition: 0.5s ease-in-out;
  z-index: 98; /* 상품구매창의 레이어를 위해 z-index  변경*/
}
.top-nav.scrolldown {
  opacity: 0;
  pointer-events: none;
}
.top-nav > .wrapper li:nth-child(4) a {
  color: red; /* nav 의 크러스티랜드 글자 빨갛게 변경 */
}

.top-nav-mobile {
  transition: 0.5s ease-in-out;
}
.top-nav-mobile.scrolldown {
  opacity: 0;
  pointer-events: none;
}

a.hiding + * {
  position: relative;
  transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0);
  top: 50px;
  opacity: 0;
}

main {
  /* ----------------------------------- main  --------------------------------------- */
}
main .background {
  width: 100%;
  height: 500px;
  background: url(../../../images/amusementpark/krustyland.PNG) no-repeat;
  background-size: cover;
  background-position: center 70%;
  z-index: -1;
}
@media screen and (max-width: 1281px) {
  main .background {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  main .background {
    height: 300px;
  }
}
main .menu {
  width: 100%;
  background-color: #fbc717;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}
@media screen and (max-width: 1281px) {
  main .menu {
    padding: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  main .menu {
    position: relative;
    padding: 0 20px;
  }
}
main .menu .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}
main .menu .container p {
  font-size: 1.4rem;
  color: white;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  main .menu .container p {
    font-size: 1.3rem;
  }
}
main .menu .container p:nth-child(1) {
  float: left;
}
main .menu .container p:nth-child(2) {
  float: right;
}
main .goods-wrapper {
  /*----------------------- main .goods-wrapper------------------------ */
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: white;
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper {
    padding: 70px 0;
  }
}
@media screen and (max-width: 600px) {
  main .goods-wrapper {
    padding: 50px 0;
  }
}
main .goods-wrapper .title {
  width: 20%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin: 0 auto 50px auto;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  padding: 8px 0;
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper .title {
    width: 30%;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods-wrapper .title {
    width: 40%;
    font-size: 1.4rem;
  }
}
main .goods-wrapper .list-wrapper {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper .list-wrapper {
    padding: 0 10px;
  }
}
main .goods-wrapper ul {
  width: 100%;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  font-size: 0;
}
@media screen and (max-width: 600px) {
  main .goods-wrapper ul {
    margin-bottom: 0;
  }
}
main .goods-wrapper ul li {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  visibility: hidden;
  display: inline-block;
  margin-top: 50px;
}
main .goods-wrapper ul li.loaded {
  animation: showItems 0.8s forwards ease-in-out;
}
@keyframes showItems {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper ul li {
    width: 19%;
    margin: 10px 0.5%;
  }
}
@media screen and (max-width: 600px) {
  main .goods-wrapper ul li {
    width: 30%;
    height: 150px;
    margin: 5px;
  }
}
main .goods-wrapper ul li:hover {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
}
main .goods-wrapper ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
  overflow: hidden;
}
main .goods-wrapper ul li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease;
}
main .goods-wrapper ul li a:hover img {
  transform: scale(1.1);
  transform-origin: center center;
}
main .goods-wrapper ul li a h5 {
  position: absolute;
  display: inline;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  padding: 0 10px;
  word-break: keep-all;
  border-radius: 15px;
  font-size: 1.3rem;
  line-height: 20px;
  font-weight: bold;
  background-color: white;
  text-align: center;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper ul li a h5 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods-wrapper ul li a h5 {
    font-size: 1.1rem;
    padding: 0 5px;
    min-width: 55%;
  }
}
main .goods-wrapper button {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.3rem;
  border: none;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1281px) {
  main .goods-wrapper button {
    margin: 0 auto 50px auto;
  }
}
@media screen and (max-width: 600px) {
  main .goods-wrapper button {
    width: 30%;
    font-size: 1.4rem;
  }
}
main .goods-wrapper button.nomore {
  display: none;
}
main .goods-wrapper button:hover {
  border: rgb(141, 0, 0);
}
main .goods-slider {
  width: 100%;
  background-color: #f8f8f8;
  padding: 20px 0;
}
@media screen and (max-width: 1281px) {
  main .goods-slider {
    overflow: scroll;
  }
}
@media screen and (max-width: 600px) {
  main .goods-slider {
    overflow: scroll;
  }
}
main .goods-slider ul {
  max-width: 1200px;
  text-align: center;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 0;
}
main .goods-slider ul li {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 1281px) {
  main .goods-slider ul li {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  main .goods-slider ul li {
    width: 100px;
    height: 100px;
  }
}
main .goods-slider ul li:hover p, main .goods-slider ul li:focus-visible p {
  opacity: 1;
}
main .goods-slider ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .goods-slider ul li p {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.4rem;
  line-height: 200px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media screen and (max-width: 1281px) {
  main .goods-slider ul li p {
    width: 150px;
    height: 150px;
    font-size: 1.3rem;
    line-height: 150px;
  }
}
@media screen and (max-width: 600px) {
  main .goods-slider ul li p {
    width: 100px;
    height: 100px;
    font-size: 1.1rem;
    line-height: 100px;
  }
}
main .purchase {
  /*----------------------------------- main .purchase ------------------------ */
  position: fixed;
  bottom: 0;
  width: 21%;
  min-width: 380px;
  max-width: 450px;
  height: 100%;
  background-color: white;
  z-index: 99;
  overflow: auto;
  /* Add a thumb */
}
main .purchase::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #d5d5d5; /* or add it to the track */
}
main .purchase::-webkit-scrollbar-thumb {
  background: #5e5e5e;
}
@media screen and (max-width: 1281px) {
  main .purchase::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}
@media screen and (max-width: 1281px) {
  main .purchase {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: initial;
    min-width: initial;
    height: 40%;
    background-color: white;
    z-index: 99;
    box-shadow: -1px -1px 20px rgb(192, 192, 192);
    overflow-y: scroll;
  }
}
@media screen and (max-width: 600px) {
  main .purchase {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: initial;
    min-width: initial;
    height: 50%;
    background-color: white;
    z-index: 99;
    box-shadow: -1px -1px 20px rgb(192, 192, 192);
    overflow-y: scroll;
  }
}
main .purchase.close {
  right: -9999em;
}
@media screen and (max-width: 1281px) {
  main .purchase.close {
    bottom: -9999em;
  }
}
@media screen and (max-width: 600px) {
  main .purchase.close {
    bottom: -9999em;
  }
}
main .purchase.open {
  right: 0;
}
@media screen and (max-width: 1281px) {
  main .purchase.open {
    bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  main .purchase.open {
    bottom: 0;
  }
}
main .purchase .purchase-close-btn {
  /*----------------------------------- .purchase .purchase-close-btn ------------------------ */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-close-btn {
    top: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-close-btn {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
  }
  main .purchase .purchase-close-btn span {
    height: 3px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-close-btn {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
  }
}
main .purchase .purchase-close-btn span {
  width: 100%;
  height: 5px;
  background-color: #000;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-close-btn span {
    height: 3px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-close-btn span {
    height: 3px;
  }
}
main .purchase .purchase-close-btn span:nth-child(1) {
  transform: rotate(45deg);
}
main .purchase .purchase-close-btn span:nth-child(2) {
  transform: rotate(-45deg);
}
main .purchase img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1281px) {
  main .purchase img {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  main .purchase img {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info {
    height: 100%;
    float: right;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    vertical-align: text-bottom;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info {
    height: 100%;
    float: right;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    vertical-align: text-bottom;
  }
}
main .purchase .purchase-info .goods-title {
  font-size: 2rem;
  padding: 20px;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-title {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.8rem;
    padding: 30px 40px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-title {
    font-size: 1.6rem;
    padding: 10px 20px;
  }
}
main .purchase .purchase-info .goods-title .review-count {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  color: red;
  float: right;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-title .review-count {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-title .review-count {
    font-size: 1.6rem;
  }
}
main .purchase .purchase-info .goods-title .review-count:hover {
  text-decoration: underline;
}
main .purchase .purchase-info .goods-title .rating {
  margin-left: 3px;
  vertical-align: text-bottom;
  float: right;
}
main .purchase .purchase-info .goods-title .rating .rating-star {
  background-image: url(../../../images/amusementpark/krustyland/star-solid.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
main .purchase .purchase-info .goods-title .rating .rating-half-star {
  background-image: url(../../../images/amusementpark/krustyland/star-half-stroke-solid.svg);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-title .rating .rating-star, main .purchase .purchase-info .goods-title .rating .rating-half-star {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-title .rating .rating-star, main .purchase .purchase-info .goods-title .rating .rating-half-star {
    width: 15px;
    height: 15px;
  }
}
main .purchase .purchase-info .goods-price {
  border-bottom: 1px solid #dddfe1;
  padding: 20px;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-price {
    border-bottom: 1px solid #dddfe1;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-price {
    border-bottom: 1px solid #dddfe1;
    padding: 10px 20px;
  }
}
main .purchase .purchase-info .goods-price:after {
  content: "";
  clear: both;
  display: block;
}
main .purchase .purchase-info .goods-price .per-price {
  font-size: 2rem;
  font-weight: bold;
  float: left;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-price .per-price {
    font-size: 1.9rem;
    font-weight: bold;
    float: left;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-price .per-price {
    font-size: 1.8rem;
    font-weight: bold;
    float: left;
  }
}
main .purchase .purchase-info .goods-price .dib img {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}
main .purchase .purchase-info .goods-price .dib img.clicked {
  content: url(../../../images/amusementpark/krustyland/heart-solid.svg);
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-price .dib img {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-price .dib img {
    width: 18px;
    height: 18px;
  }
}
main .purchase .purchase-info .goods-quantity {
  /*----------------------------------- .purchase .goods-quantity ------------------------ */
  padding: 20px;
  border-bottom: 1px solid #dddfe1;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-quantity {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-quantity {
    padding: 10px 20px;
  }
}
main .purchase .purchase-info .goods-quantity:after {
  content: "";
  clear: both;
  display: block;
}
main .purchase .purchase-info .goods-quantity .number-title {
  font-size: 1.8rem;
  float: left;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-quantity .number-title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-quantity .number-title {
    font-size: 1.6rem;
  }
}
main .purchase .purchase-info .goods-quantity .quantity-box {
  float: right;
}
main .purchase .purchase-info .goods-quantity .quantity-box button {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  font-size: 1.8rem;
  line-height: 25px;
  cursor: pointer;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-quantity .quantity-box button {
    width: 20px;
    height: 20px;
    font-size: 1.9rem;
    line-height: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-quantity .quantity-box button {
    width: 20px;
    height: 20px;
    font-size: 1.9rem;
    line-height: 20px;
  }
}
main .purchase .purchase-info .goods-quantity .quantity {
  font-size: 1.8rem;
  margin: 0 20px;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-quantity .quantity {
    font-size: 1.7rem;
    margin: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-quantity .quantity {
    font-size: 1.7rem;
    margin: 0 20px;
  }
}
main .purchase .purchase-info .goods-total-price {
  /*----------------------------------- .purchase .goods-total-price ------------------------ */
  padding: 20px;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-total-price {
    padding: 15px 40px;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-total-price {
    padding: 10px 20px;
  }
}
main .purchase .purchase-info .goods-total-price:after {
  content: "";
  clear: both;
  display: block;
}
main .purchase .purchase-info .goods-total-price .total-title {
  float: left;
  font-size: 1.8rem;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-total-price .total-title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-total-price .total-title {
    font-size: 1.7rem;
  }
}
main .purchase .purchase-info .goods-total-price .total-price {
  float: right;
  color: red;
  font-weight: bold;
  font-size: 2.3rem;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .goods-total-price .total-price {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .goods-total-price .total-price {
    font-size: 1.9rem;
  }
}
main .purchase .purchase-info .purchase-btn {
  /*----------------------------------- .purchase .purchase-btn ------------------------ */
  width: 80%;
  display: block;
  margin-top: 50px;
  padding: 20px 10px;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.8rem;
  border: none;
  color: white;
  background-color: #000;
  border-bottom: 1px solid #dddfe1;
}
@media screen and (max-width: 1281px) {
  main .purchase .purchase-info .purchase-btn {
    width: 60%;
    padding: 10px 10px;
    margin: 30px auto 30px auto;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .purchase-info .purchase-btn {
    width: 80%;
    padding: 10px 10px;
    margin: 30px auto 30px auto;
    font-size: 1.7rem;
  }
}
main .purchase .goods-review {
  /*----------------------------------- .purchase .goods-review ------------------------ */
  width: 100%;
  padding: 15px 0;
}
@media screen and (max-width: 1281px) {
  main .purchase .goods-review {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .goods-review {
    padding: 0;
  }
}
main .purchase .goods-review table {
  width: 100%;
}
main .purchase .goods-review table tr {
  display: none;
  border-bottom: 1px solid #ddd;
}
main .purchase .goods-review table tr.active {
  display: block;
}
main .purchase .goods-review table td {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 1281px) {
  main .purchase .goods-review table td {
    padding: 5px 10px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .goods-review table td {
    padding: 10px 5px;
    font-size: 1.4rem;
  }
}
main .purchase .goods-review table td.customer-id {
  width: 20%;
}
main .purchase .goods-review table .register-date {
  width: 20%;
}
main .purchase .goods-review table .review {
  width: 60%;
}
main .purchase .review-wrapper {
  /*----------------------------------- .purchase .review-pager ------------------------ */
  width: 100%;
}
main .purchase .review-wrapper ul {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
main .purchase .review-wrapper ul li {
  display: inline-block;
}
main .purchase .review-wrapper ul li a {
  width: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 3px 8px;
  color: black;
}
@media screen and (max-width: 1281px) {
  main .purchase .review-wrapper ul li a {
    padding: 3px 8px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .purchase .review-wrapper ul li a {
    padding: 2px 6px;
    font-size: 1.4rem;
  }
}
main .purchase .review-wrapper ul li.active a {
  background-color: black;
  color: white;
  font-weight: bold;
}
main .shopping-bag {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 5%;
  bottom: 5%;
  background-color: white;
  border-radius: 50%;
  background-image: url(../../../images/amusementpark/krustyland/heart-solid.svg);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0.5px 0.5px 3px #999;
  cursor: pointer;
}
main .shopping-bag.rotate {
  animation: rotating 0.3s forwards ease;
}
main .shopping-bag:hover .bag-desc {
  opacity: 1;
}
@media screen and (max-width: 1281px) {
  main .shopping-bag {
    display: none;
  }
}
main .shopping-bag .bag-desc {
  position: absolute;
  background-color: white;
  bottom: 70px;
  font-size: 1.5rem;
  line-height: 20px;
  word-break: keep-all;
  padding: 10px;
  border-radius: 10px;
  width: 200%;
  opacity: 0;
  transition: 0.3s ease;
}
main .shopping-bag img {
  position: absolute;
  left: 5%;
  bottom: 70px;
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
main .shopping-bag img.shown {
  visibility: visible;
}
main .shopping-bag img.hidden {
  width: 0px;
  height: 0px;
  left: 10%;
  bottom: 0px;
  border-radius: 50%;
}

footer {
  background-color: white;
}

/* ------------------------------- animation ------------------------------------- */
@keyframes fadeOut {
  0% {
    display: none;
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes showItem {
  0% {
    visibility: visible;
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=krustyland.css.map */