@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.h-nav {
  transition: 0.5s ease-in-out;
  z-index: 98; /* 상품구매창의 레이어를 위해 z-index  변경*/
}
.h-nav .nav-ul li:nth-child(4) a {
  color: #e60000; /* nav 의 크러스티랜드 글자 빨갛게 변경 */
}

.mobile-menu {
  transition: 0.5s ease-in-out;
}

/*=================================================================================*/
main {
  /*----------------------------------- main  ---------------------------------------*/
}
main .banner-wrapper.bg-img {
  width: 100%;
  height: 500px;
  background: url(../../../images/amusementpark/krustyland.PNG) no-repeat;
  background-size: cover;
  background-position: center 70%;
  z-index: -1;
}
@media screen and (max-width: 1281px) {
  main .banner-wrapper.bg-img {
    height: 400px;
  }
}
@media screen and (max-width: 600px) {
  main .banner-wrapper.bg-img {
    height: 300px;
  }
}
main .menu {
  width: 100%;
  background-color: #fbc717;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
}
@media screen and (max-width: 1281px) {
  main .menu {
    padding: 0 20px;
  }
}
@media screen and (max-width: 600px) {
  main .menu {
    position: relative;
    padding: 0 20px;
  }
}
main .menu .container {
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
}
main .menu .container p {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333333;
  line-height: 50px;
}
@media screen and (max-width: 600px) {
  main .menu .container p {
    font-size: 1.3rem;
  }
}
main .menu .container p:nth-child(1) {
  float: left;
}
main .menu .container p:nth-child(2) {
  float: right;
}
main .goods {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: white;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  main .goods {
    padding: 0;
  }
}
main .goods .info {
  width: 65%;
  display: inline-block;
}
@media screen and (max-width: 600px) {
  main .goods .info {
    display: block;
    width: 100%;
  }
}
main .goods .info .slider {
  position: relative;
  width: 100%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  main .goods .info .slider {
    height: 400px;
  }
}
main .goods .info .slider img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .goods .info .slider button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}
main .goods .info .slider button.left {
  left: 5%;
}
main .goods .info .slider button.right {
  right: 5%;
}
main .goods .option {
  display: inline-block;
  vertical-align: top;
  width: 35%;
  height: 600px;
}
@media screen and (max-width: 600px) {
  main .goods .option {
    display: block;
    width: 100%;
    height: 400px;
  }
}
main .goods .option h5 {
  font-size: 1.8rem;
  padding: 20px;
}
@media screen and (max-width: 1281px) {
  main .goods .option h5 {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option h5 {
    font-size: 1.6rem;
    padding: 20px;
  }
}
main .goods .option .dib {
  cursor: pointer;
  padding: 20px;
}
main .goods .option .dib.clicked img {
  content: url(../../../images/amusementpark/krustyland/heart-solid.svg);
}
@media screen and (max-width: 1281px) {
  main .goods .option .dib {
    width: 18px;
    height: 18px;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .dib {
    padding: 10px 20px;
  }
}
main .goods .option .dib img {
  display: block;
  width: 20px;
  height: 20px;
}
main .goods .option .price {
  border-bottom: 1px solid #dddfe1;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  main .goods .option .price {
    border-bottom: 1px solid #dddfe1;
    padding: 10px 20px;
  }
}
main .goods .option .price:after {
  content: "";
  clear: both;
  display: block;
}
main .goods .option .price .per-price {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
}
@media screen and (max-width: 1281px) {
  main .goods .option .price .per-price {
    font-size: 1.9rem;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .price .per-price {
    font-size: 1.8rem;
    font-weight: bold;
  }
}
main .goods .option .color {
  padding: 20px;
  border-bottom: 1px solid #dddfe1;
  font-size: 1.8rem;
}
main .goods .option .color .color-title {
  display: block;
  margin-bottom: 15px;
}
@media screen and (max-width: 1281px) {
  main .goods .option .color .color-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .color .color-title {
    font-size: 1.4rem;
  }
}
main .goods .option .color .palette li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
main .goods .option .color .palette li:nth-child(1) button.red {
  background-color: red;
}
main .goods .option .color .palette li:nth-child(2) button.orange {
  background-color: orange;
}
main .goods .option .color .palette li:nth-child(3) button.yellow {
  background-color: yellow;
}
main .goods .option .color .palette li:nth-child(4) button.green {
  background-color: green;
}
main .goods .option .color .palette li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}
main .goods .option .quantity {
  padding: 20px;
  border-bottom: 1px solid #dddfe1;
  font-size: 1.8rem;
}
@media screen and (max-width: 600px) {
  main .goods .option .quantity {
    padding: 10px 20px;
  }
}
main .goods .option .quantity:after {
  content: "";
  clear: both;
  display: block;
}
main .goods .option .quantity .number-title {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
@media screen and (max-width: 1281px) {
  main .goods .option .quantity .number-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .quantity .number-title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1281px) {
  main .goods .option .quantity .value {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .quantity .value {
    font-size: 1.6rem;
    margin: 0 5px;
  }
}
main .goods .option .quantity button {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 1.8rem;
  line-height: 25px;
  cursor: pointer;
  border: 1px solid #6b6b6b;
  background-color: white;
}
@media screen and (max-width: 1281px) {
  main .goods .option .quantity button {
    width: 20px;
    height: 20px;
    font-size: 1.9rem;
    line-height: 20px;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .quantity button {
    width: 20px;
    height: 20px;
    font-size: 1.9rem;
    line-height: 20px;
  }
}
main .goods .option .total {
  padding: 20px;
}
@media screen and (max-width: 600px) {
  main .goods .option .total {
    padding: 10px 20px;
  }
}
main .goods .option .total:after {
  content: "";
  clear: both;
  display: block;
}
main .goods .option .total .total-title {
  display: block;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
@media screen and (max-width: 1281px) {
  main .goods .option .total .total-title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .total .total-title {
    font-size: 1.4rem;
  }
}
main .goods .option .total .total-price {
  color: red;
  font-weight: bold;
  font-size: 2.3rem;
  float: right;
}
@media screen and (max-width: 1281px) {
  main .goods .option .total .total-price {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .total .total-price {
    font-size: 1.9rem;
  }
}
main .goods .option .purchase-btn {
  /*----------------------------------- .goods .purchase-btn ------------------------ */
  width: 100%;
  display: block;
  margin-top: 50px;
  padding: 20px 10px;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.8rem;
  border: none;
  color: white;
  background-color: #000;
  border-bottom: 1px solid #dddfe1;
}
@media screen and (max-width: 1281px) {
  main .goods .option .purchase-btn {
    width: 60%;
    padding: 10px 10px;
    margin: 30px auto 30px auto;
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .option .purchase-btn {
    width: 80%;
    padding: 10px 10px;
    margin: 30px auto 30px auto;
    font-size: 1.7rem;
  }
}
main .goods .review {
  width: 100%;
  padding: 15px 0;
}
main .goods .review h5 {
  box-sizing: border-box;
  width: 100%;
  font-size: 1.8rem;
  padding: 20px;
  margin-top: 100px;
  font-weight: bold;
  border-bottom: 1px solid #333333;
}
@media screen and (max-width: 1281px) {
  main .goods .review {
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  main .goods .review {
    padding: 0;
  }
}
main .goods .review .review-table {
  width: 100%;
}
main .goods .review .review-table tr {
  border-bottom: 1px solid #ddd;
}
main .goods .review .review-table tr.active {
  display: block;
}
main .goods .review .review-table td {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 1281px) {
  main .goods .review .review-table td {
    padding: 5px 10px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .review .review-table td {
    padding: 10px 5px;
    font-size: 1.4rem;
  }
}
main .goods .review .review-table td.customer-id {
  width: 20%;
}
main .goods .review .review-table td.rate img {
  width: 20px;
  height: 20px;
}
main .goods .review .review-table .register-date {
  width: 20%;
}
main .goods .review-wrapper {
  /*----------------------------------- .goods .review-pager ------------------------ */
  width: 100%;
}
main .goods .review-wrapper .review-pager {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
main .goods .review-wrapper .review-pager .num {
  display: inline-block;
}
main .goods .review-wrapper .review-pager .num a {
  width: 100%;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 3px 8px;
  color: black;
}
@media screen and (max-width: 1281px) {
  main .goods .review-wrapper .review-pager .num a {
    padding: 3px 8px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  main .goods .review-wrapper .review-pager .num a {
    padding: 2px 6px;
    font-size: 1.4rem;
  }
}
main .goods .review-wrapper .review-pager .num.active a {
  background-color: black;
  color: white;
  font-weight: bold;
}
main .shopping-bag {
  position: fixed;
  width: 50px;
  height: 50px;
  left: 5%;
  bottom: 5%;
  background-color: white;
  border-radius: 50%;
  background-image: url(../../../images/amusementpark/krustyland/heart-solid.svg);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0.5px 0.5px 3px #999;
  z-index: 11;
  cursor: pointer;
}
main .shopping-bag.rotate {
  animation: rotating 0.3s forwards ease;
}
main .shopping-bag:hover .bag-desc, main .shopping-bag:focus-visible .bag-desc {
  opacity: 1;
}
@media screen and (max-width: 1281px) {
  main .shopping-bag {
    display: none;
  }
}
main .shopping-bag .bag-desc {
  position: absolute;
  background-color: white;
  bottom: 70px;
  font-size: 1.5rem;
  line-height: 20px;
  word-break: keep-all;
  padding: 10px;
  border-radius: 10px;
  width: 200%;
  opacity: 0;
  transition: 0.3s ease;
}
main .shopping-bag img {
  position: absolute;
  left: 5%;
  bottom: 70px;
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}
main .shopping-bag img.shown {
  visibility: visible;
}
main .shopping-bag img.hidden {
  width: 0px;
  height: 0px;
  left: 10%;
  bottom: 0px;
  border-radius: 50%;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=product.css.map */