@charset "utf-8";

@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

/* 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);

:root {
  color-scheme: light only;
}

html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

//헤더의 해당페이지 글자 빨간색으로 변경
.header__li:nth-child(4) {
  > .header__link {
    color: #e60000;
  }
}

/*=================================================================================*/
.main {
  /*----------------------------------- main  ---------------------------------------*/
  &__banner {
    background-image: url(../../../images/amusementpark/krustyland.PNG);
    background-position: center;
  }

  &__bar {
    width: 100%;
    background-color: #fbc717;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;

    @media screen and (max-width: 1281px) {
      & {
        padding: 0 20px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        position: relative;
        padding: 0 20px;
      }
    }

    &-inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      height: 50px;
    }

    &-text {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      line-height: 50px;

      @media screen and (max-width: 600px) {
        & {
          font-size: 13px;
        }
      }

      &:nth-child(1) {
        float: left;
      }

      &:nth-child(2) {
        float: right;
      }
    }
  }

  &__inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
    background-color: white;
    white-space: nowrap;

    @media screen and (max-width: 1281px) {
      & {
        width: 90%;
        padding: 20px 0;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        padding: 0px;
      }
    }
  }

  .slider-wrapper {
    width: 65%;
    display: inline-block;

    @media screen and (max-width: 600px) {
      & {
        display: block;
        width: 100%;
      }
    }
  }

  .slider {
    &-ly {
      position: relative;
      height: 600px;

      @media screen and (max-width: 1281px) {
        & {
          height: 500px;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          height: auto;
        }
      }
    }

    &__slide {
      position: relative;
      max-width: 80%;
      width: fit-content;
      height: inherit;
      margin: 0 auto;

      @media screen and (max-width: 600px) {
        & {
          height: 400px;
        }
      }
    }

    &__controls {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 0 5%;
    }

    &__btn {
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &--before {
        float: left;
      }
      &--next {
        float: right;
      }
    }
  }

  .title {
    &--h5 {
      font-size: 18px;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          font-size: 16px;
        }
      }
    }

    &--h6 {
      display: block;
      font-size: 18px;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          font-size: 14px;
        }
      }
    }
  }

  .palette {
    &__li {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .product {
    &-ly {
      display: inline-block;
      width: 35%;
      vertical-align: top;
    }

    @media screen and (max-width: 600px) {
      & {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__heart-btn {
      cursor: pointer;
      vertical-align: top;
      border: none;
      background-color: transparent;
      padding: 0;
      height: 100%;
    }
    &__heart-img {
      width: 20px;
      height: auto;

      @media screen and (max-width: 1281px) {
        & {
          width: 18px;
          height: 18px;
        }
      }
    }

    &__price {
      border-bottom: 1px solid #dddfe1;

      @media screen and (max-width: 600px) {
        & {
          border-bottom: 1px solid #dddfe1;
          padding: 10px 20px;
        }
      }

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }
    &__per-price {
      display: block;

      font-size: 22px;
      font-weight: bold;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 19px;
          font-weight: bold;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    &__color {
      border-bottom: 1px solid #dddfe1;
      font-size: 18px;
    }

    &__quantity {
      border-bottom: 1px solid #dddfe1;
      font-size: 18px;

      @media screen and (max-width: 600px) {
        & {
          padding: 10px 20px;
        }
      }

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }

    .quantity {
      &__count {
        @media screen and (max-width: 1281px) {
          & {
            font-size: 18px;
          }
        }
        @media screen and (max-width: 600px) {
          & {
            font-size: 16px;
            margin: 0 5px;
          }
        }
      }

      &__control-btn {
        border-radius: 50%;
        border: none;
        width: 25px;
        height: 25px;
        padding: 0;
        line-height: 25px;
        font-size: 18px;
        line-height: 25px;
        cursor: pointer;
        border: 1px solid #6b6b6b;
        background-color: white;

        @media screen and (max-width: 1281px) {
          & {
            width: 20px;
            height: 20px;
            font-size: 19px;
            line-height: 20px;
          }
        }
        @media screen and (max-width: 600px) {
          & {
            width: 20px;
            height: 20px;
            font-size: 19px;
            line-height: 20px;
          }
        }
      }
    }

    &__total {
      @media screen and (max-width: 600px) {
        & {
          padding: 10px 20px;
        }
      }

      &:after {
        content: "";
        clear: both;
        display: block;
      }
    }
    &__total-price {
      color: red;
      font-weight: bold;
      font-size: 23px;
      text-align: right;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 19px;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          font-size: 19px;
        }
      }
    }

    &__purchase-btn {
      width: 100%;
      display: block;
      margin-top: 50px;
      padding: 20px 10px;
      margin: 50px auto 0 auto;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 18px;
      border: none;
      color: white;
      background-color: #000;

      border-bottom: 1px solid #dddfe1;

      @media screen and (max-width: 1281px) {
        & {
          width: 60%;
          padding: 10px 10px;
          margin: 30px auto 30px auto;
          font-size: 17px;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          width: 80%;
          padding: 10px 10px;
          margin: 30px auto 30px auto;
          font-size: 17px;
        }
      }
    }

    &__bag {
      position: fixed;
      width: 50px;
      height: 50px;
      left: 5%;
      bottom: 5%;
      background-color: white;
      border-radius: 50%;
      background-image: url(../../../images/amusementpark/krustyland/heart-solid.svg);
      background-size: 60% 60%;
      background-position: center;
      background-repeat: no-repeat;
      box-shadow: 0.5px 0.5px 3px #999;
      z-index: 11;
      cursor: pointer;

      &.rotate {
        animation: rotating 0.3s forwards ease;
      }

      @media screen and (max-width: 1281px) {
        & {
          display: none;
        }
      }

      &:hover .product__bag-text,
      &:focus-visible .product__bag-text {
        opacity: 1;
      }

      &-text {
        position: absolute;
        background-color: white;
        bottom: 70px;
        font-size: 15px;
        line-height: 20px;
        word-break: keep-all;
        padding: 10px;
        border-radius: 10px;
        width: 200%;
        opacity: 0;
        transition: 0.3s ease;
      }
      &-img {
        position: absolute;
        left: 5%;
        bottom: 70px;
        width: 150px;
        height: 200px;
        background-color: white;
        border-radius: 10px;
        object-fit: cover;
        transition: 0.3s ease-in-out;
        visibility: hidden;

        &.shown {
          visibility: visible;
        }

        &.hidden {
          width: 0px;
          height: 0px;
          left: 10%;
          bottom: 0px;
          border-radius: 50%;
        }
      }
    }
  }

  &__review {
    width: 100%;
    padding: 15px 0;

    @media screen and (max-width: 1281px) {
      & {
        padding: 0;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        padding: 0;
      }
    }
  }

  .row-table {
    width: 100%;

    tr {
      border-bottom: 1px solid #ddd;
    }

    td,
    th {
      padding: 10px;
      box-sizing: border-box;
      text-align: center;
      font-size: 15px;

      @media screen and (max-width: 1281px) {
        & {
          padding: 5px 10px;
          font-size: 14px;
        }
      }
      @media screen and (max-width: 600px) {
        & {
          padding: 10px 5px;
          font-size: 14px;
        }
      }
    }

    th {
      background-color: #fbc717;
    }
  }

  &__review-pager {
    width: 100%;
    text-align: center;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*=============================== 모듈 ======================================*/

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;

  &--cover {
    object-fit: cover;
  }
}

.star-img {
  width: 20px;
  height: 20px;
}

.round-btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
}

.pager {
  padding: 20px 0;

  &__li {
    display: inline-block;
  }

  &__link {
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
    padding: 3px 8px;
    color: black;

    &--is-active {
      background-color: black;
      color: white;
      font-weight: bold;
    }

    @media screen and (max-width: 1281px) {
      & {
        padding: 3px 8px;
        font-size: 16px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        padding: 2px 6px;
        font-size: 14px;
      }
    }
  }
}

/*=============================== helper class ======================================*/
.pd20 {
  padding: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.text-indent {
  text-indent: -9999em;
}

.inline-block {
  display: inline-block;
}

.border {
  border: 3px solid black;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}

.bold {
  font-weight: bold;
}
