@import url(../skip.css);
@import url(./game_mobile.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

/* ----------------------------------------- header --------------------------------------- */

header {
  width: 100%;
  background-color: #dbdbdb;
  height: 45px;
}

header .top_wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header .brand a {
  float: left;
  line-height: 45px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-size: 1.9rem;
  font-weight: 700;
  cursor: default;
}

header .brand a:hover {
  cursor: pointer;
}

header .login {
  float: right;
  line-height: 45px;
}

header .login ul {
  display: flex;
}

header .login ul li {
  margin-left: 5px;
  margin-right: 5px;
}

header .login ul li a {
  font-size: 1.4rem;
}

header .login ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* ----------------------------------------- main --------------------------------------- */

/* --------------------- menu ---------------------------- */

main .contents {
  width: 100%;
}

main .contents .menu {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main .contents .menu .depth1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(62, 163, 153);
  border-radius: 10px;
  color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

main .contents .menu .depth1 li {
  text-align: center;
  position: relative;
  width: 240px;
  height: 65px;
  overflow: hidden;
}

main .contents .menu .depth1 li.first {
  border-top-left-radius: 10px;
}

main .contents .menu .depth1 li.last {
  border-top-right-radius: 10px;
}

main .contents .menu .depth1 li.show {
  overflow: visible;
  max-height: 100%;
}

main .contents .menu .depth1 li a {
  cursor: default;
  line-height: 65px;
  font-size: 1.8rem;
}

main .contents .menu .depth1 li a:hover {
  cursor: pointer;
}

main .contents .menu .depth1 li:hover {
  background-color: rgb(32, 138, 127);
}

main .contents .menu .depth1 li .depth2.first {
  border-bottom-left-radius: 10px;
}

main .contents .menu .depth1 li .depth2.last {
  border-bottom-right-radius: 10px;
}

main .contents .menu .depth1 li .depth2 {
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: rgb(71, 71, 71);
  position: absolute;
  z-index: 1;
  padding-bottom: 0;
}

main .contents .menu .depth1 li .depth2 li {
  text-align: center;
  height: 40px;
}

main .contents .menu .depth1 li .depth2 li a {
  font-size: 1.4rem;
  line-height: 40px;
  cursor: default;
}

main .contents .menu .depth1 li .depth2 li a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

/* --------------------- banner ---------------------------- */

main .banner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main .banner .screen {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

main .banner .screen a div {
  background-color: white;
  height: 400px;
  background-image: url(../../images/game/carl-raw-8Gdayy2Lhi0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main .banner .screen .promotion {
  position: absolute;
  height: 90px;
  left: 0;
  bottom: 0;
  width: 100%;
}

main .banner .screen .promotion .items {
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
main .banner .screen .promotion .item {
  width: 25%;
  height: 90px;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

main .banner .screen .promotion .item:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

main .banner .screen .promotion .item .name {
  font-size: 1.5rem;
  color: white;
}
main .banner .screen .promotion .item .detail {
  font-size: 1.7rem;
  color: white;
}
