@import url(setting.css);

/* -------------------로그인, 회원가입페이지는 속성조금변경----------------------- */

header .top-wrapper {
  max-width: 1200px;
  width: 100%;
}

body {
  background-color: white;
  overflow-x: hidden;
  min-width: 0;
}

/* ---------------------------------------------------------- */

.join {
  width: 100%;
  margin-top: 100px;
}

.join .logo {
  text-align: center;
}

.join .logo a {
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.join-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 50rem;
}

.join-wrapper ul {
  width: 100%;
}

.join-wrapper ul li {
  width: 100%;
}

.join-wrapper li a {
  display: block;
  width: 100%;
  height: 70px;
  border: 1px solid #ccc;
  text-align: center;
  margin: 20px 0;
  color: black;
  text-decoration: none;
}

.join-wrapper a span {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 70px;
  margin-right: 5px;
  position: relative;
}

.join-wrapper a span:not(:last-child):before {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: rgb(42, 180, 166);
}

.join-wrapper a span.smaller {
  font-size: 1.6rem;
  color: gray;
  margin-left: 5px;
  font-weight: normal;
}

.join-wrapper a:hover {
  border: 1px solid rgb(101, 200, 233);
}
