@media only screen and (max-width: 550px) {
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 150px;
    font-size: 1.3rem;
  }

  input[type="radio"] {
    width: 30px;
    font-size: 1.3rem;
  }

  textarea {
    height: 100px;
    font-size: 1.2rem;
  }

  .page {
    width: 90%;
    height: 100%;
    margin-top: 25px;
  }

  .page .contents .form_items .title {
    font-size: 1.5rem;
    border-top: 50px solid #2f2f2f;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
  }

  .page .contents .form_items .title .t {
    font-size: 1.4rem;
    left: 20%;
    right: 20%;
    top: 6.8%;
  }

  .page .contents .form_items .form_item {
    padding: 20px;
  }

  .page .contents .form_items .form_item .f_title {
    font-size: 1.3rem;
    width: 70px;
    margin-left: 20px;
    margin-right: 10px;
  }

  .page .contents .form_items .form_item .f_contents {
    font-size: 1.5rem;
  }

  .page .contents .submit_item .s_contents {
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
  }

  .page .contents .submit_item .s_btn {
    width: 90px;
    height: 35px;
    font-size: 1.3rem;
  }
}
