@import url(../setting.css);

/* -------------------------------main -------------------------------- */
/* ---------------- 목록에서 게시판을 선택하는 페이지 -------------------- */
.boards {
  width: 100%;
  margin-top: 20px;
}

.boards:after {
  content: "";
  display: block;
  clear: both;
}

.boards ul {
  width: 100%;
}

.boards .gname {
  float: left;
  width: 45%;
}

.boards .gname {
  margin: 0 20px;
}

.gname a {
  display: block;
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  background-color: salmon;
  margin-bottom: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  padding-left: 40px;
  color: black;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  position: relative;
}

.gname:nth-child(4) a {
  background-position-y: 60%;
}

.gname a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: 0.3s;
}
.gname a:hover:before {
  background-color: rgba(0, 0, 0, 0);
}
.gname a:hover {
  animation: bgmove 2s linear infinite alternate;
}

.gname span {
  font-size: 2rem;
  line-height: 100px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
}

@keyframes bgmove {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}
