@import url(./header.css);
@import url(../../reset.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #031720;
}

a {
  color: black;
}

/* -------------------------------------------------contents--------------------------------------------- */

.contents {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.contents .album_items .album_item {
  margin-top: 100px;
  width: inherit;
  background-color: white;
}

.contents .album_items .album_item .a_title {
  font-size: 2.1rem;
  font-weight: 600;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #031720;
  color: rgba(255, 255, 255, 0.9);
}

.contents .album_items .album_item .a_desc {
  display: flex;
  transition: 0.4s ease-in-out;
}

.contents .album_items .album_item .a_desc .a_img {
  width: 50%;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
}

.contents .album_items .album_item .a_desc .a_description {
  background-color: crimson;
  width: 50%;
  height: 450px;
}

.contents .album_items .album_item .a_desc .a_description .d_title {
  margin-top: 35px;
  padding-top: 3px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.contents .album_items .album_item .a_desc .a_description .tracklist {
  margin-top: 40px;
  height: 327px;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 50px;
  overflow: auto;
  background-color: #031720;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* -------------------------------------------------footer--------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  margin-top: 100px;
  background-color: black;
}

/* -----------------------------------------------적응-------------------------------------------------------- */

.contents {
  width: 90%;
  margin: 0 auto;
}

.contents .album_items {
  margin: 0 auto;
}

.contents .album_items .album_item {
  width: 100%;
  margin-top: 50px;
}

.contents .album_items .album_item .a_title {
  font-size: 1.6rem;
  height: 50px;
  line-height: 50px;
}

.contents .album_items .album_item .a_desc {
  display: block;
}

.contents .album_items .album_item .a_desc .a_img {
  width: 100%;
  height: 290px;
}

.contents .album_items .album_item .a_desc .a_description {
  width: 100%;
  height: 205px;
}

.contents .album_items .album_item .a_desc .a_description .d_title {
  margin: 0px;
  font-size: 1.7rem;
  font-weight: 600;
  height: 15px;
  line-height: 35px;
}

.contents .album_items .album_item .a_desc .a_description .tracklist {
  margin-top: 20px;
  line-height: 35px;
  height: 150px;
  font-size: 1.3rem;
}

.footer {
  margin-top: 50px;
}
