@import url(./m_header.css);
@import url(../../reset.css);

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #031720;
}

a {
  color: black;
}

/* -------------------------------------------------contents--------------------------------------------- */

.help_contents {
  width: 100%;
  height: 100%;
}

.help_contents .items {
  width: 950px;
  margin: 150px auto;
}

.help_contents .items .item {
  width: inherit;
  margin-top: 2px;
}

.help_contents .items .item .title {
  font-size: 2.3rem;
  font-weight: 500;
  width: inherit;
  height: 60px;
  background-color: #031720;
  color: white;
  text-align: center;
  line-height: 60px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.help_contents .items .qna .list ul li .question {
  width: 100%;
  font-size: 1.6rem;
  text-align: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: #2f3b41;
  color: rgb(228, 228, 228);
  border: 10px;
  cursor: pointer;
  margin-top: 2px;
}

.help_contents .items .qna .list ul li .question::before {
  content: "Q";
  font-size: 1.6rem;
  color: orange;
  margin-right: 10px;
  font-weight: 700;
}

.help_contents .items .qna .list ul li .answer {
  width: inherit;
  font-size: 1.6rem;
  text-align: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: rgb(219, 219, 219);
  color: #031720;
  transition: max-height 0.7s;
  max-height: 0;
  overflow: hidden;
  font-weight: 600;
}

.help_contents .items .qna .list ul li .answer::before {
  content: "A";
  font-size: 1.6rem;
  color: blue;
  margin-right: 10px;
  font-weight: 700;
}

.help_contents .items .qna .list ul li .show {
  max-height: 50px;
}

.help_contents .items .item .contact {
  border-top: 2px solid #858585;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #031720;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #a7a7a7;
}

.help_contents .items .item .contact .phone {
  flex: 1;
  text-align: center;
}

.help_contents .items .item .contact .deco {
  background-color: rgb(82, 82, 82);
  width: 2px;
  height: 50px;
}

.help_contents .items .item .contact .email {
  flex: 1;
  text-align: center;
}

/* -------------------------------------------------footer--------------------------------------------- */

.footer {
  width: 100%;
  height: 70px;
  background-color: black;
}

/* -----------------------------------------------적응-------------------------------------------------------- */

.help_contents {
  width: 85%;
  margin: 50px auto;
}

.help_contents .items {
  width: 100%;
  margin: 0;
}

.help_contents .items .item {
  margin-top: 1px;
}

.help_contents .items .item .title {
  font-size: 1.8rem;
  height: 40px;
  line-height: 40px;
}

.help_contents .items .qna .list ul li .question {
  font-size: 1.3rem;
  height: 35px;
  line-height: 35px;
}

.help_contents .items .qna .list ul li .question::before {
  font-size: 1.3rem;
}

.help_contents .items .qna .list ul li .answer {
  font-size: 1.3rem;
  height: 35px;
  line-height: 35px;
  font-weight: 600;
}

.help_contents .items .qna .list ul li .answer::before {
  font-size: 1.4rem;
}

.help_contents .items .item .contact {
  display: block;
  height: 40px;
  font-size: 1.4rem;
}

.help_contents .items .item .contact .phone {
  margin-bottom: 5px;
  margin-top: 3px;
}

.help_contents .items .item .contact .email {
  text-align: center;
}

.help_contents .items .item .contact .deco {
  display: none;
}

.footer {
  margin-top: 50px;
}
