@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);

html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.h-nav {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;

  &.scrolldown {
    opacity: 0;
    pointer-events: none;
  }

  & .nav-ul {
    li:nth-child(5) {
      & a {
        color: #e60000; /* nav 의 아쿠아리움 글자 빨갛게 변경 */
      }
    }
  }
}

.mobile-nav {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;

  &.scrolldown {
    opacity: 0;
    pointer-events: none;
  }
}

$color: rgba(
  $color: #ffffff,
  $alpha: 0.7,
);

html:not(.js) h2,
html:not(.js) h3 {
  color: black;
}

/*=================================================================================*/

main {
  & .banner-wrapper.bg-img {
    /* -----------------------------------  main .banner-bgdiv  --------------------------------------- */
    width: 100vw;
    height: 90vh;
    background-image: url(../../../images/amusementpark/aquarium/dmitry-bukhantsov-IBrZ-TXYWY8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &.loaded {
      background-color: blue;
    }

    & .title {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0 auto;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      color: white;
      font-weight: bold;
      text-shadow: 1px 1px 5px #558abb, -1px -1px 5px #558abb;

      @media screen and (max-width: 1281px) {
        & {
          font-size: 3rem;
        }
      }

      @media screen and (max-width: 600px) {
        & {
          font-size: 2.5rem;
        }
      }
    }

    & .waves-wrapper {
      /* ------------------main .banner-bg .waves-wrapper  -------------------- */
      position: absolute;
      width: 100%;
      bottom: 0;

      & .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px; /*Fix for safari gap*/
        min-height: 100px;
        max-height: 120px;

        & .parallax > use {
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5)
            infinite;
        }
        & .parallax > use:nth-child(1) {
          animation-delay: -2s;
          animation-duration: 7s;
        }
        & .parallax > use:nth-child(2) {
          animation-delay: -3s;
          animation-duration: 10s;
        }

        @keyframes move-forever {
          0% {
            transform: translate3d(-90px, 0, 0);
          }
          100% {
            transform: translate3d(85px, 0, 0);
          }
        }
      }
      @media screen and (max-width: 1281px) {
        .waves {
          height: 80px;
          min-height: 80px;
        }
        .content {
          height: 30vh;
        }
      }

      @media screen and (max-width: 600px) {
        .waves {
          height: 60px;
          min-height: 60px;
        }
        .content {
          height: 30vh;
        }
      }
    }
  }
  & .time-wrapper {
    /*-- ------------------------------  main .time-wrapper -------------------------------- */
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;

    @media screen and (max-width: 1281px) {
      padding: 80px 0;
    }

    @media screen and (max-width: 600px) {
      padding: 60px 0;
    }

    & .time {
      width: 100%;
      height: 100%;

      & img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
      }

      & .open-time {
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 5px;
        display: block;
        margin-top: 50px;
      }

      @media screen and (max-width: 1281px) {
        & img {
          width: 70px;
          height: 70px;
          display: block;
          margin: 0 auto;
          margin-bottom: 15px;
        }

        & .open-time {
          display: block;
          margin-left: 0px;
          margin-top: 15px;
          font-size: 2.4rem;
        }
      }

      @media screen and (max-width: 600px) {
        & img {
          width: 55px;
          height: 55px;
          display: block;
          margin: 0 auto;
          margin-bottom: 10px;
        }

        & .open-time {
          display: block;
          font-size: 2rem;
          margin-top: 10px;
          letter-spacing: 5.5px;
        }
      }
    }

    & .countdown {
      width: 100%;
      height: 100%;
      margin-top: 50px;
      @media screen and (max-width: 1281px) {
        margin-top: 30px;
      }

      @media screen and (max-width: 600px) {
        margin-top: 20px;
      }

      & .part {
        display: inline-block;
        width: 80px;
        height: 80px;
        box-sizing: border-box;
        text-align: center;
        margin: 0 3px;
        line-height: 80px;
        background-color: rgb(71, 71, 71);
        color: white;
        border-radius: 15px;
        font-size: 3rem;

        @media screen and (max-width: 1281px) {
          width: 67px;
          height: 67px;
          line-height: 67px;
          font-size: 2.5rem;
        }

        @media screen and (max-width: 600px) {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 2rem;
        }
      }

      & .countdown-title {
        font-size: 2rem;
        margin: 50px auto 0 auto;
        color: rgb(71, 71, 71);
        background-color: rgb(219, 219, 219);
        width: 255px;
        padding: 10px 0;
        border-radius: 10px;

        @media screen and (max-width: 1281px) {
          width: 220px;
          font-size: 1.8rem;
          margin-top: 30px;
        }

        @media screen and (max-width: 600px) {
          width: 205px;
          font-size: 1.6rem;
          margin-top: 20px;
        }
      }
    }
  }

  & .event-wrapper {
    /*-- ---------------------  main .event-wrapper ---------------------- */
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 1281px) {
      height: 500px;
    }

    @media screen and (max-width: 600px) {
      height: 300px;
    }

    & .title {
      position: relative;
      top: 55%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 2.5rem;
      opacity: 0;
      color: white;
      z-index: 10;
      text-shadow: 1px 1px 10px #123758, -1px -1px 10px #123758;
      transition: 0.3s ease-in-out;
      &.active {
        top: 50%;
        opacity: 1;
        transition-delay: 1s;
      }

      @media screen and (max-width: 1281px) {
        font-size: 2.3rem;
        text-align: center;
        word-break: keep-all;
      }

      @media screen and (max-width: 600px) {
        & {
          font-size: 1.8rem;
          text-align: center;
          word-break: keep-all;
        }
      }
    }

    & .event-slider {
      /*----------  main .event-wrapper .event-slider (siema.js사용) ----------*/
      width: 100%;
      height: 100%;

      & > div:after {
        content: "";
        display: block;
        clear: both;
      }

      & div.item {
        width: 100%;
        height: 800px;
        background-color: blue;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: 1281px) {
          height: 500px;
        }

        @media screen and (max-width: 600px) {
          height: 300px;
        }
      }

      & .item.one {
        background-image: url(../../../images/amusementpark/aquarium.PNG);
      }
      & .item.two {
        background-image: url(../../../images/amusementpark/aquarium/aquarium3.JPG);
      }
      & .item.three {
        background-image: url(../../../images/amusementpark/aquarium/aquarium4.JPG);
      }
    }

    & .btn-wrapper {
      /*------- ..event-wrapper .btn-wrapper -----------*/
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;

      & button {
        transform: translateY(-50%);
        padding: 10px;
        border: 0;
        width: 50px;
        height: 50px;
        background-color: transparent;
        cursor: pointer;
        text-indent: -9999em;
        vertical-align: sub;

        @media screen and (max-width: 1281px) {
        }

        @media screen and (max-width: 600px) {
          & {
            width: 30px;
            height: 30px;
          }
        }
      }

      & .prev {
        position: absolute;
        top: 50%;
        left: 5%;
        border-left: 3px solid $color;
        border-bottom: 3px solid $color;
        transform: rotate(45deg) translateY(-50%);

        @media screen and (max-width: 1281px) {
          & {
            left: 5%;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            left: 5%;
          }
        }
      }

      & .next {
        position: absolute;
        top: 50%;
        right: 5%;
        border-right: 3px solid $color;
        border-top: 3px solid $color;
        transform: rotate(45deg) translateY(-50%);

        @media screen and (max-width: 1281px) {
          & {
            right: 10%;
          }
        }

        @media screen and (max-width: 600px) {
          & {
            right: 10%;
          }
        }
      }

      & .index-button-wrapper {
        /*-------  .btn-wrapper .index-button-wrapper -----------*/
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;

        & .index-button {
          width: 10px;
          height: 10px;
          padding: 0;
          background-color: $color;
          border-radius: 50%;
          margin: 0 10px;
          text-indent: -9999em;

          &.selected {
            background-color: white;
          }
        }

        & .controller {
          width: 17px;
          height: 17px;
          padding: 0;
          margin: 0 10px;
          color: white;
          vertical-align: middle;

          & img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------------------------------- */
