@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.top-nav {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;
}
.top-nav.scrolldown {
  opacity: 0;
  pointer-events: none;
}
.top-nav > .wrapper li:nth-child(5) a {
  color: #e60000; /* nav 의 아쿠아리움 글자 빨갛게 변경 */
}

.top-nav-mobile {
  position: fixed; /* position : fixed */
  transition: 0.5s ease-in-out;
}
.top-nav-mobile.scrolldown {
  opacity: 0;
  pointer-events: none;
}

a.hiding + * {
  position: relative;
  transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0);
  top: 50px;
  opacity: 0;
}

html:not(.js) h2,
html:not(.js) h3 {
  color: black;
}

main .banner-wrapper {
  /* -----------------------------------  main .banner-wrapper  --------------------------------------- */
  width: 100vw;
  min-height: 100vh;
  background-image: url(../../../images/amusementpark/aquarium/dmitry-bukhantsov-IBrZ-TXYWY8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
main .banner-wrapper.loaded {
  background-color: blue;
}
main .banner-wrapper .title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 5px #558abb, -1px -1px 5px #558abb;
}
@media screen and (max-width: 1281px) {
  main .banner-wrapper .title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 600px) {
  main .banner-wrapper .title {
    font-size: 2.5rem;
  }
}
main .banner-wrapper .waves-wrapper {
  /* ------------------main .banner-wrapper .waves-wrapper  -------------------- */
  position: absolute;
  width: 100%;
  bottom: 0;
}
main .banner-wrapper .waves-wrapper .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 120px;
}
main .banner-wrapper .waves-wrapper .waves .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
main .banner-wrapper .waves-wrapper .waves .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
main .banner-wrapper .waves-wrapper .waves .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media screen and (max-width: 1281px) {
  main .banner-wrapper .waves-wrapper .waves {
    height: 80px;
    min-height: 80px;
  }
  main .banner-wrapper .waves-wrapper .content {
    height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  main .banner-wrapper .waves-wrapper .waves {
    height: 60px;
    min-height: 60px;
  }
  main .banner-wrapper .waves-wrapper .content {
    height: 30vh;
  }
}
main .info-wrapper {
  /*-- ------------------------------  main .info-wrapper -------------------------------- */
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
@media screen and (max-width: 1281px) {
  main .info-wrapper {
    padding: 80px 0;
  }
}
@media screen and (max-width: 600px) {
  main .info-wrapper {
    padding: 60px 0;
  }
}
main .info-wrapper .time {
  width: 100%;
  height: 100%;
}
main .info-wrapper .time img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
main .info-wrapper .time .open-time {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  display: block;
  margin-top: 50px;
}
@media screen and (max-width: 1281px) {
  main .info-wrapper .time img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  main .info-wrapper .time .open-time {
    display: block;
    margin-left: 0px;
    margin-top: 15px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 600px) {
  main .info-wrapper .time img {
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  main .info-wrapper .time .open-time {
    display: block;
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: 5.5px;
  }
}
main .info-wrapper .countdown {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 1281px) {
  main .info-wrapper .countdown {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  main .info-wrapper .countdown {
    margin-top: 20px;
  }
}
main .info-wrapper .countdown .part {
  display: inline-block;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 3px;
  line-height: 80px;
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 15px;
  font-size: 3rem;
}
@media screen and (max-width: 1281px) {
  main .info-wrapper .countdown .part {
    width: 67px;
    height: 67px;
    line-height: 67px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  main .info-wrapper .countdown .part {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
  }
}
main .info-wrapper .countdown .countdown-title {
  font-size: 2rem;
  margin: 50px auto 0 auto;
  color: rgb(71, 71, 71);
  background-color: rgb(219, 219, 219);
  width: 255px;
  padding: 10px 0;
  border-radius: 10px;
}
@media screen and (max-width: 1281px) {
  main .info-wrapper .countdown .countdown-title {
    width: 220px;
    font-size: 1.8rem;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  main .info-wrapper .countdown .countdown-title {
    width: 205px;
    font-size: 1.6rem;
    margin-top: 20px;
  }
}
main .event-wrapper {
  /*-- ---------------------  main .event-wrapper ---------------------- */
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 1281px) {
  main .event-wrapper {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  main .event-wrapper {
    height: 300px;
  }
}
main .event-wrapper .title {
  position: relative;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2.5rem;
  opacity: 0;
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 10px #123758, -1px -1px 10px #123758;
  transition: 0.3s ease-in-out;
}
main .event-wrapper .title.active {
  top: 50%;
  opacity: 1;
  transition-delay: 1s;
}
@media screen and (max-width: 1281px) {
  main .event-wrapper .title {
    font-size: 2.3rem;
    text-align: center;
    word-break: keep-all;
  }
}
@media screen and (max-width: 600px) {
  main .event-wrapper .title {
    font-size: 1.8rem;
    text-align: center;
    word-break: keep-all;
  }
}
main .event-wrapper .event-slider {
  /*----------  main .event-wrapper .event-slider (siema.js사용) ----------*/
  width: 100%;
  height: 100%;
}
main .event-wrapper .event-slider > div:after {
  content: "";
  display: block;
  clear: both;
}
main .event-wrapper .event-slider div.item {
  width: 100%;
  height: 800px;
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1281px) {
  main .event-wrapper .event-slider div.item {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  main .event-wrapper .event-slider div.item {
    height: 300px;
  }
}
main .event-wrapper .event-slider .item.one {
  background-image: url(../../../images/amusementpark/aquarium.PNG);
}
main .event-wrapper .event-slider .item.two {
  background-image: url(../../../images/amusementpark/aquarium/aquarium3.JPG);
}
main .event-wrapper .event-slider .item.three {
  background-image: url(../../../images/amusementpark/aquarium/aquarium4.JPG);
}
main .event-wrapper .btn-wrapper {
  /*------- ..event-wrapper .btn-wrapper -----------*/
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
main .event-wrapper .btn-wrapper button {
  transform: translateY(-50%);
  padding: 10px;
  border: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  text-indent: -9999em;
  vertical-align: sub;
}
@media screen and (max-width: 600px) {
  main .event-wrapper .btn-wrapper button {
    width: 30px;
    height: 30px;
  }
}
main .event-wrapper .btn-wrapper .prev {
  position: absolute;
  top: 50%;
  left: 5%;
  border-left: 3px solid rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg) translateY(-50%);
}
@media screen and (max-width: 1281px) {
  main .event-wrapper .btn-wrapper .prev {
    left: 5%;
  }
}
@media screen and (max-width: 600px) {
  main .event-wrapper .btn-wrapper .prev {
    left: 5%;
  }
}
main .event-wrapper .btn-wrapper .next {
  position: absolute;
  top: 50%;
  right: 5%;
  border-right: 3px solid rgba(255, 255, 255, 0.7);
  border-top: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg) translateY(-50%);
}
@media screen and (max-width: 1281px) {
  main .event-wrapper .btn-wrapper .next {
    right: 10%;
  }
}
@media screen and (max-width: 600px) {
  main .event-wrapper .btn-wrapper .next {
    right: 10%;
  }
}
main .event-wrapper .btn-wrapper .index-button-wrapper {
  /*-------  .btn-wrapper .index-button-wrapper -----------*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}
main .event-wrapper .btn-wrapper .index-button-wrapper .index-button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 0 10px;
  text-indent: -9999em;
}
main .event-wrapper .btn-wrapper .index-button-wrapper .index-button.selected {
  background-color: white;
}
main .event-wrapper .btn-wrapper .index-button-wrapper .controller {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0 10px;
  color: white;
  vertical-align: middle;
}
main .event-wrapper .btn-wrapper .index-button-wrapper .controller img {
  display: block;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------------------------------- *//*# sourceMappingURL=aquarium.css.map */