@charset "UTF-8";
@import url(../../reset.css);
@import url(../layout/header.css);
@import url(../layout/footer.css);
/* 모듈 
(블록주석 : shit alt all) */
@import url(../module/background-img.css);
html {
  font-size: 62.5%; /*  setting rem  */
  scroll-behavior: smooth;
}

body {
  font-family: "NotoSans-Bold", "맑은 고딕", "Malgun Gothic", sans-serif;
  overflow-x: hidden;
}

.header__li:nth-child(5) > .header__link {
  color: #e60000;
}

/*=================================================================================*/
.title {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 5px #558abb, -1px -1px 5px #558abb;
}
.title--h2 {
  font-size: 40px;
}
.title--color-white {
  color: white;
}
@media screen and (max-width: 1281px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 25px;
  }
}

.img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.img--cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.main__banner {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-image: url(../../../images/amusementpark/aquarium/dmitry-bukhantsov-IBrZ-TXYWY8.png);
  background-color: black;
}
.main__waves-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.main__waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 120px;
}
.main__waves .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.main__waves .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.main__waves .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media screen and (max-width: 1281px) {
  .main__waves {
    height: 80px;
    min-height: 80px;
  }
}
@media screen and (max-width: 600px) {
  .main__waves {
    height: 60px;
    min-height: 60px;
  }
}
.main__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
}
.main__timer-wrapper {
  /*-- ------------------------------  main .time-wrapper -------------------------------- */
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
}
@media screen and (max-width: 1281px) {
  .main__timer-wrapper {
    margin: 80px 0;
  }
}
@media screen and (max-width: 600px) {
  .main__timer-wrapper {
    margin: 60px 0;
  }
}
.main__clock-img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 1281px) {
  .main__clock-img__img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .main__clock-img__img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
  }
}
.main__timer {
  width: 100%;
  height: 100%;
}
.main .timer__oppeningHours {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 50px;
}
@media screen and (max-width: 1281px) {
  .main .timer__oppeningHours {
    margin-top: 15px;
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__oppeningHours {
    font-size: 2rem;
    margin-top: 10px;
    letter-spacing: 5.5px;
  }
}
.main .timer__countdown {
  margin-top: 50px;
}
@media screen and (max-width: 1281px) {
  .main .timer__countdown {
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__countdown {
    margin-top: 20px;
  }
}
.main .timer__time-ly {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 3px;
}
@media screen and (max-width: 1281px) {
  .main .timer__time-ly {
    width: 67px;
    height: 67px;
    line-height: 67px;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__time-ly {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}
.main .timer__time {
  box-sizing: border-box;
  background-color: rgb(71, 71, 71);
  color: white;
  border-radius: 15px;
  font-size: 30px;
}
@media screen and (max-width: 1281px) {
  .main .timer__time {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__time {
    font-size: 20px;
  }
}
.main .timer__business-status-ly {
  width: 255px;
  margin: 50px auto 0 auto;
}
@media screen and (max-width: 1281px) {
  .main .timer__business-status-ly {
    width: 220px;
    font-size: 1.8px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__business-status-ly {
    width: 205px;
    font-size: 1.6px;
    margin-top: 20px;
  }
}
.main .timer__business-status {
  font-size: 20px;
  color: rgb(71, 71, 71);
  background-color: rgb(219, 219, 219);
  padding: 10px 0;
  border-radius: 10px;
}
@media screen and (max-width: 1281px) {
  .main .timer__business-status {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .main .timer__business-status {
    font-size: 16px;
  }
}
.main__event {
  /*-- ---------------------  main .event-wrapper ---------------------- */
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
@media screen and (max-width: 1281px) {
  .main__event {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .main__event {
    height: 300px;
  }
}
.main__event-slider {
  width: 100%;
}
.main__event-slide {
  height: 800px;
}
@media screen and (max-width: 1281px) {
  .main__event-slide {
    height: 500px;
  }
}
@media screen and (max-width: 600px) {
  .main__event-slide {
    height: 300px;
  }
}
.main__event-title {
  position: relative;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 2.5rem;
  opacity: 0;
  color: white;
  z-index: 10;
  text-shadow: 1px 1px 10px #123758, -1px -1px 10px #123758;
  transition: 0.3s ease-in-out;
}
.main__event-title.active {
  top: 50%;
  opacity: 1;
  transition-delay: 1s;
}
@media screen and (max-width: 1281px) {
  .main__event-title {
    font-size: 2.3rem;
    text-align: center;
    word-break: keep-all;
  }
}
@media screen and (max-width: 600px) {
  .main__event-title {
    font-size: 1.8rem;
    text-align: center;
    word-break: keep-all;
  }
}
.main .slider {
  /*----------  main .event-wrapper .event-slider (siema.js사용) ----------*/
}
.main .slider > div:after {
  content: "";
  display: block;
  clear: both;
}
.main .slider__slide {
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .slider__controller-wrapper {
  position: absolute;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main .slider__btn {
  transform: translateY(-50%);
  padding: 10px;
  border: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  text-indent: -9999em;
  vertical-align: sub;
}
@media screen and (max-width: 600px) {
  .main .slider__btn {
    width: 30px;
    height: 30px;
  }
}
.main .slider__btn--prev {
  position: absolute;
  top: 50%;
  left: 5%;
  border-left: 3px solid rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg) translateY(-50%);
}
@media screen and (max-width: 1281px) {
  .main .slider__btn--prev {
    left: 5%;
  }
}
@media screen and (max-width: 600px) {
  .main .slider__btn--prev {
    left: 5%;
  }
}
.main .slider__btn--next {
  position: absolute;
  top: 50%;
  right: 5%;
  border-right: 3px solid rgba(255, 255, 255, 0.7);
  border-top: 3px solid rgba(255, 255, 255, 0.7);
  transform: rotate(45deg) translateY(-50%);
}
@media screen and (max-width: 1281px) {
  .main .slider__btn--next {
    right: 10%;
  }
}
@media screen and (max-width: 600px) {
  .main .slider__btn--next {
    right: 10%;
  }
}
.main .slider__btn--pause {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0 10px;
  color: white;
  vertical-align: middle;
}
.main .slider__btn--play {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0 10px;
  color: white;
  vertical-align: middle;
}
.main .slider__index-button-wrapper {
  /*-------  .btn-wrapper .index-button-wrapper -----------*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}
.main .slider__index {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border: none;
  margin: 0 10px;
  text-indent: -9999em;
  cursor: pointer;
}
.main .slider__index.selected {
  background-color: white;
}

/* --------------------------------------------------------------------------- */
.display-block {
  display: block;
}/*# sourceMappingURL=aquarium.css.map */